<app-admin-left-nav></app-admin-left-nav>

<main class="admin-main page-layout--push-down-element">
  <div class="top-nav--holder align-items-centre">
    <div class="top-nav--left">
      <h1 class="top-nav--title font-normal">Entities</h1>
    </div>
  </div>

  <div class="flex-mobile-column_tablet-row mt-lg-res">
    <div class="admin--layout-column-two">
      <div class="flex-grow">
        <div class="table--holder">
          <table class="table">
            <thead>
              <tr class="table--row">
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  Entity
                </th>
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  Custom meta description?
                </th>
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  YAML updated
                </th>
                <th
                  class="
                    table--cell-heading
                    table--cell-primary-mobile
                    table--cell-action
                  "
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="!entities">
                <tr class="table--row">
                  <td
                    class="table--cell table--cell-primary-mobile"
                    colspan="4"
                  >
                    Loading Entities...
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="entities">
                <tr
                  class="table--row"
                  [ngClass]="
                    entity.recently_updated ? 'table--row-light-yellow' : ''
                  "
                  *ngFor="let entity of entities"
                >
                  <td class="table--cell table--cell-primary-mobile">
                    <a
                      routerLink="/entity/{{ entity.slug }}"
                      class="link--orange"
                      target="blank"
                    >
                      {{ entity.name }}
                      <img
                        src="/assets/img/new-tab.png"
                        width="12"
                        height="12"
                      />
                    </a>
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    <span *ngIf="entity.meta_description === null">No</span>
                    <span *ngIf="entity.meta_description !== null">Yes</span>
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    {{ entity.attachment_updated_at }}
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    <div class="flex">
                      <button
                        type="button"
                        (click)="onEdit(entity)"
                        class="flex table--action-button"
                      >
                        Edit
                      </button>
                      <button
                        *ngIf="entity.top_pick == false"
                        type="button"
                        (click)="toggleTopPick(entity, true)"
                        class="flex table--action-button"
                      >
                        Set as Top Pick
                      </button>
                      <button
                        *ngIf="entity.top_pick == true"
                        type="button"
                        (click)="toggleTopPick(entity, false)"
                        class="flex table--action-button"
                      >
                        Remove Top Pick
                      </button>
                      <button
                        type="button"
                        (click)="onAssignPartners(entity)"
                        class="flex table--action-button"
                      >
                        Assign Partners
                      </button>
                      <button
                        type="button"
                        (click)="onAssignAuthor(entity)"
                        class="flex table--action-button"
                      >
                        Assign Author
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="admin--layout-column-two">
      <div class="admin--wrapper">
        <div class="page-layout--columns page-layout--reset-top">
          <div
            class="
              page-layout--column
              page-layout--column-four
              page-layout--reset-top
            "
          >
            <div *ngIf="showNew" class="admin--content-section">
              <h2 *ngIf="!showEdit" class="font-extra-bold mb-md-res">
                New entity
              </h2>
              <h2 *ngIf="showEdit" class="font-extra-bold mb-md-res">
                {{ model.name }}
              </h2>
              <form
                (ngSubmit)="onSave()"
                #entityForm="ngForm"
                class="form admin--form"
                enctype="multipart/form-data"
              >
                <div class="form-group user-group--row row">
                  <div [innerHTML]="model.description"></div>
                  <label for="meta_description" class="col-2 col-form-label">
                    Meta description
                    <br />
                    <small>
                      Search engine optimised meta description. Recommended
                      between 50–160 characters. If no meta description is
                      provided, the Entity's description will be used.
                    </small>
                  </label>
                  <textarea
                    required
                    [(ngModel)]="model.meta_description"
                    name="meta_description"
                    id="meta_description"
                    #name="ngModel"
                  ></textarea>
                </div>

                <div class="bottom-tool-bar--holder">
                  <button
                    type="submit"
                    class="
                      btn btn-success
                      admin--button admin--button-action-green
                    "
                    [disabled]="!entityForm.form.valid"
                  >
                    {{ submitType }}
                  </button>
                  <button
                    type="submit"
                    class="
                      btn btn-primary
                      admin--button admin--button-action-red
                    "
                    (click)="onCancel()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>

            <div
              *ngIf="showAssignPartners"
              class="assign--container admin--content-section"
            >
              <h2 class="font-extra-bold mb-md-res">
                Assign partners to {{ model.name }}
              </h2>
              <div
                *ngFor="let partner of partners"
                class="flex mb-md assign--row"
              >
                <div class="flex-shrink-0">
                  <button
                    type="button"
                    class="btn btn-info admin--button admin--button-action-{{
                      hasPartner(this.model, partner)
                        ? 'red admin--button-cross'
                        : 'green admin--button-plus'
                    }}"
                    (click)="toggleAssignPartner(this.model, partner)"
                  ></button>
                </div>
                <div class="ml-md flex-grow flex-column-center">
                  {{ partner.product_name }} by {{ partner.name }}
                  <ng-container *ngIf="partner.icon">
                    <img src="{{ partner.icon }}" style="max-width: 100px" />
                  </ng-container>
                </div>
              </div>
            </div>

            <div
              *ngIf="showAssignAuthor"
              class="assign--container admin--content-section"
            >
              <h2 class="font-extra-bold mb-md-res">
                Assign author to {{ model.name }}
              </h2>
              <div *ngFor="let author of authors; first as isFirst">
                <!-- unassign -->
                <div *ngIf="isFirst">
                  <div
                    *ngIf="hasUser(this.model)"
                    class="flex mb-md assign--row u-text-align--right"
                  >
                    <button
                      type="button"
                      class="
                        btn btn-info
                        admin--button admin--button-action-red
                      "
                      (click)="unAssignAuthor(this.model)"
                    >
                      Unassign Author
                    </button>
                  </div>
                </div>
                <div class="flex mb-md assign--row">
                  <div class="flex-shrink-0">
                    <input
                      type="radio"
                      name="author_id"
                      value="{{ author.id }}"
                      [checked]="hasVerifiedUser(this.model, author)"
                      (change)="toggleAssignAuthor(this.model, author)"
                    />
                  </div>
                  <div class="ml-md flex-grow flex-column-center">
                    {{ author.first_name }} {{ author.last_name }} ({{
                      author.email
                    }})
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
