/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need
 * an H2 but we want it to be sized like an H1:
 *
 * Usage: <h2 class="u-h1"></h2>
 *
 */

%u-h1,
.u-h1 {
  font-size: 36px;
  line-height: 40px;
}

%u-h2,
.u-h2 {
  font-size: 25px;
  line-height: 34px;
}

%u-h3,
.u-h3 {
  font-size: 24px;
  line-height: 28px;
}

%u-h4,
.u-h4 {
  font-size: 18px;
  line-height: 22px;
}

%u-h5,
.u-h5 {
  font-size: 16px;
  line-height: 20px;
}

%u-h6,
.u-h6 {
  font-size: 16px;
  line-height: 20px;
}
