/* ==========================================================================
   #HIDE
   ========================================================================== */

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-hidden-visually {
  @include hidden-visually();
}

/**
 * Hide visually and from screen readers.
 */

%u-hidden,
.u-hidden {
  display: none !important;
}

/**
 * Hide visually and from screen readers, but maintain layout
 */

%u-invisible,
.u-invisible {
  visibility: hidden;
}
