/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

/* Font weights.
   ========================================================================== */

%u-font-weight--light,
.u-font-weight--light {
  font-family: $font-family--regular !important;
  font-weight: 300;
}

%u-font-weight--regular,
.u-font-weight--regular {
  font-family: $font-family--regular !important;
}

%u-font-weight--bold,
.u-font-weight--bold {
  font-family: $font-family--regular !important;
  font-weight: 500;
}

%u-font-weight--black,
.u-font-weight--black {
  font-family: $font-family--regular !important;
  font-weight: 900;
}

%u-font-weight--light--italic,
.u-font-weight--light--italic {
  font-family: $font-family--regular !important;
}

%u-font-weight--regular--italic,
.u-font-weight--regular--italic {
  font-family: $font-family--regular !important;
}

%u-font-weight--bold--italic,
.u-font-weight--bold--italic {
  font-family: $font-family--regular !important;
}

%u-font-weight--black--italic,
.u-font-weight--black--italic {
  font-family: $font-family--regular !important;
}

%u-text-align--left,
.u-text-align--left {
  text-align: left !important;
}

%u-text-align--right,
.u-text-align--right {
  text-align: right !important;
}

%u-text-align--center,
.u-text-align--center {
  text-align: center !important;
}

%u-text-link,
.u-text-link {
  color: $colour-brand-link-blue;
  text-decoration: none;
  cursor: pointer;
  @extend %u-font-weight--regular;
}

%u-font-size-14,
.u-font-size-14 {
  font-size: 14px;
}
