@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.u-dummy-text-bar {
  display: block;
  height: 15px;
  width: 100%;
  border-radius: 8px;
  animation: gradient 3400ms ease infinite;
  background: rgba(0, 10, 41, 0.08)
    linear-gradient(130deg, rgba(0, 10, 41, 0.14), rgba(0, 10, 41, 0.06));
  background-size: 400% 400%;

  &.u-dummy-text-bar--small {
    height: 12px;
    border-radius: 6px;
  }

  &.u-dummy-text-bar--filter-title {
    width: 44%;
    margin-bottom: $gutter;
  }

  &.u-dummy-text-bar--filter-link {
    height: 12px;
    border-radius: 6px;
    width: 54%;
    margin-bottom: 8px;
    cursor: default;
    &:focus {
      outline: none;
    }
  }

  &.u-dummy-text-bar--short {
    width: 66%;
  }

  &.u-dummy-text-bar--link {
    width: 33%;
  }

  &.u-dummy-text-bar--double {
    margin-bottom: 54px;
    &:after {
      content: "";
      display: block;
      position: relative;
      top: 26px;
      height: 14px;
      width: 100%;
      border-radius: 7px;
      animation: gradient 3400ms ease infinite;
      background: rgba(0, 10, 41, 0.08)
        linear-gradient(130deg, rgba(0, 10, 41, 0.14), rgba(0, 10, 41, 0.06));
    }
  }
}

.u-dummy-image {
  width: 100%;
  height: 170px;
  padding-bottom: 58%;
  border-radius: $default--border-radius;
  animation: gradient 3400ms ease infinite;
  background: rgba(0, 10, 41, 0.08)
    linear-gradient(145deg, rgba(0, 10, 41, 0.12), rgba(0, 10, 41, 0.03));
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
