.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.u-attachment--dismiss {
  position: absolute;
  right: 5px;
  top: -5px;
}

.u-attachment--icon {
  width: 12px;
  height: 12px;
  margin-left: 2px;
}

.u-attachment--copy-banner {
  display: none;
  @media (min-width: 935px) {
    display: block;
    font-family: $font-family--regular;
    background-color: rgba(128, 127, 144, 0.93);
    padding: 12px;
    color: white;
    border-radius: 3px;
    white-space: normal;
    line-height: 2;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: none;
    .code {
      font-size: 14px;
      font-weight: 500;
      background-color: white;
      color: black;
      padding: 6px 8px;
      border-radius: 4px;
      box-shadow: 0 3px 8px 0 rgba(0, 10, 39, 0.2);
    }
  }
}

.u-attachment--block {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow: scroll;

  &.expanded {
    height: 100%;
    max-height: none;
    overflow: auto;
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.u-attachment--content {
  margin-top: -38px;
  &:focus {
    outline: transparent;
  }
}

.u-attachment--buttons {
  display: none;
  @media (min-width: 720px) {
    display: inline-block;
    margin-left: auto;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.37px;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: normal;
    padding: 8px;
  }
}

.u-attachment--button-banner {
  font-family: $font-family--regular;
  background-color: transparent;
  color: black;
  border-radius: 3px;
  white-space: normal;
  line-height: 2;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
}

.u-attachment--button-bar {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
