.u-background-colour-default,
.u-background-colour--link-blue {
  background-color: $colour-brand-link-blue;
}

.u-background-colour--brand-orange {
  background-color: $colour-brand-orange;
}

.u-background-colour--brand-learn-blue {
  background-color: $colour-brand-learn-blue;
}

.u-background-colour--brand-product-purple {
  background-color: $colour-brand-product-purple;
}

.u-background-colour--brand-assist-lime {
  background-color: $colour-brand-assist-lime;
}

.u-background-colour--brand-services-green {
  background-color: $colour-brand-services-green;
}

.u-background-colour--brand-link-blue {
  background-color: $colour-brand-link-blue;
}

.u-background-colour--brand-dust-blue {
  background-color: $colour-brand-dust-blue;
}

.u-background-colour--brand-rose {
  background-color: $colour-brand-rose;
}

.u-background-colour--brand-red {
  background-color: $colour-brand-red;
}

.u-background-colour--brand-yellow {
  background-color: $colour-brand-yellow;
}

.u-background-colour--orange-yellow {
  background-color: $colour-orange-yellow;
}

.u-background-colour--brand-aqua {
  background-color: $colour-brand-aqua;
}

.u-background-colour--brand-black {
  background-color: $colour-brand-black;
}

.u-background-colour--brand-alt-white {
  background-color: $colour-brand-alt-white;
}

.u-background-colour--light-grey {
  background-color: $colour-light-grey;
}

.u-background-colour--brand-learn-blue {
  background-color: $colour-brand-learn-blue;
}

.u-text-colour--brand-white {
  color: $colour-brand-white;
}

.u-text-colour-default,
.u-text-colour--link-blue {
  color: $colour-brand-link-blue;
}

.u-text-colour--brand-orange {
  color: $colour-brand-orange;
}

.u-text-colour--brand-learn-blue {
  color: $colour-brand-learn-blue;
}

.u-text-colour--brand-product-purple {
  color: $colour-brand-product-purple;
}

.u-text-colour--brand-assist-lime {
  color: $colour-brand-assist-lime;
}

.u-text-colour--brand-services-green {
  color: $colour-brand-services-green;
}

.u-text-colour--brand-link-blue {
  color: $colour-brand-link-blue;
}

.u-text-colour--brand-dust-blue {
  color: $colour-brand-dust-blue;
}

.u-text-colour--brand-rose {
  color: $colour-brand-rose;
}

.u-text-colour--brand-red {
  color: $colour-brand-red;
}

.u-text-colour--brand-yellow {
  color: $colour-brand-yellow;
}

.u-text-colour--brand-aqua {
  color: $colour-brand-aqua;
}

.u-text-colour--brand-black {
  color: $colour-brand-black;
}

.u-text-colour--brand-alt-white {
  color: $colour-brand-alt-white;
}

.u-text-colour--brand-white {
  color: $colour-brand-white;
}

.u-text-colour--light-grey {
  color: $colour-light-grey;
}

.u-text-colour--brand-blue {
  color: $colour-brand-link-blue;
}
