/* ==========================================================================
   #IMAGE REPLACE
   ========================================================================== */

/**
 * A utility for hiding text in an element where you have an image, e.g icons. 
 */

%u-image-replace,
.u-image-replace {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
