<div class="c-hero c-hero--background">
  <div class="l-page--wrapper">
    <h1 class="c-hero-page-title--library">
      We’ve 404 problems, but helping you find great code isn’t one.
    </h1>
  </div>
</div>

<div class="l-page--wrapper">
  <div class="c-hero--meta">
    <p>
      Why not head <a href="/">home</a> and we’ll pretend this never happened.
    </p>
  </div>
</div>
