<app-search-box></app-search-box>
<div class="l-page--wrapper">
  <div class="c-content-area l-margin-top--double-gutter">
    <div class="c-filter-content-area--sidebar l-grid-cell">
      <app-sidebar></app-sidebar>
    </div>
    <div class="c-content-area--content">
      <h2>Search Results</h2>
      <div class="c-selected-filters l-flex l-margin-bottom--gutter">
        <app-stats></app-stats>
        <app-current-refinements></app-current-refinements>
      </div>

      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <div *ngFor="let hit of hits">
            <div class="c-search--result-app l-margin-bottom--half-gutter">
              <a
                ><ais-highlight
                  attribute="app_pretty_names"
                  [hit]="hit"
                ></ais-highlight
              ></a>
            </div>
            <div class="c-search--result-title l-margin-bottom--gutter">
              <a
                ><ais-highlight
                  attribute="script_name"
                  [hit]="hit"
                ></ais-highlight
              ></a>
            </div>
            <div class="c-search--result-code l-margin-bottom--double-gutter">
              <ais-highlight
                attribute="_snippetResult.script_description.value"
                [hit]="hit"
              ></ais-highlight>
            </div>
          </div>
        </ng-template>
      </ais-hits>
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
