<app-manage-account-hero-partial></app-manage-account-hero-partial>
<div class="l-page--wrapper">
  <div class="l-flex l-flex--column l-margin-top--gutter">
    <ng-container *ngIf="!savedSearches">
      <p>Loading saved searches...</p>
    </ng-container>
    <ng-container *ngIf="savedSearches && savedSearches.length === 0">
      <p>
        You don't have any saved searches yet.
        <a routerLink="/search">Explore Adaptavist Library</a> to create a
        search alert.
      </p>
    </ng-container>
    <ng-container *ngIf="savedSearches && savedSearches.length > 0">
      <div class="l-flex" *ngFor="let savedSearch of savedSearches">
        <div class="c-saved-search--wrapper">
          <ng-container
            *ngFor="
              let filter of savedSearch.filters_and_term;
              last as isLastItem
            "
          >
            <div class="c-saved-search--criteria">{{ filter }}</div>
            <svg
              *ngIf="!isLastItem"
              class="c-saved-search--plus-icon"
              aria-hidden="true"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
              ></path>
            </svg>
          </ng-container>
          <div class="c-saved-search--save-date">
            {{ savedSearch.created_at | date }}
          </div>
          <a
            href="{{ savedSearch.publicUrl }}"
            class="c-saved-search--link view"
            >view</a
          >
        </div>
        <a
          (click)="removeSavedSearch(savedSearch)"
          class="c-saved-search--link remove"
          >remove</a
        >
      </div>
    </ng-container>
  </div>
</div>
