<div class="l-flex l-flex--column l-margin-right--gutter">
  <h3 class="c-filter-menu--title">Apps</h3>
  <app-home-refinement-list
    [attribute]="'app_pretty_names'"
  ></app-home-refinement-list>
</div>
<div class="l-flex l-flex--column l-margin-right--gutter">
  <h3 class="c-filter-menu--title">Products</h3>
  <app-home-refinement-list
    [attribute]="'product_names'"
  ></app-home-refinement-list>
</div>
<div class="l-flex l-flex--column l-margin-right--gutter">
  <h3 class="c-filter-menu--title">Platforms</h3>
  <app-home-refinement-list
    [attribute]="'platforms'"
  ></app-home-refinement-list>
</div>

<div class="l-flex l-flex--column l-margin-right--gutter">
  <h3 class="c-filter-menu--title">Type</h3>
  <app-home-refinement-list [attribute]="'type'"></app-home-refinement-list>
</div>
<div class="l-flex l-flex--column l-margin-right--gutter">
  <h3 class="c-filter-menu--title">Status</h3>
  <app-home-refinement-list [attribute]="'verified'"></app-home-refinement-list>
</div>
<div class="l-flex l-flex--column l-margin-right--gutter">
  <h3 class="c-filter-menu--title">Features</h3>
  <app-home-refinement-list
    [attribute]="'feature_names'"
  ></app-home-refinement-list>
</div>

<div class="l-flex l-flex--column l-margin-right--gutter">
  <h3 class="c-filter-menu--title">Tags</h3>
  <app-home-refinement-list
    [attribute]="'tag_names'"
  ></app-home-refinement-list>
</div>
<ais-clear-refinements
  [autoHideContainer]="false"
  buttonLabel="Clear filter"
></ais-clear-refinements>
