<div class="left-nav--button">
  <div class="left-nav--button-icon"></div>
</div>

<aside class="left-nav--holder">
  <div class="left-nav--links-holder">
    <a routerLink="/" class="left-nav--link left-nav--logo">
      <img
        class="left-nav--icon left-nav--icon-large"
        src="/assets/img/white-logo.png"
      />
      Adaptavist Library
    </a>
    <a
      routerLink="/dexad/apps"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Apps
    </a>
    <a
      routerLink="/dexad/collections"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Collections
    </a>
    <a
      routerLink="/dexad/features"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Features
    </a>
    <a
      routerLink="/dexad/entities"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Entities
    </a>
    <a
      routerLink="/dexad/kinds"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Kinds
    </a>
    <a
      routerLink="/dexad/partners"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Partners
    </a>
    <a
      routerLink="/dexad/platforms"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Platforms
    </a>
    <a
      routerLink="/dexad/products"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Products
    </a>
    <a
      routerLink="/dexad/tags"
      routerLinkActive="left-nav--link-current"
      [routerLinkActiveOptions]="{ exact: false }"
      class="left-nav--link"
    >
      Tags
    </a>
  </div>
</aside>
