<app-admin-left-nav></app-admin-left-nav>

<main class="admin-main page-layout--push-down-element">
  <div class="top-nav--holder align-items-centre">
    <div class="top-nav--left">
      <h1 class="top-nav--title font-normal">Partners</h1>
    </div>
    <div class="top-nav--right">
      <button
        type="submit"
        class="admin--button admin--button-action-green"
        (click)="onNew()"
      >
        New Partner
      </button>
    </div>
  </div>

  <div class="flex-mobile-column_tablet-row mt-lg-res">
    <div class="admin--layout-column-two">
      <div class="flex-grow">
        <div class="table--holder">
          <table class="table">
            <thead>
              <tr class="table--row">
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  Partner
                </th>
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  Logo
                </th>
                <th
                  class="
                    table--cell-heading
                    table--cell-primary-mobile
                    table--cell-action
                  "
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="!partners">
                <tr class="table--row">
                  <td
                    class="table--cell table--cell-primary-mobile"
                    colspan="2"
                  >
                    Loading Partners...
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="partners">
                <tr class="table--row" *ngFor="let partner of partners">
                  <td class="table--cell table--cell-primary-mobile">
                    {{ partner.product_name }} by {{ partner.name }}
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    <ng-container *ngIf="partner.icon">
                      <img src="{{ partner.icon }}" style="max-width: 100px" />
                    </ng-container>
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    <div class="flex">
                      <button
                        type="button"
                        (click)="onEdit(partner)"
                        class="flex table--action-button"
                      >
                        Edit
                      </button>
                      <button
                        type="button"
                        (click)="onDelete(partner)"
                        class="flex table--action-button"
                      >
                        Delete
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="admin--layout-column-two">
      <div class="admin--wrapper">
        <div class="page-layout--columns page-layout--reset-top">
          <div
            class="
              page-layout--column
              page-layout--column-four
              page-layout--reset-top
            "
          >
            <div *ngIf="showNew" class="admin--content-section">
              <h2 *ngIf="!showEdit" class="font-extra-bold mb-md-res">
                New Partner
              </h2>
              <h2 *ngIf="showEdit" class="font-extra-bold mb-md-res">
                {{ model.name }}
              </h2>
              <form
                (ngSubmit)="onSave()"
                #partnerForm="ngForm"
                class="form admin--form"
                enctype="multipart/form-data"
              >
                <div class="form-group user-group--row row">
                  <label for="name" class="col-2 col-form-label">
                    Partner Name
                    <small>(e.g. ALM Works)</small>
                  </label>
                  <input
                    type="text"
                    required
                    [(ngModel)]="model.name"
                    name="name"
                    id="name"
                    #name="ngModel"
                  />
                  <div
                    *ngIf="name.errors && (name.dirty || name.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!name.errors.required">
                      Partner Name is required
                    </div>
                  </div>
                </div>

                <div class="form-group user-group--row row">
                  <label for="url" class="col-2 col-form-label">
                    Partner URL
                    <small>(e.g. https://almworks.com)</small>
                  </label>
                  <input
                    type="text"
                    required
                    [(ngModel)]="model.url"
                    name="url"
                    id="url"
                    #url="ngModel"
                  />
                  <div
                    *ngIf="url.errors && (url.dirty || url.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!url.errors.required">
                      Partner URL is required
                    </div>
                  </div>
                </div>

                <div class="form-group user-group--row row">
                  <label for="product_name" class="col-2 col-form-label">
                    Partner Product Name
                    <small>(e.g. Structure for Jira)</small>
                  </label>
                  <input
                    type="text"
                    required
                    [(ngModel)]="model.product_name"
                    name="product_name"
                    id="product_name"
                    #product_name="ngModel"
                  />
                  <div
                    *ngIf="
                      product_name.errors &&
                      (product_name.dirty || product_name.touched)
                    "
                    class="alert alert-danger"
                  >
                    <div [hidden]="!product_name.errors.required">
                      Product Name is required
                    </div>
                  </div>
                </div>

                <div class="form-group user-group--row row">
                  <label for="product_url" class="col-2 col-form-label">
                    Partner Product URL
                    <small
                      >(e.g. https://marketplace.atlassian.com/apps/123)</small
                    >
                  </label>
                  <input
                    type="text"
                    required
                    [(ngModel)]="model.product_url"
                    name="product_url"
                    id="product_url"
                    #product_url="ngModel"
                  />
                  <div
                    *ngIf="
                      product_url.errors &&
                      (product_url.dirty || product_url.touched)
                    "
                    class="alert alert-danger"
                  >
                    <div [hidden]="!product_url.errors.required">
                      Product URL is required
                    </div>
                  </div>
                </div>

                <div class="form-group user-group--row row">
                  <label for="file" class="col-2 col-form-label">
                    Partner Logo
                    <ng-container *ngIf="model.icon">
                      <small>
                        (Current logo:
                        <img src="{{ model.icon }}" style="max-width: 100px" />)
                      </small>
                    </ng-container>
                  </label>
                  <input
                    type="file"
                    id="file"
                    (change)="onFileChange($event)"
                    #fileInput
                  />
                </div>

                <ng-container *ngIf="model.icon">
                  <div class="form-group user-group--row row">
                    <label for="removeFile" class="col-2 col-form-label">
                      Remove current logo?
                    </label>

                    <input
                      type="checkbox"
                      [(ngModel)]="model.removeFile"
                      name="removeFile"
                      id="removeFile"
                      #removeFile="ngModel"
                    />
                  </div>
                </ng-container>

                <div class="bottom-tool-bar--holder">
                  <button
                    type="submit"
                    class="
                      btn btn-success
                      admin--button admin--button-action-green
                    "
                    [disabled]="!partnerForm.form.valid"
                  >
                    {{ submitType }}
                  </button>
                  <button
                    type="submit"
                    class="
                      btn btn-primary
                      admin--button admin--button-action-red
                    "
                    (click)="onCancel()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
