<!-- Announcement banner component START -->
<app-announcement-banner-partial></app-announcement-banner-partial>
<!-- Announcement banner component END -->
<app-hero-script [script]="script" (share)="handleShare($event)">
  <ng-container *appShellNoRender back>
    <a (click)="this.location.back()" class="c-hero--back-button u-text-link"
      >‹ Go back</a
    >
  </ng-container>
  <a
    *ngIf="script.isReady"
    [routerLink]="['/search']"
    [queryParams]="{ types: script.data.type_name | lowercase }"
    class="u-text-link"
    type-link
    >{{ script.data.type_name }}</a
  >
  <ng-container *ngIf="script.isReady" features>
    <ng-container *ngIf="script.data.feature_names.length > 2">
      <ng-container
        *ngFor="
          let feature_name of script.data.feature_names.slice(0, 2);
          let isLast = last
        "
      >
        <a
          [routerLink]="['/search']"
          [queryParams]="{
            features: feature_name.replace(' ', '-') | lowercase
          }"
          >{{ feature_name }}</a
        >
        <ng-container *ngIf="isLast">
          <ng-container *ngIf="!hideAllFeatures">,</ng-container>
          <ng-container *ngIf="hideAllFeatures">, ...</ng-container>
        </ng-container>
        <ng-container *ngIf="!isLast"> , </ng-container>
      </ng-container>
      <div [ngClass]="hideAllFeatures ? '' : 'more-content'" class="see-all">
        <ng-container
          *ngFor="
            let feature_name of script.data.feature_names.slice(2);
            let isLast = last
          "
        >
          <a
            [routerLink]="['/search']"
            [queryParams]="{
              features: feature_name.replace(' ', '-') | lowercase
            }"
            >{{ feature_name }}</a
          >
          <ng-container *ngIf="!isLast">,</ng-container>
        </ng-container>
      </div>
      <button
        [ngClass]="hideAllFeatures ? '' : 'c-hero--collapse-icon'"
        class="c-hero--expand-button feature"
        (click)="toggleAllFeatures()"
      >
        <svg
          class="c-hero--expand-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 192 512"
        >
          <path
            fill="currentColor"
            d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"
          ></path>
        </svg>
      </button>
    </ng-container>
    <ng-container *ngIf="script.data.feature_names.length <= 2">
      <ng-container
        *ngFor="let feature_name of script.data.feature_names; let i = index"
      >
        <a
          [routerLink]="['/search']"
          [queryParams]="{
            features: feature_name.replace(' ', '-') | lowercase
          }"
          >{{ feature_name }}</a
        >
        <ng-container *ngIf="i === 0 && script.data.feature_names.length !== 1"
          >,
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="script.isReady" tags>
    <ng-container *ngIf="script.data.tag_names.length > 2">
      <ng-container
        *ngFor="
          let tag_name of script.data.tag_names.slice(0, 2);
          let isLast = last
        "
      >
        <a
          [routerLink]="['/search']"
          [queryParams]="{ tags: tag_name.replace(' ', '-') | lowercase }"
          >{{ tag_name }}</a
        >
        <ng-container *ngIf="isLast">
          <ng-container *ngIf="!hideAllTags">,</ng-container>
          <ng-container *ngIf="hideAllTags">, ...</ng-container>
        </ng-container>
        <ng-container *ngIf="!isLast"> , </ng-container>
      </ng-container>
      <div [ngClass]="hideAllTags ? '' : 'more-content'" class="see-all">
        <ng-container
          *ngFor="
            let tag_name of script.data.tag_names.slice(2);
            let isLast = last
          "
        >
          <a
            [routerLink]="['/search']"
            [queryParams]="{ tags: tag_name.replace(' ', '-') | lowercase }"
            >{{ tag_name }}</a
          >
          <ng-container *ngIf="!isLast">,</ng-container>
        </ng-container>
      </div>
      <button
        [ngClass]="hideAllTags ? '' : 'c-hero--collapse-icon'"
        class="c-hero--expand-button"
        (click)="toggleAllTags()"
      >
        <svg
          class="c-hero--expand-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 192 512"
        >
          <path
            fill="currentColor"
            d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"
          ></path>
        </svg>
      </button>
    </ng-container>
    <ng-container *ngIf="script.data.tag_names.length <= 2">
      <ng-container
        *ngFor="let tag_name of script.data.tag_names; let i = index"
      >
        <a
          [routerLink]="['/search']"
          [queryParams]="{ tags: tag_name.replace(' ', '-') | lowercase }"
          >{{ tag_name }}</a
        >
        <ng-container *ngIf="i === 0 && script.data.tag_names.length !== 1"
          >,
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *appShellNoRender buttons>
    <button
      *ngIf="profileService.isAuthenticatedAndVerified()"
      (click)="toggleAddedToLibrary()"
      class="
        c-button
        c-button--text--brand-alt-white
        c-button--colour--brand-link-blue
        c-button--large
      "
      [disabled]="isUpdatingMyLibrary.getValue()"
      [ngClass]="
        !isUpdatingMyLibrary.getValue() && isInMyLibrary.getValue()
          ? 'c-button--text--brand-alt-white'
          : 'c-button--text--link-blue'
      "
    >
      <ng-container *ngIf="isUpdatingMyLibrary.getValue()">
        <svg
          width="15px"
          height="15px"
          class="
            c-button--icon c-button--spinner
            c-spinner c-spinner--white
            a-spin
          "
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"
          />
        </svg>
        Updating
      </ng-container>
      <ng-container
        *ngIf="!isUpdatingMyLibrary.getValue() && isInMyLibrary.getValue()"
      >
        Added to My Library
      </ng-container>
      <ng-container
        *ngIf="!isUpdatingMyLibrary.getValue() && !isInMyLibrary.getValue()"
      >
        Add to My Library
      </ng-container>
    </button>
    <button
      *ngIf="!profileService.isAuthenticated()"
      (click)="authService.login()"
      class="
        c-button
        c-button--colour--brand-link-blue
        c-button--text--brand-alt-white
        c-button--large
      "
    >
      <ng-container> Add to My Library </ng-container>
    </button>
    <button
      *ngIf="profileService.isAuthenticatedAndVerified()"
      (click)="toggleAddedWatchEntity()"
      class="
        c-button c-button--text--brand-black c-button--watch c-button--large
      "
      [disabled]="isUpdatingWatchEntity.getValue()"
      [ngClass]="
        !isUpdatingWatchEntity.getValue() && isWatching.getValue()
          ? 'c-button--text--brand-black'
          : 'c-button--text--link-blue'
      "
    >
      <ng-container *ngIf="isUpdatingWatchEntity.getValue()">
        <svg
          width="15px"
          height="15px"
          class="
            c-button--icon c-button--spinner
            c-spinner c-spinner--brand-black
            a-spin
          "
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"
          />
        </svg>
        Updating
      </ng-container>
      <ng-container
        *ngIf="!isUpdatingWatchEntity.getValue() && isWatching.getValue()"
      >
        <svg
          width="15px"
          height="15px"
          class="c-button--icon c-spinner--brand-black"
          aria-hidden="true"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z"
          ></path>
        </svg>
        Watching for updates
      </ng-container>
      <ng-container
        *ngIf="!isUpdatingWatchEntity.getValue() && !isWatching.getValue()"
      >
        <svg
          idth="15px"
          height="15px"
          aria-hidden="true"
          role="img"
          class="c-button--icon c-spinner--brand-black"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"
          ></path>
        </svg>
        Watch for updates
      </ng-container>
    </button>
    <button
      *ngIf="!profileService.isAuthenticated()"
      (click)="authService.login()"
      class="
        c-button c-button--text--brand-black c-button--watch c-button--large
      "
    >
      <ng-container
        *ngIf="!isUpdatingMyLibrary.getValue() && !isWatching.getValue()"
      >
        <svg
          idth="15px"
          height="15px"
          aria-hidden="true"
          role="img"
          class="c-button--icon c-spinner--brand-black"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"
          ></path>
        </svg>
        Watch for updates
      </ng-container>
    </button>
  </ng-container>
</app-hero-script>
<ng-container *ngIf="script.isReady">
  <app-main-content>
    <ng-container content>
      <div class="l-flex l-flex--sml--column">
        <div class="c-tab-menu">
          <ul class="c-tab-menu--list">
            <!-- Todo: Tabs should have a model with named attributes, instead of accessing indexes -->
            <li *ngFor="let tab of tabs" class="c-tab-menu--item">
              <a
                (click)="handleTabChange(tab[0], tab[1])"
                class="c-tab-menu--link"
                [ngClass]="selectedTab === tab[0] ? 'active' : ''"
                >{{ tab[1] }} code</a
              >
            </li>
          </ul>
        </div>
        <div class="c-requirements-wrapper">
          <app-requirements-container>
            <div
              *ngIf="currentAttachment$.getValue().verified"
              class="c-hero--byline"
            >
              <svg
                class="u-text-colour--brand-services-green c-verificaton-adjust"
                width="15px"
                height="15px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                ></path>
              </svg>
              <span class="u-text-colour--brand-services-green"
                >Verified by Adaptavist</span
              >
            </div>
            <h4
              class="
                c-requirements-block--title
                l-margin-bottom--half-gutter
                l-margin-left--auto
              "
            >
              Requirements
            </h4>
            <ng-container *ngIf="currentTabRequirements.length > 1">
              <ng-container
                *ngFor="
                  let requirement of currentAttachment$.getValue().requirements
                "
              >
                <ng-container
                  *ngIf="
                    currentTabRequirements[selectedVersion] ===
                    requirement.product_name +
                      ' (' +
                      requirement.version_from +
                      ' - ' +
                      requirement.version_to +
                      ')'
                  "
                >
                  <img
                    class="c-requirements-button"
                    [src]="requirement.product_icon"
                    [alt]="requirement.product_name"
                  />
                </ng-container>
              </ng-container>
              <select
                (change)="handleRequirementsChange($event)"
                class="c-requirements-dropdown"
                title="Versions"
              >
                <option
                  *ngFor="let option of currentTabRequirements; let i = index"
                  [value]="i"
                  [selected]="i === selectedVersion"
                >
                  {{ option }}
                </option>
              </select>
            </ng-container>
            <ul
              *ngIf="currentTabRequirements.length > 0"
              class="
                c-app-requirements-container
                l-justify-content--sml--flex-end
              "
            >
              <li
                *ngFor="
                  let requirement of currentAttachment$.getValue().requirements
                "
                class="c-app-requirements-list"
              >
                <ng-container *ngIf="currentTabRequirements.length == 1">
                  <img
                    class="c-button--app-icon"
                    [src]="requirement.product_icon"
                    [alt]="requirement.product_name"
                  />
                  {{ requirement.product_name }}
                  <ng-container
                    *ngIf="requirement.version_from && requirement.version_to"
                  >
                    ({{ requirement.version_from }} -
                    {{ requirement.version_to }})
                  </ng-container>
                </ng-container>
              </li>
              <ng-container
                *ngIf="script.data.app_versions"
                class="
                  c-app-requirements-container
                  l-justify-content--sml--flex-end
                "
              >
                <li
                  *ngFor="let app_version of script.data.app_versions"
                  class="c-app-requirements-list"
                >
                  <img
                    [src]="app_version.icon"
                    [alt]="app_version.pretty_name"
                  />
                  <ng-container *ngIf="app_version.pretty_name">
                    {{ app_version.pretty_name }}
                  </ng-container>
                  <ng-container *ngIf="!app_version.pretty_name">
                    {{ app_version.name }}
                  </ng-container>
                  <ng-container
                    *ngIf="app_version.version_from && selectedTab != 'cloud'"
                    >({{ app_version.version_from
                    }}<ng-container *ngIf="app_version.version_to">
                      - {{ app_version.version_to }}</ng-container
                    >)</ng-container
                  >
                </li>
              </ng-container>
            </ul>
          </app-requirements-container>
        </div>
      </div>
      <div
        *ngIf="currentAttachment$"
        class="l-grid l-grid--full l-margin-bottom--gutter"
      >
        <div class="l-grid-cell">
          <app-attachment
            [attachment$]="currentAttachment$"
            [entityName]="script.data.name"
          ></app-attachment>
        </div>
        <div class="u-attachment--button-bar">
          <ng-container *appShellNoRender>
            <ng-container *ngIf="codeCopied">
              <button
                (click)="copyCode()"
                [disabled]="this._codeCopied"
                class="
                  c-button
                  c-button--colour--brand-blue
                  c-button--text--brand-alt-white
                  c-button--large
                "
              >
                <svg
                  class="c-button--icon c-button--tick-icon"
                  width="15px"
                  height="15px"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  ></path>
                </svg>
                {{ selectedTabName | titlecase }} code copied
              </button>
            </ng-container>
            <ng-container *ngIf="!codeCopied">
              <button
                (click)="copyCode()"
                class="
                  c-button
                  c-button--colour--brand-blue
                  c-button--text--brand-alt-white
                  c-button--large
                "
              >
                Copy {{ selectedTabName | titlecase }} code
              </button>
            </ng-container>
          </ng-container>
          <div class="c-report--text l-justify-content--flex-end">
            Discovered an issue?
            <a
              class="c-report--link"
              href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/337"
              target="blank"
            >
              Report it here
            </a>
          </div>
        </div>
      </div>
      <ng-container *ngIf="relatedEntities && relatedEntities.length">
        <app-section-title
          titleBase="Suggested"
          titleEmphasis="for you"
        ></app-section-title>
        <app-card-container
          columns="l-grid-lrg--1of4 l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
        >
          <app-entity-card-partial
            *ngFor="let card of relatedEntities"
            [card]="card"
            class="l-grid-cell l-padding-bottom--gutter"
          ></app-entity-card-partial>
        </app-card-container>
      </ng-container>
      <ng-container *ngIf="recentEntities && recentEntities.length">
        <app-section-title
          titleBase="Recently"
          titleEmphasis="Viewed"
        ></app-section-title>
        <app-card-container
          columns="l-grid-lrg--1of4 l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
        >
          <app-entity-card-partial
            *ngFor="let card of recentEntities"
            [card]="card"
            class="l-grid-cell l-padding-bottom--gutter"
          ></app-entity-card-partial>
        </app-card-container>
      </ng-container>
      <ng-container *ngIf="collections && collections.length">
        <app-section-title
          titleBase="Appears in these"
          titleEmphasis="Collections"
        ></app-section-title>
        <app-card-container
          columns="l-grid-lrg--1of4 l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
        >
          <app-collection-card-partial
            *ngFor="let collectionCard of collections"
            [card]="collectionCard"
            class="l-grid-cell l-padding-bottom--gutter"
          >
          </app-collection-card-partial>
        </app-card-container>
      </ng-container>
    </ng-container>
  </app-main-content>
</ng-container>
