<div
  class="
    l-page--wrapper
    l-padding-top--double-gutter
    l-padding-bottom--double-gutter
  "
>
  <h1 class="font-extra-bold">Help</h1>
  <h3>What is the Adaptavist Library?</h3>
  <p>
    The Adaptavist Library is a curated collection of tailor-made scripts
    designed to enable Atlassian users to leverage Adaptavist products to create
    automation and perform complex customisations.
  </p>

  <h3>What can I use the Adaptavist Library for?</h3>
  <p>
    The Library contains scripts across many different features of ScriptRunner,
    from advanced Post Functions and Behaviours to simple Snippets of code which
    can be used to create custom solutions.
  </p>

  <p>
    The Adaptavist Library provides an array of out-of-the-box functionality,
    all you need to do is simply copy and paste one of the pre-written scripts
    straight into ScriptRunner. One of the best aspects of the library is that
    most of the hard work is already done for you, it is just a matter of
    selecting the functionality you need.
  </p>

  <p>With the Adaptavist Library you can:</p>
  <ul>
    <li>
      Leverage ready-made automation scripts across all ScriptRunner products
    </li>
    <li>
      Maximise the value of Adaptavist and partner apps to carry out complex
      customisations with confidence
    </li>
    <li>
      Put best standards in place for data compliance, auditing, and company
      regulations
    </li>
  </ul>
  <h3>What platforms does it support?</h3>
  <p>
    The Adaptavist Library currently provides code suitable for use on Cloud,
    Server and Data Center platforms.
  </p>

  <h3>How do I create an account?</h3>
  <p>
    Simply click the "Join/log in" in the header and then enter your e-mail
    address and password, you will then receive a verification e-mail. Once your
    email is verified you can start using the Adaptavist Library.
  </p>

  <h3>Do I need to pay to access the library?</h3>
  <p>
    No, you don't need to pay for a licence to access Adaptavist Library, it is
    free.
  </p>

  <h3>Once I sign up, how do I use it?</h3>
  <p>
    Once you've signed up, simply use the Search bar to find the Collection,
    Script or Snippet that you need, or use the indexing module on the left to
    discover entities. For additional support on getting the most from the
    library you can access the ScriptRunner documentation (<a
      href="https://scriptrunner.adaptavist.com/"
      >scriptrunner.adaptavist.com</a
    >), or contact
    <a
      href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/336"
      >Adaptavist directly</a
    >.
  </p>

  <h3>
    What is the difference between a 'collection', 'script' and a 'snippet'?
  </h3>
  <p>
    A snippet is a script fragment, which can be used in a different context. A
    'script' is a piece of code that provides a type of functionality out of the
    box, you can copy the code and paste it in ScriptRunner's console to build
    the functionality you need. A 'collection' is a group of dedicated scripts
    that all provide similar functionality.
  </p>

  <h3>What script collections are available?</h3>
  <p>
    Currently, the Library provides collections of ScriptRunner scripting
    solutions in a collaboration with Adaptavist and Partner apps.
  </p>

  <h3>Is the library just for developers?</h3>
  <p>
    The Adaptavist Library is built for everyone. The aim of the library is to
    provide users with ready-made scripts to minimise time spent writing code
    from scratch. Whether you're a pro developer, a complete beginner or a
    non-technical Jira admin, the Adaptavist Library is easy-to-use and will
    help you unlock new opportunities using your Adaptavist apps.
  </p>

  <h3>How regularly are scripts updated or added to the library?</h3>
  <p>
    We aim to continuously expand our library with new script solutions, if you
    would like to contribute to this please contact us using our
    <a
      href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/336"
      >support portal</a
    >.
  </p>

  <h3>If I experience an issue how can I get help?</h3>
  <p>
    If you experience an issue using the Adaptavist Library, please contact the
    <a
      href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/336"
      >support portal</a
    >
    and raise a ticket. Please include a link to the Adaptavist Library page you
    are experiencing issues with and provide a short description of the problem
    and Adaptavist support will get in touch.
  </p>

  <h3>Can I share my own scripts in the library?</h3>
  <p>
    We are actively looking for anyone who has their own script examples they'd
    like to share. If you want to share your ScriptRunner awesomeness with the
    community, please contact us using our
    <a
      href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/336"
      >support portal</a
    >.
  </p>

  <h3>I have a suggestion for a new script on the Library, what do I do?</h3>
  <p>
    Submit all script requests on our
    <a
      href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/336"
      >support portal</a
    >.
  </p>
</div>
