<app-admin-left-nav></app-admin-left-nav>

<main class="admin-main page-layout--push-down-element">
  <div class="top-nav--holder align-items-centre">
    <div class="top-nav--left">
      <h1 class="top-nav--title font-normal">Platforms</h1>
    </div>
    <div class="top-nav--right"></div>
  </div>

  <div class="flex-mobile-column_tablet-row mt-lg-res">
    <div class="admin--layout-column-two">
      <div class="flex-grow">
        <div class="table--holder">
          <table class="table">
            <thead>
              <tr class="table--row">
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  Platform
                </th>
                <th
                  class="
                    table--cell-heading
                    table--cell-primary-mobile
                    table--cell-action
                  "
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="!platforms">
                <tr class="table--row">
                  <td
                    class="table--cell table--cell-primary-mobile"
                    colspan="2"
                  >
                    Loading Platforms...
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="platforms">
                <tr class="table--row" *ngFor="let platform of platforms">
                  <td class="table--cell table--cell-primary-mobile">
                    {{ platform.name }}
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    <div class="flex">
                      <button
                        type="button"
                        (click)="onEdit(platform)"
                        class="flex table--action-button"
                      >
                        Edit
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="admin--layout-column-two">
      <div class="admin--wrapper">
        <div class="page-layout--columns page-layout--reset-top">
          <div
            class="
              page-layout--column
              page-layout--column-four
              page-layout--reset-top
            "
          >
            <div *ngIf="showNew" class="admin--content-section">
              <h2 *ngIf="!showEdit" class="font-extra-bold mb-md-res">
                New Platform
              </h2>
              <h2 *ngIf="showEdit" class="font-extra-bold mb-md-res">
                {{ model.name }}
              </h2>
              <form
                (ngSubmit)="onSave()"
                #platformForm="ngForm"
                class="form admin--form"
                enctype="multipart/form-data"
              >
                <div class="bottom-tool-bar--holder">
                  <button
                    type="submit"
                    class="
                      btn btn-success
                      admin--button admin--button-action-green
                    "
                    [disabled]="!platformForm.form.valid"
                  >
                    {{ submitType }}
                  </button>
                  <button
                    type="submit"
                    class="
                      btn btn-primary
                      admin--button admin--button-action-red
                    "
                    (click)="onCancel()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
