<ng-container *ngIf="user">
  <app-profile-page-hero-partial></app-profile-page-hero-partial>
  <div class="l-page--wrapper-profile">
    <div *ngIf="displayCompleteYourProfile" class="c-edit-profile prompt">
      <div class="c-edit-profile--content">
        <strong>Complete your profile</strong>
        <p>
          Telling the community about yourself helps other members connect with
          you on the topics you’re most interested in.
        </p>
      </div>
      <div class="c-edit-profile--cta dismiss">
        <a class="c-button--edit" routerLink="/manage-account">edit profile</a>
        <a class="c-hide-prompt" (click)="dismissEditProfilePrompt()"
          >Dismiss this notice</a
        >
      </div>
    </div>
    <div class="c-profile--inner c-profile--grid">
      <div class="c-profile--row">
        <div class="c-profile--detail c-profile--column">
          Email
          <div
            class="c-profile--content"
            [ngClass]="!isVisible('email') ? 'none' : ''"
          >
            <ng-container *ngIf="isVisible('email')">
              {{ user.email }}
            </ng-container>
            <ng-container *ngIf="!isVisible('email')">
              Email yet to be provided.
            </ng-container>
          </div>
        </div>
        <div class="c-profile--detail c-profile--column">
          Company
          <div
            class="c-profile--content"
            [ngClass]="!user.company ? 'none' : ''"
          >
            <ng-container *ngIf="user.company">
              {{ user.company }}
            </ng-container>
            <ng-container *ngIf="!user.company">
              Company yet to be provided.
            </ng-container>
          </div>
        </div>
        <div class="c-profile--detail c-profile--column">
          Job Title
          <div
            class="c-profile--content"
            [ngClass]="!user.job_title ? 'none' : ''"
          >
            <ng-container *ngIf="user.job_title">
              {{ user.job_title }}
            </ng-container>
            <ng-container *ngIf="!user.job_title">
              Job Title yet to be provided.
            </ng-container>
          </div>
        </div>
      </div>
      <div class="c-profile--row">
        <div class="c-profile--detail c-profile--column">
          Location
          <div
            class="c-profile--content"
            [ngClass]="!user.location ? 'none' : ''"
          >
            <ng-container *ngIf="user.location">
              {{ user.location }}
            </ng-container>
            <ng-container *ngIf="!user.location">
              Location yet to be provided.
            </ng-container>
          </div>
        </div>
      </div>
      <div class="c-profile--row">
        <div class="c-profile--detail c-profile--column">
          Social Links
          <div
            class="c-profile--content"
            [ngClass]="!user.linkedin ? 'none' : ''"
          >
            <img
              class="c-profile--social-icon"
              src="../../../../assets/img/social.svg"
            />
            <ng-container *ngIf="user.linkedin">
              <a href="{{ user.linkedin }}" target="blank">{{
                user.linkedin
              }}</a>
            </ng-container>
            <ng-container *ngIf="!user.linkedin">
              LinkedIn URL yet to be provided.
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
