<app-card-collection-item [card]="card.data" [isReady]="card.isReady">
  <ng-container
    *ngFor="let category of card.data.categories; let i = index"
    categories
  >
    <a [queryParams]="category.params" [routerLink]="category.link">{{
      category.text
    }}</a>
    <app-text-list-separator
      [index]="i"
      [length]="card.data.categories.length"
    ></app-text-list-separator>
  </ng-container>
  <span viewType *ngIf="card.isReady">View {{ card.data.type }} ›</span>
</app-card-collection-item>
