/* ==========================================================================
   #SASS MODIFIERS MIXIN
   ========================================================================== */

/**
 * Create helper classes from Sass maps.
 */

@mixin modifiers(
  $map,
  $attribute,
  $prefix: "-",
  $separator: "-",
  $base: "base",
  $important: false
) {
  @if ($important == true) {
    $important: !important;
  } @else if ($important == false) {
    $important: null;
  } @else {
    @error "`#{$important}` needs to be `true` or `false`.";
  }

  @each $key, $value in $map {
    &#{if($key != $base, #{$prefix}#{$key}, "")} {
      @if type-of($value) == "map" {
        @include modifiers($value, $attribute, $separator);
      } @else {
        #{$attribute}: $value $important;
      }
    }
  }
}
