/**
 * Get the lowest value in a range
 */
@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

/**
 * Get the highest value in a range
 */
@function upper-bound($range) {
  @if length($range) < 2 {
    @return 9999;
  }
  @return nth($range, 2);
}
