<div
  class="c-hero c-hero-background--home"
  style="--cover-image: url('../assets/images/illustrations/homepage.png')"
>
  <div class="l-page--wrapper c-hero-home--structure">
    <div
      class="
        l-display--flex
        l-grid--gutters l-grid--1of2
        l-flex-row-to-column-reverse
      "
    >
      <div class="l-grid-cell c-hero-text-container">
        <h1 class="c-hero-page-title--home">
          Explore Adaptavist Script Library
        </h1>

        <form class="c-home-search--wrapper" action="search">
          <input
            name="library-content[query]"
            (keyup)="checkSearchTextContent($event)"
            class="c-hero-search--text-input"
            placeholder="Search code and content"
            type="text"
          />
          <button
            type="submit"
            class="c-hero--search-button home"
            [ngClass]="textEntered() ? 'active' : ''"
          >
            <svg
              width="15px"
              height="15px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
              ></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
