<app-admin-left-nav></app-admin-left-nav>

<main class="admin-main page-layout--push-down-element">
  <div class="top-nav--holder align-items-centre">
    <div class="top-nav--left">
      <h1 class="top-nav--title font-normal">Collections</h1>
    </div>
    <div class="top-nav--right">
      <button
        type="submit"
        class="admin--button admin--button-action-green"
        (click)="onNew()"
      >
        New Collection
      </button>
    </div>
  </div>

  <div class="flex-mobile-column_tablet-row mt-lg-res">
    <div class="admin--layout-column-two">
      <div class="flex-grow">
        <div class="table--holder">
          <table class="table">
            <thead>
              <tr class="table--row">
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  Collection
                </th>
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  Custom meta description?
                </th>
                <th
                  class="
                    table--cell-heading
                    table--cell-primary-mobile
                    table--cell-action
                  "
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="!collections">
                <tr class="table--row">
                  <td
                    class="table--cell table--cell-primary-mobile"
                    colspan="3"
                  >
                    Loading Collections...
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="collections">
                <tr class="table--row" *ngFor="let collection of collections">
                  <td class="table--cell table--cell-primary-mobile">
                    <a
                      routerLink="/collection/{{ collection.slug }}"
                      class="link--orange"
                      target="blank"
                    >
                      {{ collection.name }}
                      <img
                        src="/assets/img/new-tab.png"
                        width="12"
                        height="12"
                      />
                    </a>
                    <small *ngIf="collection.partner">
                      <br />(Partner Collection)
                    </small>
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    <span *ngIf="collection.meta_description === null">No</span>
                    <span *ngIf="collection.meta_description !== null"
                      >Yes</span
                    >
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    <div class="flex">
                      <button
                        type="button"
                        (click)="onEdit(collection)"
                        class="flex table--action-button"
                      >
                        Edit
                      </button>
                      <button
                        type="button"
                        (click)="onAssignEntities(collection)"
                        class="flex table--action-button"
                      >
                        Assign Entities
                      </button>
                      <button
                        type="button"
                        (click)="onAssignPartners(collection)"
                        class="flex table--action-button"
                      >
                        Assign Partners
                      </button>
                      <button
                        type="button"
                        (click)="onDelete(collection)"
                        class="flex table--action-button"
                      >
                        Delete
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="admin--layout-column-two">
      <div class="admin--wrapper">
        <div class="page-layout--columns page-layout--reset-top">
          <div
            class="
              page-layout--column
              page-layout--column-four
              page-layout--reset-top
            "
          >
            <div
              *ngIf="showAssignEntities"
              class="assign--container admin--content-section"
            >
              <h2 class="font-extra-bold mb-md-res">
                Assign entities to {{ model.name }}
              </h2>
              <div
                *ngFor="let entity of entities"
                class="flex mb-md assign--row"
              >
                <div class="flex-shrink-0">
                  <button
                    type="button"
                    class="btn btn-info admin--button admin--button-action-{{
                      hasEntity(this.model, entity)
                        ? 'red admin--button-cross'
                        : 'green admin--button-plus'
                    }}"
                    (click)="toggleAssignEntity(this.model, entity)"
                  ></button>
                </div>
                <div class="ml-md flex-grow flex-column-center">
                  {{ entity.name }}
                </div>
              </div>
            </div>

            <div
              *ngIf="showAssignPartners"
              class="assign--container admin--content-section"
            >
              <h2 class="font-extra-bold mb-md-res">
                Assign partners to {{ model.name }}
              </h2>
              <div
                *ngFor="let partner of partners"
                class="flex mb-md assign--row"
              >
                <div class="flex-shrink-0">
                  <button
                    type="button"
                    class="btn btn-info admin--button admin--button-action-{{
                      hasPartner(this.model, partner)
                        ? 'red admin--button-cross'
                        : 'green admin--button-plus'
                    }}"
                    (click)="toggleAssignPartner(this.model, partner)"
                  ></button>
                </div>
                <div class="ml-md flex-grow flex-column-center">
                  {{ partner.product_name }} by {{ partner.name }}
                  <ng-container *ngIf="partner.icon">
                    <img src="{{ partner.icon }}" style="max-width: 100px" />
                  </ng-container>
                </div>
              </div>
            </div>

            <div *ngIf="showNew" class="admin--content-section">
              <h2 *ngIf="!showEdit" class="font-extra-bold mb-md-res">
                New Collection
              </h2>
              <h2 *ngIf="showEdit" class="font-extra-bold mb-md-res">
                {{ model.name }}
              </h2>
              <form
                (ngSubmit)="onSave()"
                #collectionForm="ngForm"
                class="form admin--form"
                enctype="multipart/form-data"
              >
                <div class="form-group user-group--row row">
                  <label for="name" class="col-2 col-form-label">Name</label>
                  <input
                    type="text"
                    required
                    [(ngModel)]="model.name"
                    name="name"
                    id="name"
                    #name="ngModel"
                  />
                  <div
                    *ngIf="name.errors && (name.dirty || name.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!name.errors.required">Name is required</div>
                  </div>
                </div>

                <div class="form-group user-group--row row">
                  <label for="slug" class="col-2 col-form-label">Slug</label>
                  <input
                    type="text"
                    [required]="showEdit"
                    [(ngModel)]="model.slug"
                    name="slug"
                    id="slug"
                    #slug="ngModel"
                  />
                  <div
                    *ngIf="slug.errors && (slug.dirty || slug.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!slug.errors.required">Slug is required</div>
                  </div>
                </div>

                <div
                  class="
                    form-group
                    user-group--row user-group--row-textarea
                    row
                  "
                >
                  <label for="description" class="col-2 col-form-label">
                    Description
                    <small>(Markdown supported)</small>
                  </label>
                  <textarea
                    required
                    [(ngModel)]="model.description"
                    name="description"
                    id="description"
                    #description="ngModel"
                    cols="5"
                    rows="5"
                  ></textarea>
                  <div
                    *ngIf="
                      description.errors &&
                      (description.dirty || description.touched)
                    "
                    class="alert alert-danger"
                  >
                    <div [hidden]="!description.errors.required">
                      Description is required
                    </div>
                  </div>
                </div>

                <div class="form-group user-group--row row">
                  <label for="meta_description" class="col-2 col-form-label">
                    Meta description
                    <br />
                    <small>
                      Search engine optimised meta description. Recommended
                      between 50–160 characters. If no meta description is
                      provided, the Collection's description will be used.
                    </small>
                  </label>
                  <textarea
                    required
                    [(ngModel)]="model.meta_description"
                    name="meta_description"
                    id="meta_description"
                    #name="ngModel"
                  ></textarea>
                </div>

                <div class="form-group user-group--row row">
                  <label for="file" class="col-2 col-form-label">
                    Icon
                    <ng-container *ngIf="model.image">
                      <small>
                        (Current icon:
                        <img src="{{ model.image }}" style="max-width: 20px" />)
                      </small>
                    </ng-container>
                  </label>
                  <input
                    type="file"
                    id="file"
                    (change)="onFileChange($event)"
                    #fileInput
                  />
                </div>

                <ng-container *ngIf="model.image">
                  <div class="form-group user-group--row row">
                    <label for="removeFile" class="col-2 col-form-label">
                      Remove current image?
                    </label>

                    <input
                      type="checkbox"
                      [(ngModel)]="model.removeFile"
                      name="removeFile"
                      id="removeFile"
                      #removeFile="ngModel"
                    />
                  </div>
                </ng-container>

                <div class="bottom-tool-bar--holder">
                  <button
                    type="submit"
                    class="
                      btn btn-success
                      admin--button admin--button-action-green
                    "
                    [disabled]="!collectionForm.form.valid"
                  >
                    {{ submitType }}
                  </button>
                  <button
                    type="submit"
                    class="
                      btn btn-primary
                      admin--button admin--button-action-red
                    "
                    (click)="onCancel()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
