<footer>
  <div class="c-footer c-footer--background">
    <div class="l-flex l-flex--wrap l-page--wrapper">
      <div class="l-grid-cell l-grid-cell--full l-grid-cell-sml--1of2">
        <ng-content select="[logo]"></ng-content>
        <p class="c-footer--logo-text">
          <span class="c-footer--logo-text-bold">Adaptavist Library</span> is
          part of the Adaptavist family of products and services
        </p>
      </div>
      <div
        class="
          l-grid-cell l-grid-cell--full
          l-grid-cell-sml--1of2
          c-footer--navigation
        "
        role="navigation"
      >
        <ng-content select="[links]"></ng-content>
      </div>
    </div>
  </div>
</footer>
<app-modal [_showModal$]="showNewFeatureModal">
  <div class="c-modal--pop-up">
    <div class="c-modal--pop-up-img">
      <img src="../../../../assets/images/illustrations/paint-brush.svg" />
    </div>
    <div class="c-modal--pop-up-text-wrapper">
      <h2 class="c-modal--pop-up-title">Hey, I'm your new profile!</h2>
      <p class="c-modal--pop-up-text">
        Great news! We have launched a new profile feature on the Adaptavist
        Library. Check it out now and complete your data to make the most out of
        your Library account.
      </p>
    </div>
  </div>
  <div class="c-modal--bottom-bar edit-bar">
    <a class="c-modal--pop-up-link" (click)="handleEditProfileNewFeatureModal()"
      >Edit profile</a
    >
  </div>
  <div class="c-modal--bottom-bar profile">
    <a class="c-hide-prompt" (click)="handleDismissNewFeatureModal()"
      >Dismiss</a
    >
  </div>
</app-modal>
