<div class="c-page-header-bar">
  <div
    class="
      l-page--wrapper
      l-display--flex
      l-grid
      c-library-menu-mobile--spacing
      l-align-items--center
    "
  >
    <div
      class="
        c-library-logo
        l-grid-cell
        l-grid-xsml--2of3
        l-grid-sml--1of2
        l-grid--3of4
      "
    >
      <ng-content select="[logo]"></ng-content>
    </div>

    <nav
      *ngIf="!profile.isAuthenticated()"
      [ngClass]="isMobileMenuOpen ? 'is-open' : ''"
      class="
        c-library-menu
        u-text-align--right
        l-grid-xsml--1of3
        l-grid-sml--1of2
        l-grid--1of4
      "
    >
      <ng-content select="[menu-one]"></ng-content>
    </nav>
    <nav
      *ngIf="profile.isAuthenticated()"
      [ngClass]="isMobileMenuOpen ? 'is-open' : ''"
      class="
        c-library-menu
        u-text-align--right
        l-grid-xsml--1of3
        l-grid-sml--1of2
        l-grid--1of4
      "
    >
      <ng-content select="[menu-two]"></ng-content>
    </nav>
    <button
      (click)="mobileMenuToggle()"
      [ngClass]="isMobileMenuOpen ? 'is-open' : ''"
      aria-label="Open the menu"
      class="menu-icon"
    >
      <span aria-hidden="true" class="menu-icon--inner"></span>
      Menu
    </button>
  </div>
</div>
