<app-admin-left-nav></app-admin-left-nav>

<main class="admin-main page-layout--push-down-element">
  <div class="top-nav--holder align-items-centre">
    <div class="top-nav--left">
      <h1 class="top-nav--title font-normal">Tags</h1>
    </div>
    <div class="top-nav--right">
      <button
        type="submit"
        class="admin--button admin--button-action-green"
        (click)="onNew()"
      >
        New Tag
      </button>
    </div>
  </div>

  <div class="flex-mobile-column_tablet-row mt-lg-res">
    <div class="admin--layout-column-two">
      <div class="flex-grow">
        <div class="table--holder">
          <table class="table">
            <thead>
              <tr class="table--row">
                <th
                  class="
                    table--cell-heading table--cell-primary-mobile
                    flex-grow
                  "
                >
                  Tag
                </th>
                <th
                  class="
                    table--cell-heading
                    table--cell-primary-mobile
                    table--cell-action
                  "
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="!tags">
                <tr class="table--row">
                  <td
                    class="table--cell table--cell-primary-mobile"
                    colspan="2"
                  >
                    Loading Tags...
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="tags">
                <tr class="table--row" *ngFor="let tag of tags">
                  <td class="table--cell table--cell-primary-mobile">
                    {{ tag.name }}
                  </td>
                  <td class="table--cell table--cell-primary-mobile">
                    <div class="flex">
                      <button
                        type="button"
                        (click)="onEdit(tag)"
                        class="flex table--action-button"
                      >
                        Edit
                      </button>
                      <button
                        type="button"
                        (click)="onDelete(tag)"
                        class="flex table--action-button"
                      >
                        Delete
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="admin--layout-column-two">
      <div class="admin--wrapper">
        <div class="page-layout--columns page-layout--reset-top">
          <div
            class="
              page-layout--column
              page-layout--column-four
              page-layout--reset-top
            "
          >
            <div *ngIf="showNew" class="admin--content-section">
              <h2 *ngIf="!showEdit" class="font-extra-bold mb-md-res">
                New Tag
              </h2>
              <h2 *ngIf="showEdit" class="font-extra-bold mb-md-res">
                {{ model.name }}
              </h2>
              <form
                (ngSubmit)="onSave()"
                #tagForm="ngForm"
                class="form admin--form"
                enctype="multipart/form-data"
              >
                <div class="form-group user-group--row row">
                  <label for="name" class="col-2 col-form-label">Name</label>
                  <input
                    type="text"
                    required
                    [(ngModel)]="model.name"
                    name="name"
                    id="name"
                    #name="ngModel"
                  />
                  <div
                    *ngIf="name.errors && (name.dirty || name.touched)"
                    class="alert alert-danger"
                  >
                    <div [hidden]="!name.errors.required">Name is required</div>
                  </div>
                </div>

                <div class="form-group user-group--row row">
                  <label for="shortcode" class="col-2 col-form-label">
                    Shortcode
                    <small>(As referenced in the yaml file)</small>
                  </label>
                  <input
                    type="text"
                    required
                    [(ngModel)]="model.shortcode"
                    name="shortcode"
                    id="shortcode"
                    #shortcode="ngModel"
                  />
                  <div
                    *ngIf="
                      shortcode.errors && (shortcode.dirty || shortcode.touched)
                    "
                    class="alert alert-danger"
                  >
                    <div [hidden]="!shortcode.errors.required">
                      Shortcode is required
                    </div>
                  </div>
                </div>

                <div class="bottom-tool-bar--holder">
                  <button
                    type="submit"
                    class="
                      btn btn-success
                      admin--button admin--button-action-green
                    "
                    [disabled]="!tagForm.form.valid"
                  >
                    {{ submitType }}
                  </button>
                  <button
                    type="submit"
                    class="
                      btn btn-primary
                      admin--button admin--button-action-red
                    "
                    (click)="onCancel()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
