<app-hero-my-library>
  <a (click)="this.location.back()" back class="c-hero--back-button u-text-link"
    >‹ Go back</a
  >
</app-hero-my-library>
<div class="l-page--wrapper">
  <div class="l-display--flex l-grid--full l-padding-top--gutter">
    <div class="l-grid-cell">
      <app-tab-menu-list>
        <app-tab-menu-item *ngFor="let tab of tabs">
          <a
            [routerLink]="'/library/' + tab.link"
            class="c-tab-menu--link"
            routerLinkActive="active"
          >
            {{ tab.text }} {{ tab.count }}</a
          >
        </app-tab-menu-item>
      </app-tab-menu-list>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
