.p-vsm-res {
  padding: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .p-vsm-res {
    padding: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .p-vsm-res {
    padding: 6.25px;
  }
}
.p-sm-res {
  padding: 5px;
}
@media only screen and (min-width: 37.5em) {
  .p-sm-res {
    padding: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .p-sm-res {
    padding: 12.5px;
  }
}
.p-md-res {
  padding: 10px;
}
@media only screen and (min-width: 37.5em) {
  .p-md-res {
    padding: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .p-md-res {
    padding: 25px;
  }
}
.p-lg-res {
  padding: 20px;
}
@media only screen and (min-width: 37.5em) {
  .p-lg-res {
    padding: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .p-lg-res {
    padding: 50px;
  }
}
.pt-vsm-res {
  padding-top: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .pt-vsm-res {
    padding-top: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .pt-vsm-res {
    padding-top: 6.25px;
  }
}
.pt-sm-res {
  padding-top: 5px;
}
@media only screen and (min-width: 37.5em) {
  .pt-sm-res {
    padding-top: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .pt-sm-res {
    padding-top: 12.5px;
  }
}
.pt-md-res {
  padding-top: 10px;
}
@media only screen and (min-width: 37.5em) {
  .pt-md-res {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .pt-md-res {
    padding-top: 25px;
  }
}
.pt-lg-res {
  padding-top: 20px;
}
@media only screen and (min-width: 37.5em) {
  .pt-lg-res {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .pt-lg-res {
    padding-top: 50px;
  }
}
.pr-vsm-res {
  padding-right: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .pr-vsm-res {
    padding-right: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .pr-vsm-res {
    padding-right: 6.25px;
  }
}
.pr-sm-res {
  padding-right: 5px;
}
@media only screen and (min-width: 37.5em) {
  .pr-sm-res {
    padding-right: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .pr-sm-res {
    padding-right: 12.5px;
  }
}
.pr-md-res {
  padding-right: 10px;
}
@media only screen and (min-width: 37.5em) {
  .pr-md-res {
    padding-right: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .pr-md-res {
    padding-right: 25px;
  }
}
.pr-lg-res {
  padding-right: 20px;
}
@media only screen and (min-width: 37.5em) {
  .pr-lg-res {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .pr-lg-res {
    padding-right: 50px;
  }
}
.pb-vsm-res {
  padding-bottom: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .pb-vsm-res {
    padding-bottom: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .pb-vsm-res {
    padding-bottom: 6.25px;
  }
}
.pb-sm-res {
  padding-bottom: 5px;
}
@media only screen and (min-width: 37.5em) {
  .pb-sm-res {
    padding-bottom: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .pb-sm-res {
    padding-bottom: 12.5px;
  }
}
.pb-md-res {
  padding-bottom: 10px;
}
@media only screen and (min-width: 37.5em) {
  .pb-md-res {
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .pb-md-res {
    padding-bottom: 25px;
  }
}
.pb-lg-res {
  padding-bottom: 20px;
}
@media only screen and (min-width: 37.5em) {
  .pb-lg-res {
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .pb-lg-res {
    padding-bottom: 50px;
  }
}
.pl-vsm-res {
  padding-left: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .pl-vsm-res {
    padding-left: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .pl-vsm-res {
    padding-left: 6.25px;
  }
}
.pl-sm-res {
  padding-left: 5px;
}
@media only screen and (min-width: 37.5em) {
  .pl-sm-res {
    padding-left: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .pl-sm-res {
    padding-left: 12.5px;
  }
}
.pl-md-res {
  padding-left: 10px;
}
@media only screen and (min-width: 37.5em) {
  .pl-md-res {
    padding-left: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .pl-md-res {
    padding-left: 25px;
  }
}
.pl-lg-res {
  padding-left: 20px;
}
@media only screen and (min-width: 37.5em) {
  .pl-lg-res {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .pl-lg-res {
    padding-left: 50px;
  }
}
.p-vsm {
  padding: 3.75px;
}
.p-sm {
  padding: 5px;
}
.p-md {
  padding: 15px;
}
.p-lg {
  padding: 50px;
}
.pt-vsm {
  padding-top: 3.75px;
}
.pt-sm {
  padding-top: 5px;
}
.pt-md {
  padding-top: 15px;
}
.pt-lg {
  padding-top: 50px;
}
.pr-vsm {
  padding-right: 3.75px;
}
.pr-sm {
  padding-right: 5px;
}
.pr-md {
  padding-right: 15px;
}
.pr-lg {
  padding-right: 50px;
}
.pb-vsm {
  padding-bottom: 3.75px;
}
.pb-sm {
  padding-bottom: 5px;
}
.pb-md {
  padding-bottom: 15px;
}
.pb-lg {
  padding-bottom: 50px;
}
.pl-vsm {
  padding-left: 3.75px;
}
.pl-sm {
  padding-left: 5px;
}
.pl-md {
  padding-left: 15px;
}
.pl-lg {
  padding-left: 50px;
}
.m-vsm-res {
  margin: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .m-vsm-res {
    margin: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .m-vsm-res {
    margin: 6.25px;
  }
}
.m-sm-res {
  margin: 5px;
}
@media only screen and (min-width: 37.5em) {
  .m-sm-res {
    margin: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .m-sm-res {
    margin: 12.5px;
  }
}
.m-md-res {
  margin: 10px;
}
@media only screen and (min-width: 37.5em) {
  .m-md-res {
    margin: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .m-md-res {
    margin: 25px;
  }
}
.m-lg-res {
  margin: 20px;
}
@media only screen and (min-width: 37.5em) {
  .m-lg-res {
    margin: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .m-lg-res {
    margin: 50px;
  }
}
.mt-vsm-res {
  margin-top: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .mt-vsm-res {
    margin-top: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .mt-vsm-res {
    margin-top: 6.25px;
  }
}
.mt-sm-res {
  margin-top: 5px;
}
@media only screen and (min-width: 37.5em) {
  .mt-sm-res {
    margin-top: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .mt-sm-res {
    margin-top: 12.5px;
  }
}
.mt-md-res {
  margin-top: 10px;
}
@media only screen and (min-width: 37.5em) {
  .mt-md-res {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .mt-md-res {
    margin-top: 25px;
  }
}
.mt-lg-res {
  margin-top: 20px;
}
@media only screen and (min-width: 37.5em) {
  .mt-lg-res {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .mt-lg-res {
    margin-top: 50px;
  }
}
.mr-vsm-res {
  margin-right: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .mr-vsm-res {
    margin-right: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .mr-vsm-res {
    margin-right: 6.25px;
  }
}
.mr-sm-res {
  margin-right: 5px;
}
@media only screen and (min-width: 37.5em) {
  .mr-sm-res {
    margin-right: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .mr-sm-res {
    margin-right: 12.5px;
  }
}
.mr-md-res {
  margin-right: 10px;
}
@media only screen and (min-width: 37.5em) {
  .mr-md-res {
    margin-right: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .mr-md-res {
    margin-right: 25px;
  }
}
.mr-lg-res {
  margin-right: 20px;
}
@media only screen and (min-width: 37.5em) {
  .mr-lg-res {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .mr-lg-res {
    margin-right: 50px;
  }
}
.mb-vsm-res {
  margin-bottom: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .mb-vsm-res {
    margin-bottom: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .mb-vsm-res {
    margin-bottom: 6.25px;
  }
}
.mb-sm-res {
  margin-bottom: 5px;
}
@media only screen and (min-width: 37.5em) {
  .mb-sm-res {
    margin-bottom: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .mb-sm-res {
    margin-bottom: 12.5px;
  }
}
.mb-md-res {
  margin-bottom: 10px;
}
@media only screen and (min-width: 37.5em) {
  .mb-md-res {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .mb-md-res {
    margin-bottom: 25px;
  }
}
.mb-lg-res {
  margin-bottom: 20px;
}
@media only screen and (min-width: 37.5em) {
  .mb-lg-res {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .mb-lg-res {
    margin-bottom: 50px;
  }
}
.ml-vsm-res {
  margin-left: 2.5px;
}
@media only screen and (min-width: 37.5em) {
  .ml-vsm-res {
    margin-left: 3.75px;
  }
}
@media only screen and (min-width: 75em) {
  .ml-vsm-res {
    margin-left: 6.25px;
  }
}
.ml-sm-res {
  margin-left: 5px;
}
@media only screen and (min-width: 37.5em) {
  .ml-sm-res {
    margin-left: 7.5px;
  }
}
@media only screen and (min-width: 75em) {
  .ml-sm-res {
    margin-left: 12.5px;
  }
}
.ml-md-res {
  margin-left: 10px;
}
@media only screen and (min-width: 37.5em) {
  .ml-md-res {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 75em) {
  .ml-md-res {
    margin-left: 25px;
  }
}
.ml-lg-res {
  margin-left: 20px;
}
@media only screen and (min-width: 37.5em) {
  .ml-lg-res {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .ml-lg-res {
    margin-left: 50px;
  }
}
.m-vsm {
  margin: 3.75px;
}
.m-sm {
  margin: 5px;
}
.m-md {
  margin: 15px;
}
.m-lg {
  margin: 50px;
}
.mt-vsm {
  margin-top: 3.75px;
}
.mt-sm {
  margin-top: 5px;
}
.mt-md {
  margin-top: 15px;
}
.mt-lg {
  margin-top: 50px;
}
.mr-vsm {
  margin-right: 3.75px;
}
.mr-sm {
  margin-right: 5px;
}
.mr-md {
  margin-right: 15px;
}
.mr-lg {
  margin-right: 50px;
}
.mb-vsm {
  margin-bottom: 3.75px;
}
.mb-sm {
  margin-bottom: 5px;
}
.mb-md {
  margin-bottom: 15px;
}
.mb-lg {
  margin-bottom: 50px;
}
.ml-vsm {
  margin-left: 3.75px;
}
.ml-sm {
  margin-left: 5px;
}
.ml-md {
  margin-left: 15px;
}
.ml-lg {
  margin-left: 50px;
}
.flex,
.flex-column,
.flex-row,
.flex-wrap,
.flex-justify-end,
.flex-column-center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
}
.flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-grow {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.flex-wrap {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.align-items-centre {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.align-items-flex-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.align-items-flex-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex-justify-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex-space-between {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-end {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex-justify-centre {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-align-item-centre {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-mobile-column_tablet-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 37.5em) {
  .flex-mobile-column_tablet-row {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.flex-mobile-column-reverse_tablet-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 37.5em) {
  .flex-mobile-column-reverse_tablet-row {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.flex-mobile-column_smalldesktop-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 50em) {
  .flex-mobile-column_smalldesktop-row {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.flex-shrink-0 {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.flex-column-center {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* ADMIN Cms STYLING */
.page-layout--push-down-element-admin {
  padding-top: 54px;
}
.admin-main {
  background-color: #f6f7f8;
}
@media only screen and (min-width: 50em) {
  .admin-main {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: static;
    width: calc(100vw - 180px);
    margin-left: 180px;
    min-height: calc(100vh - 60px);
  }
}
@media only screen and (min-width: 50em) {
  .admin--layout-column-two {
    width: 100%;
  }
}
.table--accordion-holder {
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  background-color: #f6f7f8;
}
.table--accordion-holder-show {
  max-height: 1000px;
  visibility: visible;
  pointer-events: all;
  border-bottom: 1px solid #e7e9ec;
}
.table--accordion-content {
  width: calc(100% - 32px);
  margin: 20px auto 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 50em) {
  .table--accordion-content {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 50em) {
  .table--accordion-content > div {
    width: calc(50% - 32px);
  }
}
.assign--row {
  padding: 10px 0 10px 10px;
}
.assign--row:nth-child(even) {
  background: #fbfbfb;
}
.assign--row:nth-child(odd) {
  background: #fff;
}
.bottom-tool-bar--holder {
  width: 100%;
  padding: 11.5px;
}
@media only screen and (min-width: 50em) {
  .bottom-tool-bar--holder {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 50em) {
  .bottom-tool-bar--holder-fixed {
    height: 54px;
    position: fixed;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(180px);
    -moz-transform: translateX(180px);
    -o-transform: translateX(180px);
    -ms-transform: translateX(180px);
    transform: translateX(180px);
    padding: 0 20px;
  }
}
.admin--button:not(:last-child) {
  margin-right: 5px;
}
.admin--button {
  padding: 11px;
  line-height: 1;
  font-size: 1em;
  border-radius: 3px;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.admin--button-action-green {
  background-color: #3fa142;
  color: #fff;
}
.admin--button-action-green:hover {
  background-color: #328135;
}
.admin--button-action-green[disabled] {
  background-color: #576a87;
}
.admin--button-action-red {
  background-color: #d40404;
  color: #fff;
}
.admin--button-action-red:hover {
  background-color: #aa0303;
}
.admin--button-cross {
  position: relative;
}
.admin--button-cross::before,
.admin--button-cross::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 14px;
  background-color: #fff;
  top: 10px;
  left: 4px;
}
.admin--button-cross::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.admin--button-cross::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.admin--button-plus {
  position: relative;
}
.admin--button-plus::before,
.admin--button-plus::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 14px;
  background-color: #fff;
  top: 10px;
  left: 4px;
}
.admin--button-plus::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.admin--button-tick {
  position: relative;
}
.admin--button-tick::before,
.admin--button-tick::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
}
.admin--button-tick::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 6px;
  left: 4px;
  top: 12px;
}
.admin--button-tick::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 14px;
  right: 2px;
  top: 10px;
}
.filter--holder {
  overflow: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background-color: #f6f7f8;
  padding: 0 15px;
}
@media only screen and (min-width: 37.5em) {
  .filter--holder {
    width: 100%;
  }
}
.filter--holder input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #edeeef;
  font-size: 1em;
}
.filter--holder-show {
  max-height: 500px;
  visibility: visible;
  pointer-events: all;
  padding: 15px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  border-bottom: 1px solid #ccc;
}
@media only screen and (min-width: 37.5em) {
  .filter--fixed {
    position: fixed;
    top: 54px;
    left: 0;
  }
}
.filter--search-bar {
  margin-bottom: 10px;
}
@media only screen and (min-width: 37.5em) {
  .filter--search-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .filter--search-bar input {
    margin-right: 6px;
  }
}
.filter--category-holder {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-left: 12px;
}
.filter--category-holder label {
  margin-right: 10px;
}
.filter--category-name {
  font-size: 1.2em;
  position: relative;
  padding-right: 20px;
  text-transform: uppercase;
}
.filter--category-name::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 0;
  height: 21px;
  width: 1px;
  background-color: #33475b;
}
.filter--result-count {
  display: inline-block;
  margin-top: 14px;
}
.filter--full-page {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.filter--full-page .filter--holder {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0;
}
@media only screen and (min-width: 37.5em) {
  .filter--full-page .filter--holder {
    margin-top: -50px;
  }
}
.filter--full-page .filter--search-bar input {
  max-width: 100%;
}
@media only screen and (min-width: 37.5em) {
  .filter--full-page .filter--search-bar input {
    font-size: 2.5em;
  }
}
.filter--full-page .filter--result-count {
  text-align: right;
  display: block;
}
@media only screen and (min-width: 37.5em) {
  .filter--full-page-title {
    font-size: 4em;
  }
}
.left-nav--holder {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #f63;
  color: #fff;
  -webkit-transform: translateX(-101vw);
  -moz-transform: translateX(-101vw);
  -o-transform: translateX(-101vw);
  -ms-transform: translateX(-101vw);
  transform: translateX(-101vw);
  width: calc(100vw - 59px);
  z-index: 6;
}
@media only screen and (min-width: 50em) {
  .left-nav--holder {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    width: 180px;
  }
}
@media only screen and (max-width: 50em) {
  .left-nav--holder {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
}
.left-nav--show {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.left-nav--link {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 16px 10px;
  color: #fff !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  line-height: 1;
  &:active,
  &:hover {
    color: #fff !important;
    text-decoration: none;
  }
}
.left-nav--link:not(.left-nav--link-current):hover {
  background-color: rgba(0, 0, 0, 0.26);
}
.left-nav--link-current {
  background-color: #fff;
  color: #f63 !important;
  &:active,
  &:hover {
    color: #f63 !important;
  }
}
.left-nav--link-current svg path {
  fill: #f63 !important;
}
.left-nav--logo {
  padding: 13px 10px 13px 63px;
}
@media only screen and (min-width: 50em) {
  .left-nav--logo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    padding: 0 10px;
    height: 60px;
  }
}
.left-nav--admin-name {
  width: 100%;
}
@media only screen and (min-width: 50em) {
  .left-nav--admin-name {
    font-size: 0.85em;
  }
}
.left-nav--admin-name .left-nav--icon.fa {
  height: auto;
  width: auto;
  font-size: 1.8em;
}
.left-nav--admin-log-out .left-nav--icon {
  margin-right: 0;
}
.left-nav--icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 6px;
}
.left-nav--icon.fa {
  font-size: 1.2em;
}
.left-nav--icon-large {
  width: 25px;
  height: 25px;
}
.left-nav--button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 52px;
  height: 52px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 7;
  background-color: #005a93;
}
@media only screen and (min-width: 50em) {
  .left-nav--button {
    display: none;
  }
}
.left-nav--button-active .left-nav--button-icon {
  background-color: rgba(0, 0, 0, 0);
}
.left-nav--button-active .left-nav--button-icon::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
}
.left-nav--button-active .left-nav--button-icon::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 25px;
  bottom: auto;
}
.left-nav--button-icon {
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.left-nav--button-icon::before,
.left-nav--button-icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.left-nav--button-icon::before {
  top: 19px;
}
.left-nav--button-icon::after {
  bottom: 19px;
}
.loader--holder {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.26);
}
.loader--icon {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  background-color: blue;
  background-image: url("../../img/white-logo.png");
  background-repeat: no-repeat;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  background-size: 50%;
  background-position: center center;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-animation: pulse 1.5s infinite;
  -moz-animation: pulse 1.5s infinite;
  -o-animation: pulse 1.5s infinite;
  -ms-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
.messages--holder {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9999;
}
.message--content {
  max-width: 300px;
  position: relative;
  padding: 10px 40px 10px 10px;
  background-color: #fff;
  color: blue;
  border: 2px solid blue;
}
.message--content > div {
  margin-bottom: 15px;
  word-break: break-word;
}
.message--content > div:last-of-type {
  margin-bottom: 0;
}
.message--clear-button {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
}
.message--clear-button::before,
.message--clear-button::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: blue;
}
.message--clear-button::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.message--clear-button::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search--holder input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #fff;
  border: none;
  background-image: url("../../img/search-icon.png");
  -webkit-background-size: 18px;
  -moz-background-size: 18px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  -webkit-box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.26);
  box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.26);
}
@media only screen and (min-width: 50em) {
  .search--holder input {
    width: 250px;
    height: 36px;
    background-position: right 10px center;
  }
}
.table--holder {
  display: block;
  font-size: 0.95em;
}
@media only screen and (min-width: 50em) {
  .table--holder {
    padding-bottom: 100px;
  }
}
.table--holder table {
  -webkit-box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
}
.table--row {
  border-bottom: 1px solid #e7e9ec;
  background-color: #fff;
}
.table--row-light-orange {
  background-color: #ffb399;
}
.table--row-light-yellow {
  background-color: #fff9e9;
}
.table--row-extra-content {
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
}
.table--content-padding {
  padding: 16px;
}
.table--cell {
  vertical-align: top;
}
.table--cell-heading {
  vertical-align: middle;
}
.table--cell,
.table--cell-heading {
  display: none;
  padding: 16px;
}
@media only screen and (min-width: 75em) {
  .table--cell,
  .table--cell-heading {
    display: table-cell;
  }
}
.table--cell-heading {
  text-transform: uppercase;
  text-align: left;
}
.table--cell-heading button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.table--icon {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  background-color: #f63;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media only screen and (min-width: 90.625em) {
  .table--icon {
    margin-right: 6px;
  }
}
.table--icon .fa {
  font-size: 1.75em;
  line-height: 1;
  padding: 6px;
  border-radius: 2px;
}
.table--icon .fa:hover {
  color: #036;
  background-color: #edeeef;
}
.table--icon-edit::before {
  content: "\f044";
  font-family: "FontAwesome";
}
.table--icon-assign::before {
  content: "\f07c";
  font-family: "FontAwesome";
}
.table--icon-assign-partners::before {
  content: "\f2b9";
  font-family: "FontAwesome";
}
.table--icon-delete::before {
  content: "\f1f8";
  font-family: "FontAwesome";
}
.table--action-button {
  width: 80px;
  padding: 6px;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-appearance: none;
  border: none;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  margin-right: 10px;
  font-size: 1em;
}
.table--action-button:hover {
  background-color: #edeeef;
}
.table--action-button:last-of-type {
  margin-right: 0;
}
.table--action-button-text {
  display: none;
}
@media only screen and (max-width: 90.625em) {
  .table--action-button-text {
    display: none;
  }
}
.table--icon-datacentre {
  font-size: 1.2em;
  margin-right: 6px;
}
.table--cell-primary-mobile {
  display: table-cell;
}
.table--row-extra-content-show {
  max-height: 1000px;
  pointer-events: all;
}
.table--cell-collections-entities {
  width: 10%;
}
@media only screen and (min-width: 37.5em) {
  .table--cell-action {
    width: 5%;
    text-align: center;
  }
}
.table--chevron-icon-holder {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.table--chevron-icon {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  padding: 5px;
  position: relative;
  margin-left: 8px;
}
.table--chevron-icon::before,
.table--chevron-icon::after {
  content: "";
  width: 6px;
  height: 1px;
  position: absolute;
  top: 4px;
  background-color: #031534;
}
.table--chevron-icon::before {
  right: 0;
}
.table--chevron-icon::after {
  right: 4px;
}
.table--chevron-icon-down::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.table--chevron-icon-down::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.table--chevron-icon-up::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.table--chevron-icon-up::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.top-nav--holder {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid #ccc;
  background-color: #f6f7f8;
}
@media only screen and (min-width: 50em) {
  .top-nav--holder {
    height: 60px;
    width: calc(100% - 180px);
    -webkit-transform: translateX(180px);
    -moz-transform: translateX(180px);
    -o-transform: translateX(180px);
    -ms-transform: translateX(180px);
    transform: translateX(180px);
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 20px;
  }
}
.top-nav--with-filter {
  height: auto;
  min-height: 54px;
}
.top-nav--title {
  padding: 18px 10px 18px 65px;
  font-size: 1.2em;
  margin: 0;
  line-height: 1;
}
@media only screen and (min-width: 50em) {
  .top-nav--title {
    padding-left: 0;
  }
}
.top-nav--links {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 11.5px;
}
@media only screen and (min-width: 50em) {
  .top-nav--links {
    margin: 0;
  }
}
.top-nav--link {
  color: #33475b;
  padding: 18px 10px;
}
@media only screen and (min-width: 50em) {
  .top-nav--link {
    height: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 6px;
  }
}
.top-nav--link.top-nav--current {
  position: relative;
}
.top-nav--link.top-nav--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #33475b;
}
.top-nav--search {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 12px;
}
.admin--content-section {
  padding-top: 10px;
}
@media only screen and (min-width: 37.5em) {
  .admin--content-section {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.16);
    padding: 40px;
    border-radius: 2px;
  }
}
.admin--form button {
  width: auto;
}
.user-group--row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #e5e8eb;
  padding: 15px 0;
}
.user-group--row:first-of-type {
  padding-top: 0;
}
.user-group--row label {
  display: block;
  margin-bottom: 8px;
}
.user-group--row input,
.user-group--row textarea {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
}
@media only screen and (min-width: 50em) {
  .user-group--row input,
  .user-group--row textarea {
    max-width: 950px;
  }
}
.user-group--row input[type="file"] input {
  background-color: #f00;
}
.user-group--row textarea {
  resize: vertical;
}
@media only screen and (min-width: 37.5em) {
  .user-group--row-textarea {
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 37.5em) {
  .user-group--row-textarea label {
    margin-top: 6px;
  }
}
.user-group--checkbox-holder {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 50em) {
  .user-group--checkbox-holder {
    margin-left: 280px;
  }
}
.user-group--checkbox-holder label {
  width: 100%;
}
.user-group--checkbox-holder input {
  max-width: none;
  margin-right: 10px;
  width: auto;
}
