.c-announcement-bar {
  background-color: $colour-brand-learn-blue;
  height: 86px;
  display: none;
}

.c-announcement-bar--bg {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../../images/illustrations/announcement-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: -30px;
  background-position-y: center;
}

.announcement-is-open {
  display: block;
}

.c-announcement-bar--content {
  @extend %l-flex;
  @extend %l-align-items--center;
  @extend %l-justify-content--space-between;
  width: 100%;
}
.c-announcement-bar--text {
  @extend %l-margin-bottom--none;
  font-size: 16px;
  color: $colour-brand-white;
  margin-left: 20px;
  position: relative;
  left: 80px;
  width: 70%;

  @media screen and (max-width: 415px) {
    font-size: 14px;
    width: 70%;
    left: 50px;
  }
  @media screen and (max-width: 360px) {
    font-size: 12px;
    line-height: 1.5;
    width: 60%;
  }
}

.c-announcement-bar--button {
  @extend %c-button;
  @extend %c-button--text--brand-alt-white;
  background-color: transparent;
  font-size: 24px;
  line-height: 0.5;
  margin-left: $gutter--half;
}
.c-announcement-bar--link {
  font-weight: bold;
  text-decoration: underline;
}
