#gdpr-cookie-message {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  right: 0px;
  z-index: 102;
}

#gdpr-cookie-message div div {
  background-color: #000a27;
  padding: 24px;
}

#gdpr-cookie-message div div div {
  font-size: 16px;
  padding: 0;
  text-align: left;
  line-height: 1.6;
  font-family: "Museo Sans W01_300", sans-serif;
}

.gdpr-cookie-icon {
  display: flex;
  margin-right: 24px;
  flex: 1;
}

#gdpr-cookie-message a {
  color: #fff;
}

#gdpr-cookie-message p {
  margin-bottom: 0;
}

#gdpr-cookie-message div div button {
  position: absolute;
  top: 32px;
  right: 16px;
  font-size: 30px;
  color: #dadada;
}

#gdpr-cookie-message div div p button {
  display: none;
}

.gdpr-cookie-text {
  margin-right: 24px;
}

.gdpr-cookie-image {
  margin-right: 20px;
  align-self: flex-start;
  margin-top: 4px;
}

[data-consent-manager-dialog] h2 {
  font-weight: initial;
}

[data-consent-manager-dialog] td,
[data-consent-manager-dialog] p {
  font-size: 12px;
}

[data-consent-manager-dialog] input[type="radio"] {
  width: inherit;
  margin-bottom: inherit;
}

[data-consent-manager-dialog] button[type="submit"] {
  background-color: #f63;
  background-image: linear-gradient(to top, #e05629, #f63);
}
