.c-feedback-button {
  position: fixed;
  top: 50%;
  right: -24px;
  transform: rotate(90deg) translate(-50%, -50%);
  padding: 30px $gutter 12px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: $colour-brand-white !important;
  text-decoration: none !important;
  background-color: $colour-brand-link-blue;
  z-index: 200;

  @media only screen and (max-width: 768px) {
    z-index: 0;
  }

  &:hover {
    background-color: $colour-brand-link-blue--hover;
  }
}

.c-feedback-button--icon {
  width: 15px;
  height: 15px;
  position: relative;
  bottom: -2px;
  margin-right: 3px;
  path {
    max-width: 15px;
  }
}
