.c-resource-partner--container {
  display: flex;
  flex-wrap: wrap;
}

.c-resource-partner {
  display: flex;
  align-items: center;
  margin-right: $gutter;
  margin-bottom: $gutter;
}

.c-partner--logo-holder {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  background-color: white;
  margin-right: $gutter--half;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.c-partner--logo {
  width: 50px;
  height: auto;
  align-self: center;
  justify-self: center;
}

.c-partner--text {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 0;
  a,
  a:hover,
  a:visited,
  a:active {
    color: $colour-dark-blue-grey;
  }
}

.c-partner--product-name {
  font-size: 14px;
  line-height: 17px;
}

@media #{$sml-up} {
  .c-resource-partner {
    margin-bottom: 0;
  }
}
