.universal-header {
  width: 100%;
  height: 38px;
  background-color: #010022;
  font-size: 12px;
}

.universal-header li {
  list-style: none;
}

.universal-header--navigation ul.universal-navigation--primary {
  margin-left: 0;
  padding-left: 0;
}

@media only screen and (max-width: 50em) {
  .universal-header {
    display: none;
  }
}

.universal-navigation--secondary {
  margin-left: auto;
}

.universal-navigation--link {
  height: inherit;
}

.universal-navigation--link.margin-left-20 {
  margin-left: 20px;
}

.universal-navigation--link:first-of-type a {
  padding-left: 0;
}

.universal-navigation--link:last-of-type a {
  padding-right: 0;
}

.universal-navigation--link a {
  height: inherit;
  display: block;
  padding: 0 10px;
  line-height: 38px;
}

.universal-navigation--primary a {
  color: #fff;
}

.universal-navigation--secondary a {
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (min-width: 50em) {
  .universal-header ~ .push-footer-bottom {
    min-height: calc(100vh - 140px);
  }
}

@media only screen and (min-width: 50em) {
  .universal-header ~ .push-footer-bottom .content-full-height {
    min-height: calc(100vh - 187px);
  }
}

@media only screen and (min-width: 62.5em) {
  .universal-header ~ .push-footer-bottom .content-full-height {
    min-height: calc(100vh - 200px);
  }
}

header:not(.universal-header):not(.magic-links--header) {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}
