<app-profile-page-hero-partial></app-profile-page-hero-partial>
<div class="l-page--wrapper-profile">
  <ng-container *ngIf="!loading && cards.length === 0">
    <p *ngIf="viewingOwnProfile">
      You haven't contributed any code yet.
      <a
        href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/338"
        target="blank"
      >
        Click here to contribute to Adaptavist Library</a
      >.
    </p>
    <p *ngIf="!viewingOwnProfile">This user hasn't contributed any code yet.</p>
  </ng-container>
  <ng-container *ngIf="cards.length > 0">
    <app-card-container
      columns="l-grid-lrg--1of4 l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
    >
      <app-entity-card-partial
        *ngFor="let card of cards"
        [card]="card"
        class="l-grid-cell l-padding-bottom--gutter"
      >
      </app-entity-card-partial>
    </app-card-container>
  </ng-container>
</div>
