.c-filter-menu--reset {
  background-color: #4775ff;
  padding: 4px 28px 2px 6px;
  margin-right: 6px;
  position: relative;
  font-size: 15px;
  height: 30px;
  border-radius: 3px;
  color: var(--brand-alt-white);
  cursor: pointer;
  transition: border 0.2s ease-in-out;
  border-radius: 3px;
  border: none;
  transition: background-color 0.2s ease-in-out;
  font-weight: normal;
  margin-right: 3px;

  &:after {
    content: "";
    mask-image: url("../../../../assets/images/icons/cross.svg");
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    right: 6px;
    top: 55%;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  &:hover {
    color: var(--brand-alt-white--hover);
  }
}

.c-filter-menu--results-tag {
  background-color: var(--brand-black);
  padding: 4px 28px 2px 6px;
  margin-right: 6px;
  position: relative;
  font-size: 15px;
  height: 30px;
  border-radius: 3px;
  border: none;
  color: var(--brand-alt-white);
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
  font-weight: normal;
  margin-right: 3px;

  &:after {
    content: "";
    mask-image: url("../../../../assets/images/icons/cross.svg");
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    right: 6px;
    top: 55%;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: var(--brand-black--hover);
    color: var(--brand-alt-white--hover);
  }
}
