.search-panel__filters ais-refinement-list {
  color: hsl(244, 7%, 53%);
  font-size: 14px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  padding: none;

  &:visited,
  &:active {
    color: hsl(244, 7%, 53%);
  }

  input:checked span ais-higlight span {
    color: hsl(232, 96%, 42%);
    font-weight: bold;

    &:after {
      content: "";
    }
  }
}
