<ais-instantsearch [config]="config">
  <app-search-box-partial></app-search-box-partial>

  <div class="l-padding-top--double-gutter">
    <app-filter-bar-and-content>
      <div sidebar>
        <app-search-sidebar-partial
          [page]="'search'"
        ></app-search-sidebar-partial>
      </div>
      <div content>
        <h1>Search Results</h1>

        <ng-container>
          <div class="l-flex">
            <app-stats-partial></app-stats-partial
            ><app-current-refinements-partial></app-current-refinements-partial>
          </div>
        </ng-container>

        <div class="search-panel__results l-margin-top--gutter">
          <ais-hits>
            <ng-template let-hits="hits" let-results="results">
              <div *ngIf="hits.length === 0">
                No results found matching <strong></strong>.
              </div>

              <div class="ais-Hits-list">
                <div *ngFor="let hit of hits">
                  <article
                    class="c-search--result-app l-margin-bottom--half-gutter"
                  >
                    <div
                      class="c-search--result-app l-margin-bottom--half-gutter"
                    >
                      <a
                        ><ais-highlight
                          attribute="app_pretty_names"
                          [hit]="hit"
                        ></ais-highlight
                      ></a>
                    </div>
                    <div class="c-search--result-title l-margin-bottom--gutter">
                      <h2>
                        <a>
                          <ais-highlight
                            attribute="script_name"
                            [hit]="hit"
                          ></ais-highlight>
                        </a>
                      </h2>
                    </div>
                    <div
                      class="
                        c-search--result-code
                        l-margin-bottom--double-gutter
                      "
                    >
                      <ais-highlight
                        attribute="script_code_datacenter"
                        [hit]="hit"
                      ></ais-highlight>
                    </div>
                  </article>
                </div>
              </div>
            </ng-template>
          </ais-hits>

          <app-pagination-partial></app-pagination-partial>
        </div>
      </div>
    </app-filter-bar-and-content>
  </div>
</ais-instantsearch>
