<pre
  class="language-{{ attachment.language }} u-attachment--block"
  [ngClass]="fullscreen ? 'expanded' : ''"
>
    <div class="u-attachment--button-banner noselect">
        <ng-container *ngIf="fullscreen && !codeCopied">
            <button class="u-attachment--buttons" (click)="copyCode(); runFocus($event)">
                Copy code
                <svg aria-hidden="true" class="u-attachment--icon" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                        d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z">
                    </path>
                </svg>
            </button>
        </ng-container>
        <ng-container *ngIf="fullscreen && codeCopied">
            <button class="u-attachment--buttons" (click)="copyCode()" [disabled]="this._codeCopied">
                Code copied
                <svg class="u-attachment--icon"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                    </path>
                </svg>
            </button>
        </ng-container>
        <button class="u-attachment--buttons" [ngClass]="fullscreen ? 'minimise' : 'expand'" content-editable="false"
        (click)="toggleFullscreen()">
            <ng-container *ngIf="fullscreen">Minimise
                <svg aria-hidden="true" class="u-attachment--icon" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                        d="M480 480H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h448c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                </svg>
            </ng-container>
            <ng-container *ngIf="!fullscreen">Expand
                <svg aria-hidden="true" class="u-attachment--icon" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                    <path fill="currentColor"
                        d="M448 344v112a23.94 23.94 0 0 1-24 24H312c-21.39 0-32.09-25.9-17-41l36.2-36.2L224 295.6 116.77 402.9 153 439c15.09 15.1 4.39 41-17 41H24a23.94 23.94 0 0 1-24-24V344c0-21.4 25.89-32.1 41-17l36.19 36.2L184.46 256 77.18 148.7 41 185c-15.1 15.1-41 4.4-41-17V56a23.94 23.94 0 0 1 24-24h112c21.39 0 32.09 25.9 17 41l-36.2 36.2L224 216.4l107.23-107.3L295 73c-15.09-15.1-4.39-41 17-41h112a23.94 23.94 0 0 1 24 24v112c0 21.4-25.89 32.1-41 17l-36.19-36.2L263.54 256l107.28 107.3L407 327.1c15.1-15.2 41-4.5 41 16.9z">
                    </path>
                </svg>
            </ng-container>
        </button>
    </div>
    <code (copy)="copyCodeSelection();" contenteditable="true" class="language-{{attachment.language}} u-attachment--content" [innerHTML]="attachment.styledData">
    </code>
    <div *ngIf="displayCopyPastePrompt" class="u-attachment--copy-banner noselect">Use <span class="code">Ctrl/Cmd+A</span> on the library code box to mark the entire code fragment you want to copy. Use <span class="code">Ctrl/Cmd+C</span> to Copy and <span class="code">Ctrl/Cmd+V</span> to Paste
        <a (click)="dismissCopyPastePrompt()" class="u-attachment--dismiss">
            <svg width="10px" height="10px" viewBox="0 0 10 10" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                    <g id="save-search-1" transform="translate(-330.000000, -269.000000)" fill="#000A27"
                        fill-rule="nonzero">
                        <path
                            d="M338.48629,269.26715 C338.832521,268.91095 339.399459,268.91095 339.74569,269.26715 C340.084776,269.616 340.084776,270.176313 339.745657,270.525197 L336.238339,274.13276 L339.486876,277.474837 C339.779957,277.776358 339.823282,278.241985 339.571926,278.629394 L339.486876,278.73285 C339.187765,279.040573 338.71628,279.087006 338.32833,278.820614 L338.227459,278.732832 L334.997604,275.409615 L331.767731,278.73285 C331.421501,279.08905 330.854562,279.08905 330.508332,278.73285 C330.169246,278.384 330.169246,277.823687 330.508292,277.474879 L333.756035,274.132763 L330.249518,270.525163 C329.956437,270.223642 329.913111,269.758015 330.164468,269.370606 L330.249518,269.26715 C330.548628,268.959427 331.020113,268.912994 331.408064,269.179386 L331.508901,269.267133 L334.997604,272.855911 L338.48629,269.26715 Z"
                            id="Path"></path>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</pre>

<div
  [hidden]="!copiedModal.getValue()"
  class="c-modal--overlay attachment-modal"
  (click)="closeAndTrack()"
></div>
<app-modal [_showModal$]="copiedModal">
  <button
    class="
      c-modal--close-button
      c-button c-button--transparent
      l-padding--none
      attachment-modal
    "
    id=""
    (click)="closeAndTrack()"
    autofocus
  >
    <svg
      class="ng-tns-c1-2"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      height="10px"
      version="1.1"
      viewBox="0 0 10 10"
      width="10px"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g
        class="ng-tns-c1-2"
        fill="none"
        fill-rule="evenodd"
        stroke="none"
        stroke-width="1"
      >
        <g
          class="ng-tns-c1-2"
          fill="#ffffff"
          fill-rule="nonzero"
          transform="translate(-330.000000, -269.000000)"
        >
          <path
            class="ng-tns-c1-2"
            d="M338.48629,269.26715 C338.832521,268.91095 339.399459,268.91095 339.74569,269.26715 C340.084776,269.616 340.084776,270.176313 339.745657,270.525197 L336.238339,274.13276 L339.486876,277.474837 C339.779957,277.776358 339.823282,278.241985 339.571926,278.629394 L339.486876,278.73285 C339.187765,279.040573 338.71628,279.087006 338.32833,278.820614 L338.227459,278.732832 L334.997604,275.409615 L331.767731,278.73285 C331.421501,279.08905 330.854562,279.08905 330.508332,278.73285 C330.169246,278.384 330.169246,277.823687 330.508292,277.474879 L333.756035,274.132763 L330.249518,270.525163 C329.956437,270.223642 329.913111,269.758015 330.164468,269.370606 L330.249518,269.26715 C330.548628,268.959427 331.020113,268.912994 331.408064,269.179386 L331.508901,269.267133 L334.997604,272.855911 L338.48629,269.26715 Z"
            id="Path"
          ></path>
        </g>
      </g>
    </svg>
  </button>
  <div class="c-modal--pop-up copy">
    <div class="c-modal--content">
      <div class="c-modal--content-top">
        <div class="c-modal--feedback-icon"></div>
        <div class="c-modal--pop-up-text-wrapper copy">
          <h2 class="c-modal--pop-up-title copy">Copycat!</h2>
          <span class="c-modal--pop-up-text subtitle"
            >You’re just one paste away from perfection</span
          >
        </div>
      </div>

      <div class="c-modal--pop-up-feedback">
        <p class="c-modal--pop-up-text feedback">
          How are we doing by the way?
        </p>
        <div class="c-modal--feedback-face-wrapper">
          <div class="c-modal--blob"></div>
          <button
            aria-label="Select bad feedback for this script"
            (mouseover)="animateFeedback($event)"
            (focus)="animateFeedback($event)"
            (click)="toggleResponse('-1', $event)"
            class="c-modal--feedback-face"
            data-feedback-level="bad"
          >
            <img src="../../../../assets/images/icons/bad.svg" />
          </button>
          <button
            aria-label="Select indifferent feedback for this script"
            (mouseover)="animateFeedback($event)"
            (focus)="animateFeedback($event)"
            (click)="toggleResponse('0', $event)"
            class="c-modal--feedback-face"
            data-feedback-level="indifferent"
          >
            <img src="../../../../assets/images/icons/indifferent.svg" />
          </button>
          <button
            aria-label="Select good feedback for this script"
            (mouseover)="animateFeedback($event)"
            (focus)="animateFeedback($event)"
            (click)="toggleResponse('1', $event)"
            class="c-modal--feedback-face"
            data-feedback-level="good"
          >
            <img src="../../../../assets/images/icons/good.svg" />
          </button>
        </div>
      </div>

      <form
        (ngSubmit)="submitFeedback($event)"
        [formGroup]="feedbackForm"
        class="c-modal--content-bottom"
      >
        <div class="c-modal--form-group">
          <textarea
            name="feedbackText"
            formControlName="feedbackText"
            (blur)="checkFeedbackTextContent($event)"
            (focus)="animateLabel($event)"
            id="feedback-text"
            class="c-modal--feedback-text"
            tabindex="-1"
            aria-hidden="true"
          ></textarea>
          <label class="c-modal--form-label" for="feedback-text"
            >How can we make it better?</label
          >
        </div>
        <div
          class="l-flex l-justify-content--flex-end l-margin-right--half-gutter"
        >
          <button
            type="submit"
            id="feedback-submit"
            class="c-modal--submit-button"
            tabindex="-1"
            aria-hidden="true"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <div class="c-modal--thanks-screen">
      <div class="c-modal--pop-up copy-3">Thanks for your feedback</div>
    </div>
  </div>
</app-modal>
