<div
  class="c-announcement-bar"
  [ngClass]="isVisible ? 'announcement-is-open' : ''"
>
  <div class="l-page--wrapper c-announcement-bar--bg">
    <div class="c-announcement-bar--content">
      <p class="c-announcement-bar--text">
        You can now <b>vote for scripts</b> to help people know if they're
        useful or not.
        <ng-container *ngIf="!profile.isAuthenticated()">
          <a
            (click)="auth.login()"
            class="c-announcement-bar--link"
            tabindex="0"
            >Login or create an account to vote!</a
          >
        </ng-container>
      </p>
      <button class="c-announcement-bar--button" (click)="dismissNotice()">
        &times;
      </button>
    </div>
  </div>
</div>
