<div
  *ngIf="profileService.isAuthenticated()"
  [ngClass]="
    hasDownVotes
      ? 'c-votes c-votes--text downvoted'
      : 'c-votes c-votes--text upvoted'
  "
>
  <button
    (click)="upVote(entity)"
    [ngClass]="
      hasUpVotes ? 'c-button--upvote--voted' : 'c-button--vote--default'
    "
  >
    <img src="../../../../assets/images/icons/voting-up.svg" />
  </button>
  <div class="c-votes--text">{{ totalVotes }}</div>
  <button
    (click)="downVote(entity)"
    [ngClass]="
      hasDownVotes ? 'c-button--downvote--voted' : 'c-button--vote--default'
    "
  >
    <img src="../../../../assets/images/icons/voting-down.svg" />
  </button>
</div>
<div
  *ngIf="!profileService.isAuthenticated()"
  class="c-votes c-votes--text upvoted"
>
  <button (click)="handleShowLogInModal()" class="c-button--vote--default">
    <img src="../../../../assets/images/icons/voting-up.svg" />
  </button>
  <div class="c-votes--text">{{ totalVotes }}</div>
  <button (click)="handleShowLogInModal()" class="c-button--vote--default">
    <img src="../../../../assets/images/icons/voting-down.svg" />
  </button>

  <app-modal [_showModal$]="showLogInModal">
    <div class="c-modal--join-to-vote">
      <header>
        <div class="c-modal--join-to-vote-title">Join Adaptavist</div>
        <div class="c-modal--join-to-vote-close"></div>
      </header>
      <div class="c-modal--join-to-vote-content">
        <div class="c-modal--join-to-vote-text">
          Join our community to start voting, adding your favourite scripts and
          snippets
        </div>
        <button
          (click)="authService.login()"
          class="
            -button
            c-button--text--brand-alt-white
            c-button--colour--brand-link-blue
            c-button--large
          "
        >
          Sign Up
        </button>
        <div class="c-modal--join-to-vote-text">
          Already have an account?
          <a (click)="authService.login()" class="u-text-link" tabindex="0">
            Log in
          </a>
        </div>
      </div>
    </div>
  </app-modal>
</div>
