<app-manage-account-hero-partial></app-manage-account-hero-partial>

<div class="l-page--wrapper">
  <ng-container *ngIf="user">
    <div class="c-profile--inner">
      <form
        (ngSubmit)="onSave()"
        #userForm="ngForm"
        class="c-profile--form"
        enctype="multipart/form-data"
      >
        <div *ngIf="displayConfirmation" class="c-edit-profile">
          <div class="c-edit-profile--content">
            <strong>Profile saved!</strong>
            <p>
              Your changes have been saved and will be updated on your profile.
            </p>
          </div>
          <div class="c-edit-profile--cta">
            <a class="c-button--edit" routerLink="/profile">view profile</a>
          </div>
        </div>
        <div class="c-profile--upload">
          <div class="c-avatar--main">
            <img
              class="c-profile--icon"
              src="{{ user.avatar_url }}"
              [ngClass]="user.predefined_avatar === 'false' ? 'circle' : ''"
            />
          </div>
          <div class="l-flex l-flex--column">
            <div class="c-profile--upload-text">
              <span class="hr">Select an avatar</span>

              <div id="avatars">
                <a
                  (click)="
                    onAvatarSelect(
                      'https://library.adaptavist.com/assets/images/avatars/chameleon.png'
                    )
                  "
                  [ngClass]="
                    user.avatar_url ===
                    'https://library.adaptavist.com/assets/images/avatars/chameleon.png'
                      ? 'active'
                      : ''
                  "
                  class="avatars"
                >
                  <img
                    src="https://library.adaptavist.com/assets/images/avatars/chameleon.png"
                    alt=""
                  />
                </a>

                <a
                  (click)="
                    onAvatarSelect(
                      'https://library.adaptavist.com/assets/images/avatars/llama.png'
                    )
                  "
                  [ngClass]="
                    user.avatar_url ===
                    'https://library.adaptavist.com/assets/images/avatars/llama.png'
                      ? 'active'
                      : ''
                  "
                  class="avatars"
                >
                  <img
                    src="https://library.adaptavist.com/assets/images/avatars/llama.png"
                    alt=""
                  />
                </a>

                <a
                  (click)="
                    onAvatarSelect(
                      'https://library.adaptavist.com/assets/images/avatars/panda.png'
                    )
                  "
                  [ngClass]="
                    user.avatar_url ===
                    'https://library.adaptavist.com/assets/images/avatars/panda.png'
                      ? 'active'
                      : ''
                  "
                  class="avatars"
                >
                  <img
                    src="https://library.adaptavist.com/assets/images/avatars/panda.png"
                    alt=""
                  />
                </a>

                <a
                  (click)="
                    onAvatarSelect(
                      'https://library.adaptavist.com/assets/images/avatars/pecker.png'
                    )
                  "
                  [ngClass]="
                    user.avatar_url ===
                    'https://library.adaptavist.com/assets/images/avatars/pecker.png'
                      ? 'active'
                      : ''
                  "
                  class="avatars"
                >
                  <img
                    src="https://library.adaptavist.com/assets/images/avatars/pecker.png"
                    alt=""
                  />
                </a>

                <a
                  (click)="
                    onAvatarSelect(
                      'https://library.adaptavist.com/assets/images/avatars/pug.png'
                    )
                  "
                  [ngClass]="
                    user.avatar_url ===
                    'https://library.adaptavist.com/assets/images/avatars/pug.png'
                      ? 'active'
                      : ''
                  "
                  class="avatars"
                >
                  <img
                    src="https://library.adaptavist.com/assets/images/avatars/pug.png"
                    alt=""
                  />
                </a>
              </div>
            </div>
            <div class="c-profile--upload-text">
              <span>or upload your own</span>
              <label for="avatar" class="c-button--profile">upload photo</label>
              <input
                type="file"
                id="avatar"
                accept="image/*"
                (change)="onAvatarChange($event)"
              />
            </div>
          </div>
        </div>

        <fieldset class="c-profile--fieldset">
          <div class="c-profile-form--row">
            <label class="c-profile--label" for="first_name"
              >First name<sup>*</sup></label
            >
            <input
              [(ngModel)]="user.first_name"
              #first_name="ngModel"
              id="first_name"
              name="first_name"
              class="c-profile--input"
              type="text"
              required
            />
            <div class="l-flex--row">
              <input
                class="c-profile--check"
                [(ngModel)]="user.first_name_visible"
                #first_name_visible="ngModel"
                type="checkbox"
                id="first_name_visible"
                name="first_name_visible"
              />
              <label for="first_name_visible" class="c-profile--checktext"
                >Visible to public</label
              >
            </div>
          </div>

          <div
            *ngIf="
              first_name.errors && (first_name.dirty || first_name.touched)
            "
            class="validation-error"
          >
            <div [hidden]="!first_name.errors.required">
              First name is required
            </div>
          </div>

          <div class="c-profile-form--row">
            <label class="c-profile--label" for="last_name"
              >Last name<sup>*</sup></label
            >
            <input
              [(ngModel)]="user.last_name"
              #last_name="ngModel"
              id="last_name"
              name="last_name"
              class="c-profile--input"
              type="text"
              required
            />
            <div class="l-flex--row">
              <input
                class="c-profile--check"
                [(ngModel)]="user.last_name_visible"
                #last_name_visible="ngModel"
                type="checkbox"
                id="last_name_visible"
                name="last_name_visible"
              />
              <label for="last_name_visible" class="c-profile--checktext"
                >Visible to public</label
              >
            </div>
          </div>

          <div
            *ngIf="last_name.errors && (last_name.dirty || last_name.touched)"
            class="validation-error"
          >
            <div [hidden]="!last_name.errors.required">
              Last name is required
            </div>
          </div>

          <div class="c-profile-form--row">
            <label class="c-profile--label" for="email"
              >Email<sup>*</sup></label
            >
            <input
              [(ngModel)]="user.email"
              #email="ngModel"
              id="email"
              name="email"
              class="c-profile--input"
              type="email"
              required
              disabled
            />
            <div class="l-flex--row">
              <input
                class="c-profile--check"
                [(ngModel)]="user.email_visible"
                #email_visible="ngModel"
                type="checkbox"
                id="email_visible"
                name="email_visible"
              />
              <label for="email_visible" class="c-profile--checktext"
                >Visible to public</label
              >
            </div>
          </div>

          <div
            *ngIf="email.errors && (email.dirty || email.touched)"
            class="validation-error"
          >
            <div [hidden]="!email.errors.required">Email is required</div>
          </div>
        </fieldset>

        <fieldset class="c-profile--fieldset">
          <div class="c-profile-form--row">
            <label class="c-profile--label" for="job_title">Job title</label>
            <input
              [(ngModel)]="user.job_title"
              #job_title="ngModel"
              id="job_title"
              name="job_title"
              class="c-profile--input"
              type="text"
            />
          </div>

          <div class="c-profile-form--row">
            <label class="c-profile--label" for="company">Company</label>
            <input
              [(ngModel)]="user.company"
              #company="ngModel"
              id="company"
              name="company"
              class="c-profile--input"
              type="text"
            />
          </div>

          <div class="c-profile-form--row">
            <label class="c-profile--label" for="location">Location</label>
            <input
              [(ngModel)]="user.location"
              #location="ngModel"
              id="location"
              name="location"
              class="c-profile--input"
              type="text"
            />
          </div>

          <div class="c-profile-form--row">
            <label class="c-profile--label" for="linkedin">LinkedIn URL</label>
            <input
              [(ngModel)]="user.linkedin"
              #linkedin="ngModel"
              id="linkedin"
              name="linkedin"
              class="c-profile--input"
              type="url"
              pattern="^(?:http(s)?:\/\/)[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~/?#[\]@!\$&'\(\)\*\+,;=.]+$"
            />
          </div>

          <div
            *ngIf="linkedin.errors && (linkedin.dirty || linkedin.touched)"
            class="validation-error"
          >
            <div [hidden]="!linkedin.errors.pattern">
              Please enter a valid URL
            </div>
          </div>

          <div class="c-profile-form--row">
            <div
              [hidden]="userForm.form.valid"
              class="l-margin-top--gutter disabled validation-error"
            >
              Please ensure all required fields are filled in and that the form
              does not contain errors.
            </div>
            <div *ngIf="updateUserFormErrorMessages" class="validation-error">
              <div [hidden]="!updateUserFormErrorMessages">
                {{ updateUserFormErrorMessages }}
              </div>
            </div>
          </div>
          <div class="c-profile-form--row l-margin-top--none">
            <label class="c-profile--label mobile" for="save_changes"></label>
            <button
              type="submit"
              class="c-button--save"
              [ngClass]="userForm.form.valid && !formLoading ? '' : 'disabled'"
              [disabled]="!userForm.form.valid || formLoading"
            >
              save changes
            </button>
          </div>
        </fieldset>
      </form>

      <div class="c-profile-form--row">
        <label class="c-profile--label">Email</label>
        <button
          type="submit"
          (click)="handleShowChangeEmailModal()"
          class="c-button--profile"
        >
          update email
        </button>
      </div>

      <div
        *ngIf="displayUpdatePasswordConfirmation"
        class="c-edit-profile password"
      >
        <div class="c-edit-profile--content password">
          <strong>Password email sent!</strong>
          <p>
            We have sent instructions to your email address for you to update
            your password.
          </p>
        </div>
      </div>

      <div class="c-profile-form--row">
        <label class="c-profile--label">Password</label>
        <button
          type="submit"
          (click)="onUpdatePassword()"
          class="c-button--profile"
          [ngClass]="!updatePasswordLoading ? '' : 'disabled'"
          [disabled]="updatePasswordLoading"
        >
          update password
        </button>
      </div>

      <div class="c-profile--form">
        <hr class="c-profile--hr" />
        <img
          class="c-profile--icon delete"
          src="../../../../assets/img/skull.svg"
        />
        <button
          class="c-button--delete"
          (click)="handleShowDeleteAccountModal()"
        >
          Delete Account
        </button>
      </div>
    </div>
  </ng-container>

  <app-modal [_showModal$]="showChangeEmailModal">
    <div class="c-modal--header u-background-colour--orange-yellow">
      <h2 class="c-modal--title">Update email address</h2>
    </div>
    <form (ngSubmit)="onSave()" #emailForm="ngForm">
      <div class="c-modal--body">
        <p>Please enter your new email address in the box below.</p>
        <p>
          For your security, upon saving your new email address you will be
          logged out of Adaptavist Library and sent a verification email to your
          new email address.
        </p>
        <fieldset class="c-modal--fieldset" *ngIf="user">
          <div class="">
            <label class="c-modal--label" for="new_email"
              >New email address<sup>*</sup></label
            >
            <input
              [(ngModel)]="user.new_email"
              #new_email="ngModel"
              id="new_email"
              name="new_email"
              class="c-modal--input"
              type="email"
              required
              email
            />
          </div>

          <div
            *ngIf="new_email.errors && (new_email.dirty || new_email.touched)"
            class="validation-error"
          >
            <div [hidden]="!new_email.errors.required">
              New email address is required
            </div>
            <div [hidden]="!new_email.errors.email">
              Please enter a valid email address
            </div>
          </div>

          <div *ngIf="changeEmailFormErrorMessages" class="validation-error">
            <div [hidden]="!changeEmailFormErrorMessages">
              {{ changeEmailFormErrorMessages }}
            </div>
          </div>
        </fieldset>
      </div>
      <div class="c-modal-footer l-justify-content--space-between">
        <a
          class="
            c-button
            c-button--colour--brand-blue
            c-button--text--brand-alt-white
            c-button--options
          "
          (click)="closeChangeEmailModal()"
          >Cancel</a
        >
        <button
          class="
            c-button
            c-button--colour--brand-blue
            c-button--text--brand-alt-white
            c-button--options
          "
          (click)="onUpdateEmail()"
          [ngClass]="
            emailForm.form.valid && !emailFormLoading ? '' : 'disabled'
          "
          [disabled]="!emailForm.form.valid || emailFormLoading"
        >
          Save
        </button>
      </div>
    </form>
  </app-modal>

  <app-modal [_showModal$]="showDeleteAccountModal">
    <div class="c-modal--header u-background-colour--orange-yellow">
      <h2 class="c-modal--title">Sorry to see you go!</h2>
    </div>
    <div class="c-modal--body">
      <p>
        We're sorry to see you go! Deleting your Library account will remove all
        of your data and settings from the Library.
      </p>
      <p>
        If you would like to read more about our privacy policy, please
        <a href="https://www.adaptavist.com/company/privacy-policy">
          click here.
        </a>
      </p>
    </div>
    <div *ngIf="deleteAccountErrorMessages" class="validation-error">
      <div [hidden]="!deleteAccountErrorMessages">
        {{ deleteAccountErrorMessages }}
      </div>
    </div>
    <div class="c-modal-footer l-justify-content--space-between">
      <a
        class="
          c-button
          c-button--colour--brand-blue
          c-button--text--brand-alt-white
          c-button--options
        "
        (click)="closeDeleteAccountModal()"
        >Cancel</a
      >
      <button
        class="
          c-button
          c-button--colour--brand-blue
          c-button--text--brand-alt-white
          c-button--options
        "
        (click)="onDeleteAccount()"
        [ngClass]="deleteAccountLoading ? 'disabled' : ''"
        [disabled]="deleteAccountLoading"
      >
        Delete Account
      </button>
    </div>
  </app-modal>
</div>
