<ais-instantsearch [config]="config">
  <div id="gdpr-cookie-message"></div>
  <app-universal-header
    [hidden]="appService.isAdminTemplate()"
  ></app-universal-header>
  <div class="u-site">
    <app-header-bar-partial
      [hidden]="appService.isAdminTemplate()"
    ></app-header-bar-partial>
    <div class="u-site-content">
      <ng-container *ngIf="profile.isAuthenticated() && !profile.isVerified()">
        <app-verify-account-message-bar></app-verify-account-message-bar>
      </ng-container>
      <router-outlet></router-outlet>
    </div>
    <app-feedback-button
      [hidden]="appService.isAdminTemplate()"
    ></app-feedback-button>
    <app-footer [hidden]="appService.isAdminTemplate()">
      <ng-container logo>
        <img
          class="c-footer--logo"
          src="/assets/img/adaptavist-glyph-orange.png"
          alt="Adaptavist Library Logo"
        />
      </ng-container>
      <ng-container links>
        <a class="c-footer--navigation-link" routerLink="/help">Help</a>
        <a
          class="c-footer--navigation-link"
          href="https://www.surveymonkey.co.uk/r/R5Y5Z2H"
        >Feedback</a
        >
        <a
          class="c-footer--navigation-link"
          href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49"
        >Support</a
        >
        <a
          class="c-footer--navigation-link"
          href="https://www.adaptavist.com/company/privacy-policy"
        >Privacy Policy</a
        >
        <a class="c-footer--navigation-link" routerLink="/terms-and-conditions"
        >Terms &amp; Conditions</a
        >
        <a href="#" onclick="consentManager.openConsentManager();"
        >Cookie Preferences</a
        >
        <p class="c-footer--copyright">
          © 2010-{{ getYear() }} Adaptavist, All rights reserved.
        </p>
      </ng-container>
    </app-footer>
  </div>
</ais-instantsearch>
