<header id="universal-header" class="universal-header">
  <div class="l-page--wrapper c-hero-home--structure">
    <div class="wrapper">
      <div
        class="
          page-layout--columns page-layout--reset-top page-layout--reset-bottom
        "
      >
        <div
          class="
            page-layout--column
            page-layout--column-four
            page-layout--reset-top
            page-layout--reset-bottom
          "
        >
          <nav class="universal-header--navigation flex">
            <ul class="universal-navigation--primary reset-list flex">
              <li class="universal-navigation--link">
                <a href="https://www.adaptavist.com/">Adaptavist.com</a>
              </li>
            </ul>

            <ul class="universal-navigation--secondary reset-list flex">
              <li class="universal-navigation--link">
                <a
                  href="https://www.adaptavist.com/solutions/atlassian-consulting/atlassian-professional-services"
                  >Consulting</a
                >
              </li>
              <li class="universal-navigation--link">
                <a
                  href="https://www.adaptavist.com/solutions/atlassian-consulting/atlassian-training"
                  >Training</a
                >
              </li>
              <li class="universal-navigation--link">
                <a
                  href="https://www.adaptavist.com/solutions/atlassian-managed-services"
                  >Managed Services</a
                >
              </li>
              <li class="universal-navigation--link">
                <a href="https://www.adaptavist.com/atlassian-apps/"
                  >Atlassian Apps</a
                >
              </li>
              <li class="universal-navigation--link">
                <a
                  href="https://www.adaptavist.com/solutions/atlassian-software-licensing"
                  >Atlassian Software</a
                >
              </li>
              <li class="universal-navigation--link margin-left-20">
                <a href="https://www.adaptavist.com/contact/">Contact us</a>
              </li>
              <li class="universal-navigation--link">
                <a href="https://www.joinadaptavist.com/">Careers</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
