<app-hero-collection (share)="handleShare()" [collection]="collectionData">
  <ng-container *appShellNoRender back>
    <a (click)="this.location.back()" class="c-hero--back-button u-text-link"
      >‹ Go back</a
    >
  </ng-container>
  <ng-container *appShellNoRender buttons>
    <button
      *ngIf="_profile.isAuthenticatedAndVerified()"
      (click)="toggleAddedToLibrary()"
      class="c-button c-button--text--brand-alt-white c-button--large"
      [disabled]="isUpdatingMyLibrary.getValue()"
      [ngClass]="
        !isUpdatingMyLibrary.getValue() && isInMyLibrary.getValue()
          ? 'c-button--colour--brand-blue'
          : 'c-button--colour--brand-blue'
      "
    >
      <ng-container *ngIf="isUpdatingMyLibrary.getValue()">
        <svg
          width="15px"
          height="15px"
          class="
            c-button--icon c-button--spinner
            c-spinner c-spinner--white
            a-spin
          "
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"
          />
        </svg>
        Updating
      </ng-container>
      <ng-container
        *ngIf="!isUpdatingMyLibrary.getValue() && isInMyLibrary.getValue()"
      >
        Added to My Library
      </ng-container>
      <ng-container
        *ngIf="!isUpdatingMyLibrary.getValue() && !isInMyLibrary.getValue()"
      >
        Add to My Library
      </ng-container>
    </button>
    <button
      *ngIf="!_profile.isAuthenticated()"
      (click)="auth.login()"
      class="
        c-button
        c-button--colour--brand-blue
        c-button--text--brand-alt-white
        c-button--large
      "
    >
      <ng-container> Add to My Library </ng-container>
    </button>
  </ng-container>
</app-hero-collection>
<div class="l-page--wrapper l-padding-top--double-gutter">
  <ng-container *ngIf="hasCollectionData">
    <app-section-title
      titleBase="Scripts in"
      titleEmphasis="Collection"
    ></app-section-title>
    <app-card-container
      columns="l-grid-lrg--1of4 l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
    >
      <app-entity-card-partial
        *ngFor="let card of collectionCards"
        [card]="card"
        class="l-grid-cell l-padding-bottom--gutter"
      ></app-entity-card-partial>
    </app-card-container>
  </ng-container>
  <ng-container *ngIf="hasCollectionData">
    <app-section-title
      titleBase="Collections created by"
      titleEmphasis="Adaptavist"
    ></app-section-title>
    <app-card-container
      columns="l-grid-lrg--1of4 l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
    >
      <app-collection-card-partial
        *ngFor="let card of moreCollectionCards"
        [card]="card"
        class="l-grid-cell l-padding-bottom--gutter"
      ></app-collection-card-partial>
    </app-card-container>
  </ng-container>
</div>
