/* ==========================================================================
   #QUOTES
   ========================================================================== */

/**
 * Simple quote styles.
 *
 * 1. The first pair of quotes in the value are the opening and closing
 *    quotes. The second pair are the opening and closing quotes are for
 *    nested quotes.
 */

q {
  quotes: "“" "”" "‘" "’"; /* [1] */
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}
