/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  font-size: $base-font-size;
  line-height: $gutter;
  box-sizing: border-box;
  font-family: $font-family--regular;
  height: 100%;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}
