/* ==========================================================================
   #HEADINGS
   ========================================================================== */

h1 {
  @extend %u-h1;
}

h2 {
  @extend %u-h2;
}

h3 {
  @extend %u-h3;
}

h4 {
  @extend %u-h4;
}

h5 {
  @extend %u-h5;
}

h6 {
  @extend %u-h6;
}
