<div class="c-hero c-hero--background">
  <div class="l-page--wrapper">
    <h1 class="c-hero-page-title--library">Sorry, something went wrong.</h1>
  </div>
</div>

<div class="l-page--wrapper">
  <div class="c-hero--meta">
    <p>Please refresh the page to try again, or return <a href="/">home</a>.</p>
  </div>
</div>
