<div
  class="c-hero--userbg c-hero--profile l-margin-bottom--double-gutter"
  style="--user-image: url('')"
>
  <div class="l-page--wrapper-profile">
    <div class="c-hero--profile-bar">
      <div class="c-profile--pic">
        <img
          alt=""
          src="{{ user.avatar_url }}"
          [ngClass]="user.predefined_avatar === 'false' ? 'circle' : ''"
        />
      </div>
      <div class="l-flex l-flex--column">
        <h1 class="c-hero--user">
          {{ displayName() }}
        </h1>
        <div class="c-profile-tabs user-profile">
          <ul class="c-tab-menu--list-profile">
            <li class="c-tab-menu--item">
              <a
                class="c-tab--profile user-profile"
                routerLink="/profile"
                routerLinkActive="active"
                >About</a
              >
            </li>
            <li class="c-tab-menu--item">
              <a
                class="c-tab--profile user-profile"
                routerLink="/code"
                routerLinkActive="active"
                >Code</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
