<app-page-header-bar>
  <a logo routerLink="/">
    <img
      alt="Adaptavist Library"
      class="c-page-header-bar--logo"
      src="/assets/images/logos/adaptavist-library-logo.png"
    />
  </a>
  <ng-container menu-one>
    <a
      class="c-library-menu--link icon"
      href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/338"
      target="blank"
    >
      Contribute
      <svg
        width="20px"
        height="20px"
        style="margin-left: 11px"
        viewBox="0 -3 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-180.000000, -3283.000000)" fill="#000000">
            <g transform="translate(56.000000, 160.000000)">
              <path
                d="M129.204085,3126.419 C129.587463,3126.032 129.587463,3125.405 129.204085,3125.018 L129.191207,3125.005 C128.807829,3124.618 128.186697,3124.618 127.803319,3125.005 L124.287534,3128.553 C123.904155,3128.94 123.904155,3129.568 124.287534,3129.955 L127.803319,3133.503 C128.186697,3133.89 128.807829,3133.89 129.191207,3133.503 L129.204085,3133.49 C129.587463,3133.103 129.587463,3132.476 129.204085,3132.089 L127.090057,3129.955 C126.706679,3129.568 126.706679,3128.94 127.090057,3128.553 L129.204085,3126.419 Z M142.712466,3128.553 L139.196681,3125.005 C138.814294,3124.618 138.192171,3124.618 137.808793,3125.005 L137.795915,3125.018 C137.412537,3125.405 137.412537,3126.032 137.795915,3126.419 L139.910934,3128.553 C140.294312,3128.94 140.294312,3129.568 139.910934,3129.955 L137.795915,3132.089 C137.412537,3132.476 137.412537,3133.103 137.795915,3133.49 L137.808793,3133.503 C138.192171,3133.89 138.814294,3133.89 139.196681,3133.503 L142.712466,3129.955 C143.095845,3129.568 143.095845,3128.94 142.712466,3128.553 L142.712466,3128.553 Z M136.809359,3124.40817 L131.74698,3135.23866 C131.582981,3135.57915 131.295245,3136 130.924037,3136 L130.904396,3136 C130.182602,3136 129.712209,3135.0197 130.031369,3134.3588 L135.064287,3123.63077 C135.228287,3123.29128 135.836165,3123.02511 135.836165,3123.02511 L135.836165,3123 C136.818198,3123 137.127538,3123.74728 136.809359,3124.40817 L136.809359,3124.40817 Z"
                id="code-[#1115]"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </a>
    <a class="c-library-menu--link" routerLink="/help">Help</a>
    <ng-container *appShellNoRender>
      <ng-container *ngIf="profile.isAuthenticatedAndVerified()">
        <a
          class="c-library-menu--link l-margin-left--gutter"
          routerLink="/library"
          >My Library</a
        >
      </ng-container>
      <ng-container *ngIf="!profile.isAuthenticated()">
        <a
          (click)="auth.login()"
          class="c-library-menu--link l-margin-left--gutter"
          tabindex="0"
          >Join / Log in</a
        >
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container menu-two>
    <ng-container *appShellNoRender>
      <a
        class="c-library-menu--link icon"
        href="https://productsupport.adaptavist.com/servicedesk/customer/portal/49/create/338"
        target="blank"
      >
        Contribute
        <svg
          width="20px"
          height="20px"
          style="margin-left: 11px"
          viewBox="0 -3 20 20"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-180.000000, -3283.000000)" fill="#000000">
              <g transform="translate(56.000000, 160.000000)">
                <path
                  d="M129.204085,3126.419 C129.587463,3126.032 129.587463,3125.405 129.204085,3125.018 L129.191207,3125.005 C128.807829,3124.618 128.186697,3124.618 127.803319,3125.005 L124.287534,3128.553 C123.904155,3128.94 123.904155,3129.568 124.287534,3129.955 L127.803319,3133.503 C128.186697,3133.89 128.807829,3133.89 129.191207,3133.503 L129.204085,3133.49 C129.587463,3133.103 129.587463,3132.476 129.204085,3132.089 L127.090057,3129.955 C126.706679,3129.568 126.706679,3128.94 127.090057,3128.553 L129.204085,3126.419 Z M142.712466,3128.553 L139.196681,3125.005 C138.814294,3124.618 138.192171,3124.618 137.808793,3125.005 L137.795915,3125.018 C137.412537,3125.405 137.412537,3126.032 137.795915,3126.419 L139.910934,3128.553 C140.294312,3128.94 140.294312,3129.568 139.910934,3129.955 L137.795915,3132.089 C137.412537,3132.476 137.412537,3133.103 137.795915,3133.49 L137.808793,3133.503 C138.192171,3133.89 138.814294,3133.89 139.196681,3133.503 L142.712466,3129.955 C143.095845,3129.568 143.095845,3128.94 142.712466,3128.553 L142.712466,3128.553 Z M136.809359,3124.40817 L131.74698,3135.23866 C131.582981,3135.57915 131.295245,3136 130.924037,3136 L130.904396,3136 C130.182602,3136 129.712209,3135.0197 130.031369,3134.3588 L135.064287,3123.63077 C135.228287,3123.29128 135.836165,3123.02511 135.836165,3123.02511 L135.836165,3123 C136.818198,3123 137.127538,3123.74728 136.809359,3124.40817 L136.809359,3124.40817 Z"
                  id="code-[#1115]"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </a>
      <ng-container *ngIf="profile.isAuthenticatedAndVerified()">
        <a class="c-library-menu--link" routerLink="/library">My Library</a>
      </ng-container>
      <ng-container *ngIf="profile.isAuthenticated()">
        <button class="c-profile--dropdown c-library-menu--link">
          <img
            src="{{ profile.getAvatarSmallThumbURL() }}"
            class="c-profile--menu-icon"
            [ngClass]="profile.hasPredefinedAvatar() ? 'circle' : ''"
            (click)="appService.profileMenuToggle()"
          />
          <!-- <span class="c-notification"></span> -->
          <div
            class="c-profile--menu is-open"
            [hidden]="!appService.isProfileMenuOpen"
          >
            <a class="c-library-menu--link user" routerLink="/profile">
              {{ profile.getName() }}
            </a>
            <a
              class="l-margin-left--gutter c-library-menu--link"
              routerLink="/profile"
            >
              View Profile
            </a>
            <a
              class="l-margin-left--gutter c-library-menu--link"
              routerLink="/manage-account"
            >
              Manage Account
            </a>
            <a
              class="l-margin-left--gutter c-library-menu--link"
              routerLink="/help"
            >
              Help
            </a>
            <a
              class="c-profile--signout l-margin-left--gutter"
              (click)="auth.logout()"
              tabindex="0"
            >
              Sign out
            </a>
          </div>
        </button>
      </ng-container>
      <ng-container *ngIf="!profile.isAuthenticated()">
        <a
          (click)="auth.login()"
          class="c-library-menu--link l-margin-left--gutter"
          tabindex="0"
        >
          Join / Log in
        </a>
      </ng-container>
    </ng-container>
  </ng-container>
</app-page-header-bar>
