/**
 * Adaptavist brand colours. Defined at root level so avaiable everywhere.
 *
 * Usage example: background-color: var(--brand-dust-blue);.
 *
 * The var() function can be passed an optional fallback value that gets used
 * in the event that the custom property it is calling has not been defined.
 * That looks like this: var(--brand-red, #ff055c). Where the hex code is the
 * fallback value.
 *
 */

:root {
  --brand-orange: hsl(15, 100%, 60%);
  --brand-learn-blue: hsl(197, 100%, 51%);
  --brand-product-purple: hsl(270, 61%, 45%);
  --brand-assist-lime: hsl(82, 93%, 42%);
  --brand-services-green: hsl(120, 50%, 40%);
  --brand-link-blue: #0420d2;
  --brand-dust-blue: hsl(232, 100%, 66%);
  --brand-rose: hsl(301, 97%, 41%);
  --brand-red: hsl(339, 100%, 51%);
  --brand-yellow: hsl(51, 100%, 50%);
  --brand-aqua: hsl(162, 100%, 40%);
  --brand-black: hsl(225, 100%, 8%);
  --brand-white: hsl(0, 0%, 100%);
  --brand-alt-white: hsl(220, 16%, 96%);
  --orange-yellow: hsl(43, 94%, 60%);
  --blue-grey: hsl(222, 14%, 49%);
  --dark-blue-grey: hsl(221, 44%, 24%);
  --grey: #807f90;
  --light-grey: hsl(240, 12%, 92%);
  --brand-orange--hover: hsl(15, 100%, 50%);
  --brand-learn-blue--hover: hsl(197, 100%, 41%);
  --brand-product-purple--hover: hsl(270, 61%, 35%);
  --brand-assist-lime--hover: hsl(82, 93%, 32%);
  --brand-services-green--hover: hsl(120, 50%, 30%);
  --brand-link-blue--hover: hsl(232, 96%, 32%);
  --brand-dust-blue--hover: hsl(232, 100%, 56%);
  --brand-rose--hover: hsl(301, 97%, 31%);
  --brand-red--hover: hsl(339, 100%, 41%);
  --brand-yellow--hover: hsl(51, 100%, 40%);
  --brand-aqua--hover: hsl(162, 100%, 30%);
  --brand-black--hover: hsl(225, 100%, 0%);
  --brand-white--hover: hsl(0, 0%, 89%);
  --brand-alt-white--hover: hsl(220, 3%, 82%);
  --light-grey--hover: hsl(240, 12%, 77%);
}
