/* ==========================================================================
   #GLOBAL SETTINGS
   ========================================================================== */

@use "sass:math";

$debug: false;

$base-font-size: 16px;
$base-line-height: 1.4;
$em-base: $base-font-size !default;

$wrapper-width: 1240;
$gutter: $base-font-size + 5;
$gutter--quarter: math.div($gutter, 4);
$gutter--half: math.div($gutter, 2);
$gutter--double: $gutter * 2;

$default--transition: all 0.2s ease-in-out;
$default--drop-shadow-color: rgba(0, 10, 41, 0.2);
$default--drop-shadow: $default--drop-shadow-color 1px 1px 3px;

$default--border-radius: 4px;
