$colour-brand-orange: var(--brand-orange);
$colour-brand-learn-blue: var(--brand-learn-blue);
$colour-brand-product-purple: var(--brand-product-purple);
$colour-brand-assist-lime: var(--brand-assist-lime);
$colour-brand-services-green: var(--brand-services-green);
$colour-brand-link-blue: var(--brand-link-blue);
$colour-brand-dust-blue: var(--brand-dust-blue);
$colour-brand-rose: var(--brand-rose);
$colour-brand-red: var(--brand-red);
$colour-brand-yellow: var(--brand-yellow);
$colour-brand-aqua: var(--brand-aqua);
$colour-brand-black: var(--brand-black);
$colour-brand-white: var(--brand-white);
$colour-brand-alt-white: var(--brand-alt-white);
$colour-orange-yellow: var(--orange-yellow);
$colour-blue-grey: var(--blue-grey);
$colour-dark-blue-grey: var(--dark-blue-grey);
$colour-light-grey: var(--light-grey);
$colour-grey: var(--grey);

$colour-brand-orange--hover: var(--brand-orange--hover);
$colour-brand-learn-blue--hover: var(--brand-learn-blue--hover);
$colour-brand-product-purple--hover: var(--brand-product-purple--hover);
$colour-brand-assist-lime--hover: var(--brand-assist-lime--hover);
$colour-brand-services-green--hover: var(--brand-services-green--hover);
$colour-brand-link-blue--hover: var(--brand-link-blue--hover);
$colour-brand-dust-blue--hover: var(--brand-dust-blue--hover);
$colour-brand-rose--hover: var(--brand-rose--hover);
$colour-brand-red--hover: var(--brand-red--hover);
$colour-brand-yellow--hover: var(--brand-yellow--hover);
$colour-brand-aqua--hover: var(--brand-aqua--hover);
$colour-brand-black--hover: var(--brand-black--hover);
$colour-brand-white--hover: var(--brand-white--hover);
$colour-brand-alt-white--hover: var(--brand-alt-white--hover);
$colour-light-grey--hover: var(--light-grey--hover);
