<app-hero-homepage (_search)="handleSearch($event)"></app-hero-homepage>
<app-filter-button [isOpen]="isMobileFilterMenuOpen"></app-filter-button>
<div class="l-padding-top--double-gutter">
  <app-filter-bar-and-content>
    <div sidebar>
      <app-search-sidebar-partial [page]="'home'"></app-search-sidebar-partial>
    </div>
    <div content>
      <div class="c-section-title--align">
        <app-section-title
          titleBase="Newest in"
          titleEmphasis="Adaptavist Collections"
        ></app-section-title>
        <a class="c-section-title--see-all" routerLink="/collections/newest"
          >See all ›</a
        >
      </div>
      <app-card-container
        columns="l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
      >
        <app-collection-card-partial
          *ngFor="let card of newestAdaptavistCollectionCards"
          [card]="card"
          class="l-grid-cell l-padding-bottom--gutter"
        ></app-collection-card-partial>
      </app-card-container>
      <div class="c-section-title--align">
        <app-section-title
          titleBase="Trending in"
          titleEmphasis="Partner Collections"
        ></app-section-title>
        <a class="c-section-title--see-all" routerLink="/collections/trending"
          >See all ›</a
        >
      </div>
      <app-card-container
        columns="l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
      >
        <app-collection-card-partial
          *ngFor="let card of trendingPartnerCollectionCards"
          [card]="card"
          class="l-grid-cell l-padding-bottom--gutter"
        ></app-collection-card-partial>
      </app-card-container>
      <div class="c-section-title--align">
        <app-section-title
          titleBase="Newest in"
          titleEmphasis="ScriptRunner"
        ></app-section-title>
        <a
          class="c-section-title--see-all"
          routerLink="/search"
          [queryParams]="{ discover: 'recently-created', apps: 'scriptrunner' }"
          >See all ›</a
        >
      </div>
      <app-card-container
        columns="l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
      >
        <app-entity-card-partial
          *ngFor="let card of newestScriptRunnerCards"
          [card]="card"
          class="l-grid-cell l-padding-bottom--gutter"
        ></app-entity-card-partial>
      </app-card-container>
      <div class="c-section-title--align">
        <app-section-title
          titleBase="Newest in"
          titleEmphasis="Jira Cloud"
        ></app-section-title>
        <a
          class="c-section-title--see-all"
          routerLink="/search"
          [queryParams]="{
            discover: 'recently-created',
            products: 'jira',
            platforms: 'cloud'
          }"
          >See all ›</a
        >
      </div>
      <app-card-container
        columns="l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
      >
        <app-entity-card-partial
          *ngFor="let card of newestJiraCloudCards"
          [card]="card"
          class="l-grid-cell l-padding-bottom--gutter"
        ></app-entity-card-partial>
      </app-card-container>
      <div class="c-section-title--align">
        <app-section-title
          titleBase="Most Popular in"
          titleEmphasis="ScriptRunner"
        ></app-section-title>
        <a
          class="c-section-title--see-all"
          routerLink="/search"
          [queryParams]="{ discover: 'most-popular', apps: 'scriptrunner' }"
          >See all ›</a
        >
      </div>
      <app-card-container
        columns="l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
      >
        <app-entity-card-partial
          *ngFor="let card of popularScriptRunnerCards"
          [card]="card"
          class="l-grid-cell l-padding-bottom--gutter"
        ></app-entity-card-partial>
      </app-card-container>
      <ng-container *ngIf="recentEntities && recentEntities.length">
        <app-section-title
          titleBase="Recently"
          titleEmphasis="Viewed"
        ></app-section-title>
        <app-card-container
          columns="l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
        >
          <app-entity-card-partial
            *ngFor="let card of recentEntities"
            [card]="card"
            class="l-grid-cell l-padding-bottom--gutter"
          ></app-entity-card-partial>
        </app-card-container>
      </ng-container>
    </div>
  </app-filter-bar-and-content>
</div>
