<div class="c-hero c-hero--background c-hero-background--entity">
  <div class="l-page--wrapper">
    <a (click)="this.location.back()" class="c-hero--back-button u-text-link"
      >‹ Go back</a
    >

    <div class="c-hero--title-bar">
      <h1>Profile</h1>
    </div>
    <div class="c-profile-tabs">
      <ul class="c-tab-menu--list-profile">
        <li class="c-tab-menu--profile">
          <a
            class="c-tab--profile manage-account"
            routerLink="/manage-account"
            routerLinkActive="active"
          >
            Personal settings
          </a>
        </li>
        <li class="c-tab-menu--profile">
          <a
            class="c-tab--profile manage-account"
            routerLink="/saved-search"
            routerLinkActive="active"
          >
            Saved searches
          </a>
        </li>
        <li class="c-tab-menu--profile">
          <a
            class="c-tab--profile manage-account"
            routerLink="/watched-entities"
            routerLinkActive="active"
          >
            Watched Entities
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
