<div class="l-page--wrapper" *ngIf="!loading && collections.length === 0">
  <p>
    You haven't added any Collections to your Library yet.
    <a routerLink="/collections/newest"
      >Explore Adaptavist Library to find more content</a
    >.
  </p>
</div>
<ng-container *ngIf="collections.length > 0">
  <app-side-bar-and-content *ngFor="let collection of collections">
    <div sidebar>
      <app-collection-card-partial
        [card]="collection"
        class="l-grid-cell l-padding-bottom--gutter"
      >
      </app-collection-card-partial>
    </div>
    <div content>
      <app-card-container
        columns="l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
      >
        <app-entity-card-partial
          *ngFor="let card of collection.data.entities"
          [card]="createCardDataModel(card, collection.isReady)"
          class="l-grid-cell l-padding-bottom--gutter"
        >
        </app-entity-card-partial>
      </app-card-container>
    </div>
  </app-side-bar-and-content>
</ng-container>
