<div class="c-hero c-hero--background c-hero-background--entity">
  <div class="l-page--wrapper">
    <ng-container *ngIf="script.isReady">
      <ng-content select="[back]"></ng-content>
      <div class="c-hero--header">
        <app-entity-votes
          [entity]="script.data"
          class="text-voting"
        ></app-entity-votes>
        <div class="c-hero--title-section">
          <div class="c-hero--page-title">
            <h1>{{ script.data.name }}</h1>
            <ng-container *ngIf="shared">
              <button
                (click)="handleShare()"
                class="
                  c-button c-button--grey c-button--share
                  l-margin-left--auto
                "
              >
                <svg
                  class="c-button--icon c-button--tick-icon"
                  width="15px"
                  height="15px"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                  ></path>
                </svg>
                Link copied
              </button>
            </ng-container>
            <ng-container *ngIf="!shared">
              <button
                (click)="handleShare()"
                class="
                  c-button c-button--grey c-button--share
                  l-margin-left--auto
                "
              >
                <svg
                  class="c-button--icon c-button--share-icon"
                  height="15px"
                  viewBox="0 0 448 512"
                  width="15px"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M352 320c-22.608 0-43.387 7.819-59.79 20.895l-102.486-64.054a96.551 96.551 0 0 0 0-41.683l102.486-64.054C308.613 184.181 329.392 192 352 192c53.019 0 96-42.981 96-96S405.019 0 352 0s-96 42.981-96 96c0 7.158.79 14.13 2.276 20.841L155.79 180.895C139.387 167.819 118.608 160 96 160c-53.019 0-96 42.981-96 96s42.981 96 96 96c22.608 0 43.387-7.819 59.79-20.895l102.486 64.054A96.301 96.301 0 0 0 256 416c0 53.019 42.981 96 96 96s96-42.981 96-96-42.981-96-96-96z"
                    fill="currentColor"
                  ></path>
                </svg>
                Share this {{ script.data.type_name.toLowerCase() }}
              </button>
            </ng-container>
          </div>
          <div class="c-hero--detail">
            <div class="c-hero--byline">
              <svg
                class="u-text-colour--brand-services-green c-verificaton-adjust"
                width="15px"
                height="15px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"
                ></path>
              </svg>
              <span class="u-text-colour--brand-services-green">
                Verified by Adaptavist
              </span>
            </div>
            <div class="c-hero--byline l-margin-right--half-gutter">
              Type
              <ng-content select="[type-link]"></ng-content>
            </div>
            <div class="c-hero--byline">
              Features
              <ng-content select="[features]"></ng-content>
            </div>
            <div class="c-hero--byline">
              Tags
              <ng-content select="[tags]"></ng-content>
            </div>
          </div>
        </div>
      </div>
      <div [innerHTML]="script.data.description" class="c-hero--meta"></div>
      <app-hero-partners-apps [resource]="script.data"></app-hero-partners-apps>
      <div class="c-hero--footer">
        <div class="c-hero--button-bar">
          <ng-content select="[buttons]"></ng-content>
          <div class="l-display--inline-block c-hero--updated">
            Created {{ script.data.created_at
            }}<ng-container
              *ngIf="
                script.data.created_at !== script.data.updated_at &&
                script.data.updated_at !== ''
              "
              >, Updated
              {{ script.data.updated_at }}
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!script.isReady">
      <div
        class="
          l-flex
          l-justify-content--center
          l-align-items--center
          c-hero--loading-spinner
        "
      >
        <svg
          class="c-button--spinner c-spinner--grey c-spinner--medium a-spin"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"
          />
        </svg>
      </div>
    </ng-container>
  </div>
</div>
