<div
  *ngIf="resource.partners.length || resource.app_versions.length"
  class="c-resource-partners l-margin-bottom--double-gutter"
>
  <h3 class="u-font-size-14 l-margin-bottom--half-gutter">Featuring</h3>
  <div class="c-resource-partner--container">
    <div *ngFor="let app of resource.app_versions" class="c-resource-partner">
      <a
        href="{{ app.product_url }}"
        [rel]="!isAdaptavistUrl(app.product_url) ? 'nofollow' : ''"
      >
        <div class="c-partner--logo-holder">
          <img
            src="{{ app.icon }}"
            alt="{{ app.name }} Logo"
            class="c-partner--logo"
          />
        </div>
      </a>
      <div class="c-resource-partner--text-holder">
        <p class="c-partner--text u-font-weight--light">
          <a
            href="{{ app.product_url }}"
            [rel]="!isAdaptavistUrl(app.product_url) ? 'nofollow' : ''"
            class="c-partner--product-name u-font-weight--regular"
          >
            <ng-container *ngIf="app.pretty_name">
              {{ app.pretty_name }}
            </ng-container>
            <ng-container *ngIf="!app.pretty_name">
              {{ app.name }}
            </ng-container>
          </a>
          <br />
          by
          <a
            href="{{ app.url }}"
            [rel]="!isAdaptavistUrl(app.url) ? 'nofollow' : ''"
            rel="nofollow"
            class="c-partner--link"
            >{{ app.company_name }}</a
          >
        </p>
      </div>
    </div>
    <div *ngFor="let partner of resource.partners" class="c-resource-partner">
      <a
        href="{{ partner.product_url }}"
        [rel]="!isAdaptavistUrl(partner.product_url) ? 'nofollow' : ''"
      >
        <div class="c-partner--logo-holder">
          <img
            src="{{ partner.icon }}"
            alt="{{ partner.product_name }} Logo"
            class="c-partner--logo"
          />
        </div>
      </a>
      <div class="c-resource-partner--text-holder">
        <p class="c-partner--text u-font-weight--light">
          <a
            href="{{ partner.product_url }}"
            [rel]="!isAdaptavistUrl(partner.product_url) ? 'nofollow' : ''"
            class="c-partner--product-name u-font-weight--regular"
          >
            {{ partner.product_name }}
          </a>
          <br />
          by
          <a
            href="{{ partner.url }}"
            [rel]="!isAdaptavistUrl(partner.url) ? 'nofollow' : ''"
            rel="nofollow"
            class="c-partner--link"
            >{{ partner.name }}</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
