<div
  class="
    l-page--wrapper
    l-padding-top--double-gutter
    l-padding-bottom--double-gutter
  "
>
  <p>
    Last updated: Feb 2, 2021<br />
    IMPORTANT: THESE TERMS CONTAIN EXCLUSIONS AND LIMITATIONS OF LIABILITY
  </p>

  <h2>1. Terms of Use</h2>
  <p>
    These terms and conditions ("Terms") shall govern your access and use of the
    websites operated by Adaptavist Group LTD and its affiliates (collectively,
    "Adaptavist"), including
    <a href="https://www.adaptavist.com/">adaptavist.com</a>,
    <a href="https://library.adaptavist.com/">library.adaptavist.com</a>,
    <a href="https://docs.adaptavist.com/">docs.adaptavist.com</a>,
    <a href="https://pc.adaptavist.com/">pc.adaptavist.com</a> (each a “Website”
    and collectively the "Websites"), as well as your access and use of related
    Materials (as defined below) on the Websites.
  </p>
  <p>
    Each individual Website may also contain notices or supplementary terms and
    conditions of various forms, in which case terms outlined in such notices or
    terms and conditions, in combination with the terms below, shall then
    constitute the "Terms". If there is a conflict between the notices or
    supplementary terms found on an individual Website and the terms below, the
    notices or supplementary terms on an individual Website shall take
    precedence with respect to your use of that Website.
  </p>
  <p>
    By accessing or using a Website or the Materials provided on a Website, you
    agree to follow and be bound by these Terms, as well as Adaptavist's
    <a href="https://www.adaptavist.com/privacy-policy">Privacy Policy</a>.
  </p>
  <p>
    Adaptavist may update these Terms from time to time without notice to you.
    Amendments to these Terms will be effective upon publication to the relevant
    Website and operate as a condition of your continued use of the Website or
    Materials. You must review Adaptavist's Terms whenever you use the Website
    or Materials. Use of the Website will be subject to the current version of
    the Terms available on the Website at the time of such use.
  </p>

  <h2>2. General Use Restrictions</h2>
  <p>
    All products, goods, software, scripts, and services (including hosted
    software as a service or similar services) are known as the "Software". All
    documents, web pages, logos, blogs, videos, graphics, sounds or images are
    known as "Content". Software and Content, together, along with anything else
    on the Website, are known as "Materials"; all Materials on the Website were
    provided by Adaptavist or to Adaptavist by the respective manufacturers,
    authors, developers and vendors of the Materials (the "Third Party
    Providers"). All Materials are the copyrighted work of Adaptavist and/or the
    Third Party Providers. Except as stated herein or expressly on the Website,
    none of the Materials may be copied, reproduced, distributed, republished,
    downloaded, displayed, posted or transmitted in any form or by any means,
    including, but not limited to, electronic, mechanical, photocopying,
    recording, or otherwise, without the prior express written permission of
    Adaptavist and, if applicable, the Third Party Provider.
  </p>
  <p>
    For avoidance of doubt, you also may not, without Adaptavist's prior express
    written permission, link to or "mirror" any Website or any Material
    contained on a Website. Furthermore, any usage rights for Adaptavist
    products shall be subject to rights and restrictions as detailed within the
    published EULA and/or terms associated with that product.
  </p>
  <h4>2.1. No License</h4>
  <p>
    Furthermore, nothing on this Website shall be construed as conferring any
    license under any of Adaptavist's or any Third Party Provider’s intellectual
    property rights, whether by estoppel, implication, or otherwise. You
    acknowledge sole responsibility for obtaining any such licenses.
  </p>
  <h4>2.2. Unauthorised or unlawful use</h4>
  <p>
    Any unauthorised use of any Materials contained on the Website may violate
    copyright laws, intellectual copyright laws, trademark laws, the laws of
    privacy and publicity, and various regulations and statutes.
  </p>
  <p>
    You agree not to use this site nor any Materials for any unlawful purposes,
    or for any purposes that would violate the Terms.
  </p>
  <h4>2.3. Your content</h4>
  <p>
    You agree that any material that you upload or otherwise share on or through
    the Website is material for which you have the right and authority to share.
    Unless otherwise specifically stated in these Terms, you grant Adaptavist a
    worldwide, perpetual, royalty-free, irrevocable, nonexclusive, fully
    sublicensable license to use, reproduce, modify, adapt, translate, publish,
    publicly perform, publicly display, broadcast, transmit and distribute the
    material for whatever purposes, commercial or otherwise, Adaptavist chooses.
  </p>
  <h4>2.4. Your use of the site</h4>
  <p>
    You agree to use the Website in a reasonable and obvious way for which it
    was established, and not in any way that might overload or stress the site.
    You furthermore agree not to attempt to reverse engineer any part of the
    site or gain access to areas of the site or Materials to which you are not
    clearly entitled.
  </p>

  <h2>3. Third Party Content Disclaimer</h2>
  <p>
    Materials provided by Third Party Providers have not been independently
    authenticated in whole or in part by Adaptavist.
  </p>
  <p>
    Adaptavist is committed to respecting others' intellectual property rights,
    and we require our users to do the same. Adaptavist may, at its sole
    discretion, terminate the accounts or access rights of users who infringe or
    otherwise violate others' intellectual property rights.
  </p>
  <p>
    If you believe that your work has been copied in a way that constitutes
    copyright infringement on our Website, please contact us at
    <a href="https://www.adaptavist.com/contact/"
      >https://www.adaptavist.com/contact/</a
    >.
  </p>

  <h2>4. Links to Third Party Sites</h2>
  <p>
    This Website may be linked to other websites which are not under the control
    of and are not maintained by Adaptavist. Adaptavist is not responsible for
    the content of those sites. Adaptavist is providing these links to you only
    for your convenience, and the inclusion of any link to such sites does not
    imply endorsement by Adaptavist of those sites. You bear all risks
    associated with your access, or use, of those sites and any third party
    content, products and services available on or by means of those sites.
  </p>

  <h2>5. Disclaimer of Warranty</h2>
  <p>
    <strong
      >Unless otherwise explicitly stated, the Website and Materials are
      provided 'as is', and all express or implied conditions, representations
      and warranties, including any implied warranty of merchantability,
      accuracy, fitness for a particular purpose, or non-infringement are
      disclaimed to the maximum extent permitted by law. Adaptavist makes no
      representations, warranties or guarantees as to the quality, suitability,
      truth, accuracy or completeness of any of the Content, nor that access to
      or use of the Website or any Software shall be uninterrupted or without
      delays or errors.</strong
    >
  </p>

  <h2>6. Limitation of Liability and Exclusion of Consequential Loss</h2>
  <p>
    <strong
      >Adaptavist shall not be liable for any loss or interruption of business,
      revenue, profits, use, data, wasted expenditure or other economic
      advantage, nor any indirect, punitive, special, incidental, or
      consequential damages suffered as a result of using the Website. The
      foregoing exclusion shall apply however such liability arises, whether for
      breach of contract, tort (including negligence), strict liability,
      statutory duty or any other legal basis, even if Adaptavist has been
      previously advised of the possibility of such damage. You shall hold
      Adaptavist harmless from any claims by yourself or your customer(s) for
      such losses.</strong
    >
  </p>
  <p>
    <strong
      >The remedies set forth herein are exclusive, and Adaptavist’s aggregate
      liability whether for breach of contract, tort (including negligence),
      strict liability, statutory duty or any other legal basis shall not exceed
      £10 (ten British pounds) and you shall hold Adaptavist harmless for all
      losses in excess of this sum.</strong
    >
  </p>

  <h2>7. Indemnity</h2>
  <p>
    You agree to indemnify and hold harmless Adaptavist and its affiliates,
    officers, directors, employees and agents from and against any and all
    claims, liabilities, damages, losses or expenses, including attorneys' fees
    and costs, due to or arising out of any material that you share, your
    violation of these Terms, or any additional rules, guidelines or terms of
    use posted for a specific area of a Website or Material provided on or
    through a Website, or your violation or infringement of any third party
    rights, including intellectual property rights.
  </p>

  <h2>8. Local Laws; Export Control</h2>
  <p>
    Adaptavist controls this Website from England, United Kingdom and makes no
    representation that the Materials are appropriate or available for use in
    other locations. If you use this Website from other locations, you are
    responsible for compliance with applicable local laws including but not
    limited to the export and import regulations of other countries.
  </p>
  <p>
    You acknowledge and agree that Materials are subject to the Laws of England
    and Wales. You agree that none of the Materials, nor any direct product
    therefrom, is being or will be acquired for, shipped, transferred, or
    re-exported, directly or indirectly, to proscribed or embargoed countries or
    their nationals, nor be used for nuclear activities, chemical biological
    weapons, or missile projects unless authorised by the UK Government.
  </p>

  <h2>9. Applicable Law</h2>
  <p>
    Any action related to these Terms will be governed by the law of England and
    Wales. Any disputes relating to these Terms will be governed by and
    construed in accordance with the applicable laws of England and Wales and
    shall be submitted to the exclusive jurisdiction of the English courts.
    Notwithstanding the foregoing, Adaptavist may bring a claim for equitable
    relief in any court with proper jurisdiction. If any of these terms are
    found to be inconsistent with applicable law, then such term shall be
    interpreted to reflect the intentions of the parties and no other terms will
    be modified. Adaptavist's failure to enforce any of the terms in these Terms
    is not a waiver of such terms. The Terms are the entire agreement between
    you and Adaptavist and supersede all prior or contemporaneous negotiations,
    discussions or agreements, written or oral, between you and Adaptavist about
    the Website.
  </p>
  <p>
    The proprietary rights, disclaimer of warranties, indemnities and
    limitations of liability shall survive any termination of the Terms.
  </p>

  <h2>10. Changes to the Website</h2>
  <p>
    Adaptavist and the Third Party Providers may make improvements and/or
    changes to the Software (and any prices) on this Website at any time without
    notice.
  </p>
  <p>
    In addition, changes are periodically made to a Website to replace/update
    existing Content or add new Content, or in general alter or remove Materials
    of any kind (including Software).
  </p>

  <h2>
    11. Appendix 1 – Supplementary Terms Applicable to Use of the Adaptavist
    Library Website
  </h2>
  <h4>11.1. Terms of Use</h4>
  <p>
    Please note these terms are an extension of the Terms described in
    <strong>“Adaptavist Website Terms and Conditions of Use."</strong> The terms
    of this Appendix shall additionally apply for access to and use of the
    <strong>Adaptavist Library Website</strong> located at
    <a href="https://library.adaptavist.com">https://library.adaptavist.com</a>,
    including any of its related or child pages or sites (the “Library
    Website"), as well as your access and use of Scripts made available by
    Adaptavist on the Library Website.
  </p>
  <p>
    In the event of any conflict between the terms of this Appendix and the
    preceding Terms, the terms of this Appendix shall prevail.
  </p>
  <p>
    “Scripts" shall mean the code made available to copy and use from the
    Library Website. For Atlassian related code, this includes all variants,
    including Cloud code, Server code and Data Center code. Scripts also means
    any other materials expressly stated as being available for you to copy and
    use from the Library Website, which may in turn include Groovy script files,
    XML files, JSON and ZIP files. For clarity, Scripts shall not include
    licensed software which is independently marketed elsewhere, either by
    Adaptavist or any third party, the terms of which shall be according to the
    <a href="https://www.adaptavist.com/adaptavist-eula">Adaptavist EULA</a> or
    other third party license agreement as applicable.
  </p>
  <p>
    If, during the course of using the Library Website (such as while uploading
    Scripts), you are redirected to another website to complete a function
    associated with your use of the Library Website, these Terms will still
    apply to your use of the Library Website and the Scripts, unless you are
    expressly informed by the related site of any additional terms with which
    you must comply. In the event of any conflict between these Terms and the
    additional terms of another website, these Terms shall prevail.
  </p>
  <h4>11.2. General Use Restrictions</h4>
  <p>
    The Scripts made available to you on this Library Website were provided by
    Adaptavist or to Adaptavist by their respective manufacturers, authors,
    developers and vendors (the "Third Party Providers") and are the copyrighted
    work of Adaptavist, and/or (if specifically noted where the Script is made
    available) the Third Party Providers.
  </p>
  <p>
    Use of Scripts is strictly subject to your compliance with the terms of the
    ‘3 Clause BSD License’ available at;
    <a href="https://opensource.org/licenses/BSD-3-Clause"
      >https://opensource.org/licenses/BSD-3-Clause</a
    >.
  </p>
  <h4>11.3. Software Scripts: Ownership and Intellectual Property Rights</h4>
  <p>
    If contributing Scripts to the Library Website, unless otherwise agreed in
    writing between you and Adaptavist:
  </p>
  <ol>
    <li>
      the property of all Scripts (including the intellectual property rights
      therein) shall all vest solely with Adaptavist and you disclaim any
      ownership right therein;
    </li>
    <li>
      Adaptavist shall make the Scripts publicly available under the
      <a href="https://opensource.org/licenses/BSD-3-Clause"
        >3-Clause BSD License</a
      >;
    </li>
    <li>
      Adaptavist shall have a royalty-free, transferable, sub-licensable,
      worldwide, perpetual right to license, test, host, use, distribute,
      modify, run, copy, publicly perform or display, translate, and create
      derivative works of such Scripts.
    </li>
  </ol>
  <p>
    If you upload any Scripts to the Library Website you represent and warrant
    that:
  </p>
  <ol>
    <li>
      you have all necessary rights to submit the Scripts to the Library Website
      and grant the licenses set forth herein;
    </li>
    <li>
      Adaptavist will not need to obtain licenses from any third party or pay
      royalties to any third party;
    </li>
    <li>the Scripts do not infringe any third party rights;</li>
    <li>
      submission of Scripts complies with these Terms and all applicable laws.
    </li>
  </ol>
  <p>
    For the avoidance of doubt, unless otherwise specifically stated on the
    Library Website, Scripts in the Library Website are the property of
    Adaptavist, and Adaptavist may:
  </p>
  <ol>
    <li>publish Scripts via Adaptavist communications and publications;</li>
    <li>
      share Scripts through media channels and other official documentation;
    </li>
    <li>
      distribute Scripts through marketing material at Adaptavist events or
      other collaborative events.
    </li>
  </ol>
  <h4>11.4. Disclaimer of Warranty regarding use of Scripts</h4>
  <p>
    <strong
      >Unless otherwise explicitly stated, Scripts are provided "As is", are
      experimental and all express or implied conditions, representations and
      warranties, including any implied warranty of merchantability, fitness for
      a particular purpose, or non-infringement, are disclaimed, except to the
      extent that such disclaimers are held to be legally invalid. Adaptavist
      makes no representations, warranties, or guarantees as to the reliability,
      quality, suitability, truth, accuracy or completeness of any of the
      Scripts.</strong
    >
  </p>
  <h4>11.5. Limitation of Liability and Exclusion of Consequential Loss</h4>
  <p><strong>To the maximum extent permitted by law:</strong></p>
  <p>
    <strong
      >Adaptavist shall not be liable for any loss or interruption of business,
      revenue, profits, use, data, wasted expenditure or other economic
      advantage, nor any indirect, punitive, special, incidental, or
      consequential damages suffered as a result of using modifying,
      contributing, copying, distributing, or downloading Scripts. The foregoing
      exclusion shall apply however such liability arises, whether for breach of
      contract, tort (including negligence), strict liability, statutory duty or
      any other legal basis, even if Adaptavist has been previously advised of
      the possibility of such damage. You shall hold Adaptavist harmless from
      any claims by yourself or your customer(s) for such losses.</strong
    >
  </p>
  <p>
    <strong
      >The remedies set forth herein are exclusive, and Adaptavist’s aggregate
      liability whether for breach of contract, tort (including negligence),
      strict liability, statutory duty or any other legal basis shall not exceed
      £10 (ten British pounds) and you shall hold Adaptavist harmless for all
      losses in excess of this sum.</strong
    >
  </p>
  <p>
    <strong
      >You have sole responsibility for adequate protection and backup of data
      and/or equipment used in connection with the Library Website or any
      Scripts, and will not make a claim against Adaptavist for lost data,
      re-run time, inaccurate output, work delays or lost profits resulting from
      the use of the Scripts.</strong
    >
  </p>
  <p>
    <strong
      >For avoidance of doubt, when you use Scripts, you acknowledge that you
      are potentially making programmatic changes to the software to which the
      Scripts relate. Such changes can have immeasurable and potentially
      negative impact upon that software or your systems. You are solely
      responsible for determining the appropriateness of using Scripts within
      your software and/or systems and your use of Scripts is entirely at your
      own risk. You hold Adaptavist harmless from any impact upon any software
      and/or systems and all consequences thereof howsoever arising from your
      use of Scripts.</strong
    >
  </p>

  <h2>
    12. Appendix 2 – Supplementary Terms Applicable to Use of the Adaptavist
    Project Configurator for Jira Cloud (PC for Cloud) Website
  </h2>
  <h4>12.1. Terms of Use</h4>
  <p>
    Please note these terms are an extension of the Terms described in
    <strong>"Adaptavist Website Terms and Conditions of Use"</strong>. The terms
    of this Appendix shall additionally apply for access to and use of the
    <strong>Project Configurator for Jira Cloud (PC for Cloud) Website</strong>
    located at <a href="https://pc.adaptavist.com/">pc.adaptavist.com</a>,
    including any of its related or child pages or sites (the “PC for Cloud
    Website").
  </p>
  <p>
    In the event of any conflict between the terms of this Appendix and the
    preceding Terms, the terms of this Appendix shall prevail.
  </p>
  <h4>12.2. General Use Restrictions</h4>
  <p>
    You are aware and agree that the PC For Cloud Website utilises Adaptavist
    products and technology, for which use is governed by
    <a href="https://www.adaptavist.com/adaptavist-eula">Adaptavist's EULA</a>.
    Therefore, you agree to be bound by the terms of
    <a href="https://www.adaptavist.com/adaptavist-eula">Adaptavist's EULA</a>.
  </p>
  <h4>12.3. Disclaimer of Warranty</h4>
  <p>
    <strong
      >Unless otherwise explicitly stated, the content of the PC for Cloud
      Website is provided 'as is', and all express or implied conditions,
      representations and warranties, including any implied warranty of
      merchantability, accuracy, fitness for a particular purpose, or
      non-infringement are disclaimed to the maximum extent permitted by law.
      Adaptavist makes no representations, warranties or guarantees as to the
      quality, suitability, truth, accuracy or completeness of the PC for Cloud
      Website nor that access to or use of the PC for Cloud Website shall be
      uninterrupted or without delays or errors.</strong
    >
  </p>
  <h4>12.4. Limitation of Liability and Exclusion of Consequential Loss</h4>
  <p><strong>To the maximum extent permitted by law:</strong></p>
  <p>
    <strong
      >Adaptavist shall not be liable for any loss or interruption of business,
      revenue, profits, use, data, wasted expenditure or other economic
      advantage, nor any indirect, punitive, special, incidental, or
      consequential damages suffered as a result of using the PC for Cloud
      Website. The foregoing exclusion shall apply however such liability
      arises, whether for breach of contract, tort (including negligence),
      strict liability, statutory duty or any other legal basis, even if
      Adaptavist has been previously advised of the possibility of such damage.
      You shall hold Adaptavist harmless from any claims by yourself or your
      customer(s) for such losses.</strong
    >
  </p>
  <p>
    <strong
      >The remedies set forth herein are exclusive, and Adaptavist’s aggregate
      liability whether for breach of contract, tort (including negligence),
      strict liability, statutory duty or any other legal basis shall not exceed
      £10 (ten British pounds) and you shall hold Adaptavist harmless for all
      losses in excess of this sum.</strong
    >
  </p>
</div>
