%l-padding--none,
.l-padding--none {
  padding: 0;
}

%l-padding-top--none,
.l-padding-top--none {
  padding-top: 0;
}

%l-padding-right--none,
.l-padding-right--none {
  padding-right: 0;
}

%l-padding-bottom--none,
.l-padding-bottom--none {
  padding-bottom: 0;
}

%l-padding-left--none,
.l-padding-left--none {
  padding-left: 0;
}

%l-padding--gutter,
.l-padding--gutter {
  padding: $gutter;
}

%l-padding-top--gutter,
.l-padding-top--gutter {
  padding-top: $gutter;
}

%l-padding-left--gutter,
.l-padding-left--gutter {
  padding-left: $gutter;
}

%l-padding-right--gutter,
.l-padding-right--gutter {
  padding-right: $gutter;
}

%l-padding-bottom--gutter,
.l-padding-bottom--gutter {
  padding-bottom: $gutter;
}

%l-padding--half-gutter,
.l-padding--half-gutter {
  padding: $gutter--half;
}

%l-padding-top--half-gutter,
.l-padding-top--half-gutter {
  padding-top: $gutter--half;
}

%l-padding-left--half-gutter,
.l-padding-left--half-gutter {
  padding-left: $gutter--half;
}

%l-padding-right--half-gutter,
.l-padding-right--half-gutter {
  padding-right: $gutter--half;
}

%l-padding-bottom--half-gutter,
.l-padding-bottom--half-gutter {
  padding-bottom: $gutter--half;
}

%l-padding--double-gutter,
.l-padding--double-gutter {
  padding: $gutter--double;
}

%l-padding-top--double-gutter,
.l-padding-top--double-gutter {
  padding-top: $gutter--double;
}

%l-padding-left--double-gutter,
.l-padding-left--double-gutter {
  padding-left: $gutter--double;
}

%l-padding-right--double-gutter,
.l-padding-right--double-gutter {
  padding-right: $gutter--double;
}

%l-padding-bottom--double-gutter,
.l-padding-bottom--double-gutter {
  padding-bottom: $gutter--double;
}

%l-margin--none,
.l-margin--none {
  margin: 0;
}

%l-margin-top--none,
.l-margin-top--none {
  margin-top: 0;
}

%l-margin-right--none,
.l-margin-right--none {
  margin-right: 0;
}

%l-margin-bottom--none,
.l-margin-bottom--none {
  margin-bottom: 0;
}

%l-margin-left--none,
.l-margin-left--none {
  margin-left: 0;
}

%l-margin--gutter,
.l-margin--gutter {
  margin: $gutter;
}

%l-margin-top--gutter,
.l-margin-top--gutter {
  margin-top: $gutter;
}

%l-margin-left--gutter,
.l-margin-left--gutter {
  margin-left: $gutter;
}

%l-margin-right--gutter,
.l-margin-right--gutter {
  margin-right: $gutter;
}

%l-margin-bottom--gutter,
.l-margin-bottom--gutter {
  margin-bottom: $gutter;
}

%l-margin--half-gutter,
.l-margin--half-gutter {
  margin: $gutter--half;
}

%l-margin-top--half-gutter,
.l-margin-top--half-gutter {
  margin-top: $gutter--half;
}

%l-margin-left--half-gutter,
.l-margin-left--half-gutter {
  margin-left: $gutter--half;
}

%l-margin-right--half-gutter,
.l-margin-right--half-gutter {
  margin-right: $gutter--half;
}

%l-margin-bottom--half-gutter,
.l-margin-bottom--half-gutter {
  margin-bottom: $gutter--half;
}

%l-margin--double-gutter,
.l-margin--double-gutter {
  margin: $gutter--double;
}

%l-margin-top--double-gutter,
.l-margin-top--double-gutter {
  margin-top: $gutter--double;
}

%l-margin-left--double-gutter,
.l-margin-left--double-gutter {
  margin-left: $gutter--double;
}

%l-margin-right--double-gutter,
.l-margin-right--double-gutter {
  margin-right: $gutter--double;
}

%l-margin-bottom--double-gutter,
.l-margin-bottom--double-gutter {
  margin-bottom: $gutter--double;
}

%l-margin-top--auto,
.l-margin-top--auto {
  margin-top: auto;
}

%l-margin-right--auto,
.l-margin-right--auto {
  margin-right: auto;
}

%l-margin-bottom--auto,
.l-margin-bottom--auto {
  margin-bottom: auto;
}

%l-margin-left--auto,
.l-margin-left--auto {
  margin-left: auto;
}
