/* ==========================================================================
   #LAYOUT POSITION
   ========================================================================== */

/**
 * Positioning utility classes.
 */

/**
 * Position.
 */

%l-position--relative,
.l-position--relative {
  position: relative;
}

%l-position--absolute,
.l-position--absolute {
  position: absolute;
}
