%l-page--wrapper,
.l-page--wrapper {
  width: 100%;
  max-width: $wrapper-width * 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $gutter;

  @media screen and (min-width: 1240px) {
    padding: 0;
  }
}

.l-page--wrapper-profile {
  margin-left: auto;
  margin-right: auto;
  @extend %l-page--wrapper;

  @media #{$lrg-down} {
    margin-right: 0;
    margin-left: 0;
  }
}

.l-page--structure-footer {
  height: 100%;
  @extend %l-flex;
  @extend %l-flex--column;
}
