/* ==========================================================================
   #LAYOUT grids
   ========================================================================== */
%l-grid-cell,
.l-grid-cell {
  flex: 1;
}

.l-grid--gutters {
  margin-left: -$gutter--half;
  margin-right: -$gutter--half;
}

.l-grid--gutters > .l-grid-cell {
  padding-left: $gutter--half;
  padding-right: $gutter--half;
}

.l-grid--top {
  align-items: flex-start;
}

.l-grid--bottom {
  align-items: flex-end;
}

%l-grid--center,
.l-grid--center {
  align-items: center;
}

.l-grid-cell--top {
  align-self: flex-start;
}

%l-grid-cell--bottom,
.l-grid-cell--bottom {
  align-self: flex-end;
}

.l-grid-cell--center {
  align-self: center;
}

.l-grid--fit > .l-grid-cell {
  flex: 1;
}

.l-grid--full > .l-grid-cell {
  flex: 0 0 100%;
}

.l-grid--1of2 > .l-grid-cell {
  flex: 0 0 50%;
}

.l-grid--1of3 > .l-grid-cell {
  flex: 0 0 33.3333%;
}

.l-grid--1of4 > .l-grid-cell {
  flex: 0 0 25%;
}

.l-grid-cell--full {
  flex: 0 0 100%;
}

.l-grid-cell--1of2 {
  flex: 0 0 50%;
}

.l-grid-cell--1of3 {
  flex: 0 0 33.3333%;
}

.l-grid-cell--1of4 {
  flex: 0 0 25%;
}

.l-grid-cell--2of3 {
  flex: 0 0 66.66%;
}

.l-grid-cell--3of4 {
  flex: 0 0 75%;
}

@media #{$xsml-up} {
  .l-grid-xsml--fit > .l-grid-cell {
    flex: 1;
  }

  .l-grid-xsml--full > .l-grid-cell {
    flex: 0 0 100%;
  }

  .l-grid-xsml--1of2 > .l-grid-cell {
    flex: 0 0 50%;
  }

  .l-grid-xsml--1of3 > .l-grid-cell {
    flex: 0 0 33.3333%;
  }

  .l-grid-xsml--1of4 > .l-grid-cell {
    flex: 0 0 25%;
  }

  .l-grid-cell-xsml--full {
    flex: 0 0 100%;
  }

  .l-grid-cell-xsml--1of2 {
    flex: 0 0 50%;
  }

  .l-grid-cell-xsml--1of3 {
    flex: 0 0 33.3333%;
  }

  .l-grid-cell-xsml--1of4 {
    flex: 0 0 25%;
  }

  .l-grid-cell-xsml--2of3 {
    flex: 0 0 66.66%;
  }

  .l-grid-cell-xsml--3of4 {
    flex: 0 0 75%;
  }
}

@media #{$sml-up} {
  .l-grid-sml--fit > .l-grid-cell {
    flex: 1;
  }

  .l-grid-sml--full > .l-grid-cell {
    flex: 0 0 100%;
  }

  .l-grid-sml--1of2 > .l-grid-cell {
    flex: 0 0 50%;
  }

  .l-grid-sml--1of3 > .l-grid-cell {
    flex: 0 0 33.3333%;
  }

  .l-grid-sml--1of4 > .l-grid-cell {
    flex: 0 0 25%;
  }

  .l-grid-cell-sml--full {
    flex: 0 0 100%;
  }

  .l-grid-cell-sml--1of2 {
    flex: 0 0 50%;
  }

  .l-grid-cell-sml--1of3 {
    flex: 0 0 33.3333%;
  }

  .l-grid-cell-sml--1of4 {
    flex: 0 0 25%;
  }

  .l-grid-cell-sml--2of3 {
    flex: 0 0 66.66%;
  }

  .l-grid-cell-sml--3of4 {
    flex: 0 0 75%;
  }
}

@media #{$med-up} {
  .l-grid-med--fit > .l-grid-cell {
    flex: 1;
  }

  .l-grid-med--full > .l-grid-cell {
    flex: 0 0 100%;
  }

  .l-grid-med--1of2 > .l-grid-cell {
    flex: 0 0 50%;
  }

  .l-grid-med--1of3 > .l-grid-cell {
    flex: 0 0 33.3333%;
  }

  .l-grid-med--1of4 > .l-grid-cell {
    flex: 0 0 25%;
  }

  .l-grid-cell-med--full {
    flex: 0 0 100%;
  }

  .l-grid-cell-med--1of2 {
    flex: 0 0 50%;
  }

  .l-grid-cell-med--1of3 {
    flex: 0 0 33.3333%;
  }

  .l-grid-cell-med--1of4 {
    flex: 0 0 25%;
  }

  .l-grid-cell-med--2of3 {
    flex: 0 0 66.66%;
  }

  .l-grid-cell-med--3of4 {
    flex: 0 0 75%;
  }
}

@media #{$lrg-up} {
  .l-grid-lrg--fit > .l-grid-cell {
    flex: 1;
  }

  .l-grid-lrg--full > .l-grid-cell {
    flex: 0 0 100%;
  }

  .l-grid-lrg--1of2 > .l-grid-cell {
    flex: 0 0 50%;
  }

  .l-grid-lrg--1of3 > .l-grid-cell {
    flex: 0 0 33.3333%;
  }

  .l-grid-lrg--1of4 > .l-grid-cell {
    flex: 0 0 25%;
  }

  .l-grid-cell-lrg--full {
    flex: 0 0 100%;
  }

  .l-grid-cell-lrg--1of2 {
    flex: 0 0 50%;
  }

  .l-grid-cell-lrg--1of3 {
    flex: 0 0 33.3333%;
  }

  .l-grid-cell-lrg--1of4 {
    flex: 0 0 25%;
  }

  .l-grid-cell-lrg--2of3 {
    flex: 0 0 66.66%;
  }

  .l-grid-cell-lrg--3of4 {
    flex: 0 0 75%;
  }
}

@media #{$xlrg-up} {
  .l-grid-xlrg--fit > .l-grid-cell {
    flex: 1;
  }

  .l-grid-xlrg--full > .l-grid-cell {
    flex: 0 0 100%;
  }

  .l-grid-xlrg--1of2 > .l-grid-cell {
    flex: 0 0 50%;
  }

  .l-grid-xlrg--1of3 > .l-grid-cell {
    flex: 0 0 33.3333%;
  }

  .l-grid-xlrg--1of4 > .l-grid-cell {
    flex: 0 0 25%;
  }

  .l-grid-cell-xlrg--full {
    flex: 0 0 100%;
  }

  .l-grid-cell-xlrg--1of2 {
    flex: 0 0 50%;
  }

  .l-grid-cell-xlrg--1of3 {
    flex: 0 0 33.3333%;
  }

  .l-grid-cell-xlrg--1of4 {
    flex: 0 0 25%;
  }

  .l-grid-cell-xlrg--2of3 {
    flex: 0 0 66.66%;
  }

  .l-grid-cell-xlrg--3of4 {
    flex: 0 0 75%;
  }
}
