/* ==========================================================================
   #LAYOUT BLOCK
   ========================================================================== */

%l-display--block,
.l-display--block {
  display: block !important;
}

%l-display--inline-block,
.l-display--inline-block {
  display: inline-block !important;
}

%l-display--inline,
.l-display--inline {
  display: inline !important;
}

%l-display--flex,
.l-display--flex {
  display: flex !important;
}

%l-display--inline-flex,
.l-display--inline-flex {
  display: inline-flex !important;
}
