%l-flex,
.l-flex {
  display: flex;
}

%l-flex--row,
.l-flex--row {
  flex-direction: row;
}

%l-flex--row-reverse,
.l-flex--row-reverse {
  flex-direction: row-reverse;
}

%l-flex--column,
.l-flex--column {
  flex-direction: column;
}

%l-flex--column-reverse,
.l-flex--column-reverse {
  flex-direction: column-reverse;
}

%l-flex--wrap,
.l-flex--wrap {
  flex-wrap: wrap;
}

%l-justify-content--space-between,
.l-justify-content--space-between {
  justify-content: space-between;
}

%l-justify-content--flex-start,
.l-justify-content--flex-start {
  justify-content: flex-start;
}

%l-justify-content--center,
.l-justify-content--center {
  justify-content: center;
}

%l-justify-content--flex-end,
.l-justify-content--flex-end {
  justify-content: flex-end;
}

%l-align-content--center,
.l-align-content--center {
  align-content: center;
}

%l-flex-row-to-column,
.l-flex-row-to-column {
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

%l-flex-row-to-column-reverse,
.l-flex-row-to-column-reverse {
  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

%l-align-items--center,
.l-align-items--center {
  align-items: center;
}

%l-full-height,
.l-full-height {
  height: 100%;
}

@media #{$xlrg-down} {
  .l-flex--xlrg--row {
    flex-direction: row;
  }

  .l-flex--xlrg--row-reverse {
    flex-direction: row-reverse;
  }

  %l-flex--xlrg--column,
  .l-flex--xlrg--column {
    flex-direction: column;
  }

  .l-flex--xlrg--column-reverse {
    flex-direction: column-reverse;
  }

  .l-justify-content--xlrg--space-between {
    justify-content: space-between;
  }

  .l-justify-content--xlrg--center {
    justify-content: center;
  }

  .l-justify-content--xlrg--flex-end {
    justify-content: flex-end;
  }
}

@media #{$lrg-down} {
  .l-flex--lrg--row {
    flex-direction: row;
  }

  .l-flex--lrg--row-reverse {
    flex-direction: row-reverse;
  }

  .l-flex--lrg--column {
    flex-direction: column;
  }

  .l-flex--lrg--column-reverse {
    flex-direction: column-reverse;
  }

  .l-justify-content--lrg--space-between {
    justify-content: space-between;
  }

  .l-justify-content--lrg--center {
    justify-content: center;
  }

  .l-justify-content--lrg--flex-end {
    justify-content: flex-end;
  }
}

@media #{$med-down} {
  .l-flex--med--row {
    flex-direction: row;
  }

  .l-flex--med--row-reverse {
    flex-direction: row-reverse;
  }

  .l-flex--med--column {
    flex-direction: column;
  }

  .l-flex--med--column-reverse {
    flex-direction: column-reverse;
  }

  .l-justify-content--med--space-between {
    justify-content: space-between;
  }

  .l-justify-content--med--center {
    justify-content: center;
  }

  .l-justify-content--med--flex-end {
    justify-content: flex-end;
  }
}

@media #{$sml-down} {
  .l-flex--sml--row {
    flex-direction: row;
  }

  .l-flex--sml--row-reverse {
    flex-direction: row-reverse;
  }

  .l-flex--sml--column {
    flex-direction: column;
  }

  .l-flex--sml--column-reverse {
    flex-direction: column-reverse;
  }

  .l-justify-content--sml--space-between {
    justify-content: space-between;
  }

  .l-justify-content--sml--center {
    justify-content: center;
  }

  .l-justify-content--sml--flex-end {
    justify-content: flex-end;
  }
}

@media #{$xsml-down} {
  .l-flex--xsml--row {
    flex-direction: row;
  }

  .l-flex--xsml--row-reverse {
    flex-direction: row-reverse;
  }

  .l-flex--xsml--column {
    flex-direction: column;
  }

  .l-flex--xsml--column-reverse {
    flex-direction: column-reverse;
  }

  .l-justify-content--xsml--space-between {
    justify-content: space-between;
  }

  .l-justify-content--xsml--center {
    justify-content: center;
  }

  .l-justify-content--xsml--flex-end {
    justify-content: flex-end;
  }
}
