/* ==========================================================================
   #HERO COMPONENT
   ========================================================================== */

/**
 * Hero banner components that sit under the site navigation.
 *
 * 1. An inline comment on the example component.
 */

.c-hero {
  position: relative;
  padding-top: $gutter--double;
  padding-bottom: $gutter--double;
  @extend %l-display--flex;
}

.c-hero--profile {
  position: relative;
  padding-top: $gutter;
  height: 202px;
  background-color: $colour-brand-alt-white;
  @extend %l-display--flex;
}

.c-hero--user {
  line-height: 38px;
  color: $colour-brand-black;
  margin-bottom: 60px;
  margin-left: 24px;
  font-size: 20px;

  @media (min-width: 576px) {
    font-size: 24px;
  }
  @media (min-width: 768px) {
    font-size: 34px;
    margin-left: 40px;
  }
}

.c-hero--userbg {
  @media (min-width: 768px) {
    height: 230px;
  }
  &:before {
    background-image: var(--user-image);
    background-size: cover;
    background-position: 50% 50%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &:after {
    background-color: #563d7c;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
  }
}

.c-hero--background {
  background-color: $colour-brand-alt-white;
}

.c-hero-background--home {
  background-color: $colour-orange-yellow;
  padding-bottom: 45px;

  &::before {
    content: "";
    background-image: var(--cover-image);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    height: 340px;
    position: absolute;
    right: 0;
    left: 60%;
    bottom: -28px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.c-hero-background--entity {
  min-height: 200px;
}

.c-hero-text-container {
  margin-top: 10px;
}

.c-hero--page-title {
  h1 {
    font-size: 26px;
    margin-bottom: 5px;
  }
  display: flex;
}

.c-hero--title-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.c-hero--voting {
  margin: 2%;
  align-content: center;
}

.c-hero--header {
  display: flex;
  width: -webkit-fill-available;
}

.c-hero--profile-title {
  font-size: 36px;
  margin-bottom: 5px;
}

.c-hero--share-button {
  background-color: $colour-light-grey;
  color: $colour-brand-black;
  text-decoration: none;
  border-radius: $default--border-radius;
  display: flex;
  @extend %u-font-weight--regular;
  font-size: 14px !important;

  @media only screen and (max-width: 768px) {
    margin-bottom: 19px !important;
  }
}

.c-hero--byline {
  color: var(--blue-grey);
  @extend %u-font-weight--regular;
  @extend %l-display--flex;
  @extend %l-flex--row;
  @extend %l-justify-content--flex-start;
  margin-right: $gutter !important;
  font-size: 14px;
  flex-wrap: wrap;
}

.c-hero--byline .see-all {
  position: relative;
  display: none;

  &.more-content {
    display: inline-block !important;
  }
}

.c-hero--expand-icon {
  width: 15px;
  height: 15px;
  color: $colour-brand-link-blue;
}
.c-hero--collapse-icon {
  transform: rotate(180deg);
}

.c-hero--byline a {
  margin-left: 5px !important;
  font-size: 14px;
  margin-bottom: 1em;
  white-space: nowrap;

  :last-child {
    margin-left: 0;
  }
}

.c-hero--detail {
  @extend %l-display--flex;
  @extend %l-flex--row;
  @extend %l-justify-content--flex-start;
  flex-wrap: wrap;
}

.c-hero--meta {
  max-width: 900px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.c-hero--feature {
  text-decoration: none;
  margin-left: 5px;
}

.c-hero--expand-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  width: 20px;
  height: 20px;
  justify-content: center;
  &:focus {
    outline: transparent;
  }
}

.c-hero--add-button {
  height: 3.8em;
  width: 175px;
  font-size: 14px;
  padding-left: 2em;
  padding-right: 2em;
  margin-right: 30px;
  @extend %u-font-weight--regular;

  @media only screen and (max-width: 768px) {
    margin-bottom: $gutter;
  }
}

.c-hero--updated {
  @extend %u-font-weight--regular;
  margin-left: auto;
  font-size: 12px;
  color: var(--blue-grey);

  @media only screen and (max-width: 768px) {
    margin-left: 0;
    margin-top: $gutter;
  }
}

.c-hero--button-bar {
  @extend %l-display--flex;
  @extend %l-grid--center;
  @extend %l-margin-top--gutter;
  @extend %l-flex-row-to-column;
}

%c-hero--title-bar,
.c-hero--title-bar {
  margin-top: 19px;
  @extend %l-display--flex;
  @extend %l-grid--center;
  @extend %l-flex-row-to-column;
}

.c-hero--profile-bar {
  display: flex;
  align-items: center;
  // margin-top: 100px;
  @media only screen and (min-width: 768px) {
    margin-top: 19px;
    height: 100%;
  }
}

.c-hero--search-wrapper {
  width: 100%;
  min-width: 255px;
  height: 4em;
  outline: none;
  background-color: $colour-brand-alt-white;
  border: none;
  align-items: center;
  position: relative;
  @extend %l-display--flex;
  @extend %l-justify-content--flex-start;
  @extend %l-grid--center;
}

.c-hero--search-button {
  position: absolute;
  background-color: white;
  border: 2px solid #757575;
  right: 0;
  width: 3em;
  height: 3em;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.home {
    position: relative;
    right: 45px;
    display: flex;
    flex-shrink: 0;
  }

  & svg path {
    fill: #757575;
  }
  &.active {
    background-color: $colour-brand-link-blue;
    border: none;
    & svg path {
      fill: white;
    }
  }
}

.c-home-search--wrapper {
  display: flex;
  width: 75%;
  @media only screen and (max-width: 768px) {
    width: 70%;
  }
  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}

.c-hero-search--text-input {
  width: 100%;
  font-size: 16px;
  height: 3em;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 80px;
  padding: $gutter--half $gutter $gutter--half $gutter;
  @extend %l-display--flex;
  @extend %l-justify-content--flex-start;
  @extend %l-grid--center;
  @extend %u-font-weight--regular;

  &:focus {
    outline: none;
    box-shadow: #4775ff 0 0 4px 2px;
  }
}

.c-hero-page-title--library {
  @extend %l-margin-top--gutter;
  @extend %u-font-weight--regular;
  font-size: 2em;
}

.c-hero-page-title--home {
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 36px;

  @media only screen and (max-width: 768px) {
    width: 65%;
  }
}

.c-hero-home--structure {
  @media only screen and (max-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.c-hero--loading-spinner {
  min-height: 299px;
}
