.c-saved-search--wrapper {
  height: 100%;
  max-width: 900px;
  width: 100%;
  border-radius: 4px;
  background-color: #f6f8fd;
  display: flex;
  align-items: flex-start;
  padding: $gutter--half;
  margin: $gutter--half 0px;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    align-items: center;
  }
}

.c-saved-search--criteria {
  height: 30px;
  width: fit-content;
  padding: 10.5px;
  border-radius: 3px;
  background-color: #000a27;
  color: #ffffff;
  font-family: $font-family--headings;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: $gutter--half;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.c-saved-search--plus-icon {
  width: 10px;
  height: 10px;
  color: #000;
  margin-left: 8px;
  margin-right: 8px;
  flex-shrink: 0;
  align-self: center;
}

.c-saved-search--save-date {
  opacity: 0.75;
  color: #000a27;
  font-size: 15px;
  letter-spacing: 0.26px;
  line-height: 18px;
  margin-left: 0;
  @media (min-width: 768px) {
    margin-left: 14px;
  }
}

.c-saved-search--link {
  font-size: 15px;
  letter-spacing: 0.26px;
  line-height: 18px;
  &.view {
    color: #170af0;
    margin-left: auto;
  }
  &.remove {
    align-self: center;
    margin-left: 19px;
    opacity: 0.5;
    color: #000a27;
  }

  &.add-a-search {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-left: auto;
    top: -30px;
    position: relative;
  }
}
