.c-profile--dropdown {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-left: $gutter;
  background: transparent;
  border: none;
  padding: 0;
}

.c-profile--menu-icon {
  height: 100%;
  width: 100%;
  align-self: center;
  // box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;

  &.circle {
    border-radius: 50%;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.c-profile--menu {
  position: absolute;
  right: 0;
  z-index: 7;
  // min-height: 146px;
  width: 185px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 17px 18px 0 18px;
  box-shadow: 0 4px 10px 0 rgba(0, 10, 39, 0.2);

  @media only screen and (max-width: 768px) {
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
    position: relative;
    // height: 193px;
    line-height: normal;
  }
}

.c-profile--menu a {
  @media only screen and (min-width: 769px) {
    color: $colour-brand-black;
    text-decoration: none;
    margin: 16px 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 16px;
    width: 160px;
    font-size: 14px;
    letter-spacing: 0.65px;
    line-height: 16px;

    &.user {
      height: 19px;
      width: 160px;
      opacity: 0.4;
      font-size: 16px;
      letter-spacing: 0.74px;
      line-height: 19px;
      text-align: left;
      margin: 24px 18px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  &.user {
    max-width: 150px;
    text-align: center;
  }
}

.c-profile--menu .c-profile--signout {
  margin: 14px 18px 20px 18px;
  border-bottom: none;
}

.c-profile--dropdown .c-profile--menu {
  @media only screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.c-notification {
  height: 9px;
  width: 9px;
  background-color: #ff6633;
  position: absolute;
  bottom: 33px;
  left: 56px;
  border-radius: 50%;
  z-index: 4;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.c-notification--dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #4775ff;
  position: relative;
  display: inline-block;
  margin-left: 8px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.c-profile--icon {
  width: 120px;
  height: 120px;

  &.circle {
    border-radius: 50%;
  }

  &.delete {
    border-radius: 0;
    fill: $colour-brand-rose;
    margin-right: 16px;
    width: 16px;
    height: 16px;
  }
}

.c-profile--upload {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    margin-top: 61px;
    width: 100%;
    max-width: $wrapper-width * 1px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
}

.c-avatar--main {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.c-profile--form {
  margin-top: 43px;
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.c-profile--input {
  height: 38px;
  width: 100%;
  border-radius: 3px;
  background-color: #f2f4f9;
  border: none;
  padding: 7px 12px;
  @media (min-width: 768px) {
    width: 440px;
  }
}

.c-profile--label {
  margin-right: 90px;
  display: inline-block;
  height: 25px;
  width: 140px;
  opacity: 0.6;
  color: $colour-brand-black;
  font-size: 15px;
  letter-spacing: 0.26px;
  line-height: 25px;
  align-self: flex-start;
  &.mobile {
    display: none;
  }
  @media (min-width: 768px) {
    align-self: center;
    &.mobile {
      display: inline-block;
    }
  }
}

.c-profile--fieldset {
  border: none;
  padding: 0;

  &.settings {
    margin-top: 10px;
  }

  &.social {
    margin-bottom: 0;
  }
}

.c-profile--upload-text {
  display: flex;
  min-height: 46px;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0.26px;
  line-height: 18px;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 22px;
  }
}

.c-profile--upload-text input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.c-profile--upload-text span {
  display: flex;
  justify-content: center;
  margin: 12px 0px 12px 0px;

  &.hr::after {
    display: none;
  }
  @media (min-width: 768px) {
    margin-right: 30px;
    display: block;
    margin-bottom: 0;

    &.hr::after {
      content: "";
      height: 2px;
      width: 64px;
      background-color: #000000;
      position: absolute;
      margin-top: 24px;
      display: block;
    }
  }
}

#avatars {
  overflow-y: auto;
}

a.avatars {
  margin-right: 8px;
}

.avatars img {
  width: 41px;
  height: 41px;
}

.avatars.active {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 47px;
  height: 47px;
  border: 2px solid $colour-brand-dust-blue;
  border-radius: 50%;
  padding-left: 1px;
  padding-top: 0.5px;
}

.c-avatar--wrapper {
  display: flex;
  align-items: center;
}

.c-profile--hr {
  border: 1px solid #f6f8fd;
  width: 660px;
  margin-left: 0;
  margin-right: 0;
}

.c-profile--inner {
  width: 100%;
}

input.ng-invalid {
  border: 1px solid var(--brand-red);
}

.validation-error {
  color: var(--brand-red);
  font-size: 15px;
}

.c-profile--pic {
  align-self: flex-start;
  flex-shrink: 0;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

    &.circle {
      border-radius: 50%;
    }
  }

  @media (min-width: 768px) {
    height: 180px;
    width: 180px;
  }
}

.c-profile-hero--tabs {
  padding-left: 0;
  margin: 38px 0px 0px 24px;

  @media (min-width: 768px) {
    margin: 38px 0px 0px 40px;
  }
}

.c-profile-hero--tab {
  list-style: none;
  text-transform: uppercase;
  height: 18px;
  color: $colour-brand-black;
  font-size: 15px;
  letter-spacing: 0.16px;
  line-height: 18px;
  display: inline-block;

  &:after {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    background-color: $colour-brand-black;
    margin-top: 10px;
  }

  @media (min-width: 768px) {
    color: $colour-brand-black;

    &:after {
      background-color: $colour-brand-black;
    }
  }
}

.c-profile--symbol {
  width: 20px;
  height: 20px;
}

.c-profile--detail {
  height: 18px;
  width: 100%;
  opacity: 0.75;
  color: #00042b;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;

  @media (min-width: 768px) {
    width: 220px;
  }
}

.c-profile--content {
  margin-top: 9px;
  height: 18px;
  width: 220px;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  display: flex;

  &.none {
    opacity: 0.5;
    color: #000a27;
  }
  &.approval {
    color: #000a27;
  }
  &.link {
    color: $colour-brand-link-blue;
  }
}

.c-profile--row {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

.c-profile--column {
  padding: 50px 25px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}

.c-profile--grid {
  margin-top: 43px;
  width: 100%;
}

.c-profile--social-icon {
  width: 18px;
  height: 18px;
  color: #6b778c;
  display: inline-block;
  margin-right: 10px;
}

.c-profile--checktext {
  height: 15px;
  width: 110px;
  opacity: 0.5;
  color: #000a27;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.23px;
  line-height: 15px;
}

.c-profile--check {
  margin-right: 8px;
  width: 12px;
  height: 12px;
  @media (min-width: 768px) {
    margin-left: 27px;
  }
}

.c-profile-form--row {
  display: flex;
  margin-top: $gutter;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

%c-edit-profile,
.c-edit-profile {
  width: 100%;
  border-radius: 3px;
  background-color: #f5f7fd;
  overflow: hidden;
  background-image: url("../../../images/illustrations/edit-profile.png");
  background-size: 130px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: -34px -20px;
  padding: $gutter--half;
  margin-bottom: $gutter;
  margin-top: 40px;

  @media (min-width: 768px) {
    background-position: -52px -33px;
    background-size: 240px;
    justify-content: flex-start;
    margin-bottom: 48px;
    flex-direction: row;
    padding: 0;
    width: 830px;
    margin-top: 0px;
  }
  &.password {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  &.prompt {
    @media (min-width: 768px) {
      width: 100%;
    }
  }
}

.c-edit-profile--content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 79px;
  @media (min-width: 768px) {
    width: 475px;
    margin-left: 200px;
    margin-top: auto;
    margin-bottom: auto;
  }

  p {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    color: #000a27;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px !important;
    @media (min-width: 768px) {
      width: 475px;
      height: 44px;
      font-size: 16px;
    }
  }

  strong {
    height: 21px;
    width: 174px;
    opacity: 0.75;
    color: #00042b;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }
  &.password {
    margin-top: 20px;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}

.c-edit-profile--cta {
  display: flex;
  flex-direction: column;
  margin-left: 79px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  &.dismiss {
    margin-bottom: 0px;
  }
  @media (min-width: 768px) {
    display: flex;
    margin-left: auto;
    margin-top: $gutter--half;
    margin-bottom: $gutter--half;
    &.dismiss {
      margin-bottom: 10px;
    }
  }
}

.c-save-profile {
  background-image: url("../../../images/illustrations/edit-profile.png");
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: -34px -20px;
  width: 100%;
  height: 100%;
  margin-top: $gutter;
  @media (min-width: 768px) {
    background-position: -52px -33px;
    background-size: 240px;
    justify-content: flex-start;
    margin-bottom: 48px;
    flex-direction: row;
    padding: 0;
    width: 830px;
  }
  @extend %c-edit-profile;
}

.c-hide-prompt {
  margin-right: 20px;
  font-size: 12px;
  color: $colour-grey;
  display: flex;
  justify-content: flex-end;
  margin-top: 10.5px;
  margin-bottom: 5px;
  @media (min-width: 768px) {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 102px;
    align-self: flex-end;
  }
}
