.c-content-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.c-content-area--sidebar {
  flex: 0 0 25%;
  height: 100%;
  padding-right: $gutter;
  padding-bottom: $gutter;
  @media only screen and (max-width: 1024px) {
    flex: 0 0 33.3%;
    padding-bottom: $gutter;
  }
  @media only screen and (max-width: 768px) {
    flex: 0 0 100%;
    padding-right: 0;
  }
}

.c-content-area--content {
  flex: 0 0 75%;
  padding-bottom: $gutter;
  @media only screen and (max-width: 1024px) {
    flex: 0 0 66.6%;
  }
  @media only screen and (max-width: 768px) {
    flex: 0 0 100%;
    width: 100%;
  }
}
