.c-verification-block {
  display: flex;
  align-items: center;
  color: $colour-brand-services-green;
  @extend %u-font-weight--regular;
}

.c-verification-block svg {
  margin-right: 0.5em;
}

.c-verificaton-adjust {
  margin-top: 2px;
  margin-right: 3px;
}

.c-verification-margin {
  margin-left: 30px;
}
