.c-report--text {
  color: $colour-brand-black;
  font-size: 14px;
  margin-bottom: $gutter;
  margin-top: $gutter;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.c-report--text a {
  color: $colour-brand-red;

  &:hover {
    color: $colour-brand-red--hover;
  }
}
