.c-tab-menu--list {
  @extend %u-link-list;
}

.c-tab-menu--list-profile {
  @extend %u-link-list;
  font-size: 17px;
  margin-bottom: 0;
  color: rgba(0, 10, 39, 0.5);
}

%c-tab-menu--item,
.c-tab-menu--item {
  display: inline-block;
  padding-bottom: 9px;
  margin-right: 21.5px;
  margin-bottom: 1em;
}

.c-tab-menu--profile {
  margin-bottom: 0;
  display: inline-block;
  padding-bottom: 9px;
  margin-right: 21.5px;

  &.saved-search-mobile {
    display: none;
    @media (max-width: 720px) {
      display: inline-block;
    }
  }
  &.saved-search {
    display: none;
    @media (min-width: 720px) {
      float: right;
      margin-left: auto;
      padding-right: 72px;
      display: inline-block;
    }
  }
}

.c-tab-menu {
  margin-top: auto;
}

%c-tab-menu--link,
.c-tab-menu--link {
  color: $colour-brand-black;
  position: relative;
  @extend %u-font-weight--regular;

  &:active,
  &:visited {
    color: $colour-brand-black;
  }
  @media (min-width: 720px) {
    &:hover,
    &.active {
      color: $colour-brand-link-blue;
      text-decoration: none !important;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        height: 3px;
        width: 100%;
        background-color: $colour-brand-link-blue;
      }
    }
  }
}

.c-tab--profile {
  height: 18px;
  color: $colour-brand-black;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0.33px;
  line-height: 18px;

  &.user-profile {
    text-transform: uppercase;
    font-weight: 500;
  }

  &:visited {
    color: $colour-brand-black;
  }

  &:hover,
  &.active {
    color: $colour-brand-link-blue;
    text-decoration: none !important;
    &.manage-account {
      &:after {
        content: "";
        display: block;
        position: relative;
        bottom: 0;
        top: 10px;
        height: 3px;
        width: 100%;
        background-color: $colour-brand-link-blue;
      }
    }

    &.user-profile {
      &:after {
        content: "";
        display: block;
        position: relative;
        bottom: 0;
        top: 10px;
        height: 3px;
        width: 100%;
        background-color: $colour-brand-link-blue;
      }
    }

    &.saved-search {
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 135px;
        background-color: $colour-brand-link-blue;
      }
    }
  }
}

.c-profile-tabs {
  position: absolute;
  bottom: 0;
  width: 100%;

  &.user-profile {
    margin-left: 24px;
    @media (min-width: 720px) {
      margin-left: 40px;
    }
  }
}
