.c-static-tag--item {
  padding: 6px 8px;
  border-radius: 3px;
  margin-right: $gutter--half;
  margin-bottom: $gutter--half;
  display: inline-block;
}

@media #{$sml-up} {
  .c-yellow-ribbon:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
    background: url("../../../images/ribbons/yellow-ribbon.svg") no-repeat
      center;
    width: 50px;
    height: 52px;
  }
  .c-warning-ribbon:after {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    right: 40px;
    background: url("../../../images/ribbons/warning.svg") no-repeat center;
    width: 50px;
    height: 52px;
  }
}

.c-search--saved {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: #f5f7fd;
  overflow: hidden;
  background-image: url("../../../images/illustrations/saved-search.png");
  background-repeat: no-repeat;
  background-position: -50px -27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 48px;
  background-size: 170px;

  @media (min-width: 768px) {
    background-position: -37px -33px;
    background-size: 250px;
    justify-content: flex-start;
    margin-bottom: 48px;
    flex-direction: row;
    padding: $gutter;
  }
}

.c-search--banner-title {
  opacity: 0.75;
  color: #00042b;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.c-search--saved-content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 79px;
  @media (min-width: 768px) {
    margin-left: 190px;
  }
}

.c-search--banner-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.c-search--none {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: #f5f7fd;
  overflow: hidden;
  background-image: url("../../../images/illustrations/unique-search.png");
  background-repeat: no-repeat;
  background-position: -8px -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 48px;
  background-size: 100px;

  @media (min-width: 768px) {
    background-position: 0px -2px;
    background-size: 150px;
    justify-content: flex-start;
    margin-bottom: 48px;
    flex-direction: row;
    padding: $gutter;
  }
}

%c-search--result,
.c-search--result {
  @extend %u-font-weight--bold;
  font-style: normal;
  color: #223358 !important;
  text-align: left;
  letter-spacing: 0px;
}

.c-search--result-app {
  @extend %c-search--result;
  font-size: 12px;
  line-height: 14px;
}

.c-search--result-title {
  @extend %c-search--result;
  font-size: 18px;
  line-height: 21px;

  &.c-search--result-title mark {
    font-style: italic;
    background-color: transparent;
    color: #223358;
  }
}

.c-search--result-code {
  @extend %u-font-weight--light;
  background: #ffffff;
  border: 1px solid #e8e8ed;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #6b768e;
  padding: 16px;
  white-space: pre-wrap;

  &.c-search--result-code mark {
    @extend %u-font-weight--bold;
    color: #6b768e;
    background: #f3f4f6;
  }
}
