/* ==========================================================================
   #FOOTER COMPONENT
   ========================================================================== */

/**
 * Footer component sits at the bottom of the page.
 *
 * 1. An inline comment on the example component.
 */

.c-footer {
  width: 100%;
  padding: $gutter;
  display: flex;
  position: absolute;
  @media (min-height: 500px) and (max-height: 968px) {
    margin-top: 175px;
  }
}

.c-footer--background {
  background-color: $colour-brand-alt-white;
}

.c-footer--logo {
  height: 28px;
  float: left;
  margin-right: $gutter--half;
}

.c-footer--logo-text {
  padding-top: 3px;
  @extend %u-font-weight--regular;
  font-size: 1em;
  margin-bottom: $gutter--half;
}

.c-footer--logo-text-bold {
  @extend %u-font-weight--bold;
}

.c-footer--navigation {
  text-align: left;
  @media #{$sml-up} {
    text-align: right;
  }
}

.c-footer--navigation-link {
  margin-right: $gutter--half;
}

.c-footer--copyright {
  font-size: 0.7em;
  @extend %l-margin-top--half-gutter;
  @extend %u-font-weight--light;
}
