.c-filter-content-area {
  display: flex;
  justify-content: center;
}

.c-filter-content-area--sidebar {
  flex: 0 0 25%;
  height: 100%;
  padding-right: $gutter;
  @media only screen and (max-width: 768px) {
    flex: 0;
    transform: translateX(-300px);
    position: relative;
    z-index: 1;
    display: none;
  }
}

.c-filter-content-area--content {
  flex: 0 0 75%;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
}

.c-filter-menu--list {
  margin-bottom: 35px;
  @extend %u-link-list;
}

.c-filter-menu--title {
  font-size: 16px;
  margin-bottom: $gutter--half;
}

.c-filter-menu--item {
  position: relative;
  width: 90%;
}

.c-filter-menu--more {
  @extend %u-font-weight--bold;
  font-size: 14px;
  margin-bottom: 21px;
  border: 2px solid $colour-light-grey;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;

  &:hover {
    border: 2px solid $colour-light-grey--hover;
  }
}

.c-filter-menu--link {
  color: $colour-grey;
  font-size: 14px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  @extend %l-padding--none;
  @extend %u-font-weight--regular;

  &:visited,
  &:active {
    color: $colour-grey;
  }

  &.active {
    color: $colour-brand-link-blue;

    &:after {
      content: "";
      background: url("../../../images/icons/cross.svg") no-repeat center;
      width: 13px;
      height: 13px;
      display: block;
      position: absolute;
      transform: translateY(-50%);
      right: 0;
      top: 50%;
    }
  }

  &:hover,
  &.active {
    color: $colour-brand-link-blue;
    background-color: transparent;
  }
}

.c-search-filter-bar--text {
  font-size: 14px;
  margin-right: 6px;
  @extend %l-flex;
}

.c-filter-menu--results-container {
  height: 30px;
  display: flex;
  align-items: baseline;
}

.c-filter-menu--button {
  display: none;
  @media only screen and (max-width: 768px) {
    border: none;
    border-top: 1px solid $colour-brand-black;
    display: block;
    width: 100%;
    background-color: $colour-orange-yellow;
    font-weight: 500;
    padding: $gutter--half;
  }
}

@media only screen and (max-width: 768px) {
  .c-sliding-drawer {
    border-top: 1px solid $colour-brand-black;
    position: absolute;
    padding: $gutter $gutter $gutter $gutter--double;
    background-color: white;
    width: 275px;
    box-shadow: 0 2px 5px $default--drop-shadow-color;
    cursor: pointer;
    border-bottom-right-radius: $default--border-radius;
    transform: translateX(-5px);
    transition: 0.24s ease-in-out;

    &.is-open {
      display: block;
      transform: translateX(275px);
      transition: 0.26s ease-in-out;
      z-index: 2;
    }
  }
}
