.c-app-requirements-container {
  margin: 0 10px 0 0;
  font-size: 0.9em;
  img {
    margin-right: 4px;
    max-width: 1em;
  }
}
@media #{$sml-down} {
  .c-app-requirements-container {
    display: flex;
  }
}

.c-app-requirements-list {
  list-style-type: none;
}
