@use "sass:math";

.c-page-header-bar {
  background-color: $colour-orange-yellow;
  padding-top: $gutter;
  padding-bottom: $gutter;
}

.c-page-header-bar--logo {
  width: 100%;
  max-width: 250px;
}

.c-library-menu--link {
  cursor: pointer;
  color: $colour-brand-black;
  font-size: 14px;

  &.icon {
    @media only screen and (min-width: 768px) {
      margin-right: $gutter;
    }
    display: flex;
    align-items: center;
  }

  &:hover {
    color: $colour-brand-black--hover;
  }

  &:visited,
  &:active {
    color: $colour-brand-black !important;
  }
}

.c-library-menu {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 768px) {
    padding-top: 0;
    position: absolute;
    top: 82px;
    right: 0;
    transition: transform 1s;
    transform: translate3d(100%, 0, 0);
    z-index: 10;
    will-change: transform;
    flex-direction: column;
    display: flex;
    background: white;
    width: 46vw;
    border-top: 1px solid $colour-brand-black;
    border-bottom-left-radius: $default--border-radius;
    box-shadow: 0 2px 5px $default--drop-shadow-color;
    overflow: hidden;

    &.is-open {
      transform: none;
      z-index: 1;
    }
  }

  @media only screen and (max-width: 768px) {
    width: 30vw;
  }

  @media only screen and (max-width: 330px) {
    width: 55vw;
  }

  @media only screen and (min-width: 331px) and (max-width: 420px) {
    width: 46vw;
  }
}

.c-library-menu nav {
  @media only screen and (max-width: 768px) {
    background: white;
  }
}

.c-library-menu a {
  @media only screen and (max-width: 768px) {
    color: $colour-brand-black;
    background: white;
    list-style: none;
    padding: $gutter;
    margin-left: 0;
    text-align: right;
    border-bottom: 1px solid $colour-light-grey;
  }
}

.c-library-menu--mobile {
  align-self: flex-end;
}

.c-library-menu-mobile--spacing {
  justify-content: space-between;
}

.c-library-menu--effect {
  @media only screen and(min-width: 768px) {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    display: block;
    width: 22px;
    height: 22px;
    position: relative;
    margin-bottom: 4px;
  }
}

.c-library-menu-effect--hamburger {
  background-color: $colour-brand-black;
  width: 100%;
  height: 3px;
  top: 50%;
  right: 0;
  opacity: 1;
}

.c-library-menu-effect--hamburger::before {
  @media only screen and (max-width: 768px) {
    width: 33px;
    height: 3px;
    position: absolute;
    content: "";
    display: block;
    border-radius: 2px;
    top: 10px;
    background-color: $colour-brand-black;
  }
}

.c-library-menu-effect--hamburger::after {
  @media only screen and (max-width: 768px) {
    width: 33px;
    height: 3px;
    position: absolute;
    content: "";
    display: block;
    border-radius: 2px;
    bottom: 10px;
    background-color: $colour-brand-black;
  }
}

.c-library-menu--link.l-margin-left--gutter:focus {
  @media only screen and (max-width: 768px) {
    height: 58px;
  }
}

/* Mobile pullout navigation styles
   ========================================================================== */

$menu-icon-size: 2.5rem;
$menu-icon-dash-width: 0.75em;
$menu-icon-dash-height: 0.05em;
$menu-icon-dash-gutter: $menu-icon-dash-height * 5;
$menu-icon-dash-colour: var(--brand-black);
$menu-icon-dash-border-radius: 0;

%menu-dash {
  width: $menu-icon-dash-width;
  height: $menu-icon-dash-height;
  position: absolute;
  display: block;
  top: 50%;
  left: math.div(1em - $menu-icon-dash-width, 2);
  background-color: $menu-icon-dash-colour;
  border-radius: $menu-icon-dash-border-radius;
}

.menu-icon {
  width: 1em;
  height: 1em;
  display: none;
  position: relative;
  margin-left: auto;
  font-size: $menu-icon-size;
  background-color: transparent;
  border: 0;
  padding: 0;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  z-index: 101;
  @extend %u-image-replace;

  @media only screen and (max-width: 768px) {
    display: inline-block;
  }

  .menu-icon--inner {
    @extend %menu-dash;
    margin-top: math.div($menu-icon-dash-height, -2);
    transition: 25ms ease-in-out;
  }

  &::before {
    @extend %menu-dash;
    content: "";
    margin-top: -$menu-icon-dash-gutter + math.div($menu-icon-dash-height, -2);
  }

  &::after {
    @extend %menu-dash;
    content: "";
    margin-top: $menu-icon-dash-gutter + math.div($menu-icon-dash-height, -2);
  }

  &.is-open {
    span {
      background-color: rgba($menu-icon-dash-colour, 0);
    }

    &::before,
    &::after {
      margin-top: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
