.c-votes {
  display: flex;
  flex-direction: column;
  padding: 6px 40px 0 0;
}

.c-votes--text {
  font-weight: bold;
  line-height: 14px;
  font-size: 14px;
  margin: 4px 0 4px 0;
  text-align: center;
}

.upvoted {
  color: $colour-brand-orange;
}
.downvoted {
  color: $colour-brand-dust-blue;
}
