.submission--form {
}

.submission-form--row {
  display: flex;
  margin-top: 21px;
}

.submission--fieldset {
  border: none;
  padding: 0;
}

.submission--label {
  margin-right: 90px;
  display: inline-block;
  height: 25px;
  width: 140px;
  opacity: 0.6;
  color: var(--brand-black);
  font-size: 15px;
  letter-spacing: 0.26px;
  line-height: 25px;
  align-self: flex-start;
}

.submission--input {
  height: 38px;
  width: 100%;
  border-radius: 3px;
  background-color: #f2f4f9;
  border: none;
  padding: 7px 12px;
  &.ng-invalid {
    border: none;
  }
  &.ng-invalid.ng-touched {
    border: 1px solid var(--brand-red);
  }
  @media (min-width: 768px) {
    width: 600px;
  }
}

.submission--radio {
  margin-right: 8px;
}

.submission--textarea {
  width: 100%;
  height: 125px;
  border-radius: 3px;
  background-color: #f2f4f9;
  border: none;
  padding: 7px 12px;
  &.ng-invalid.ng-touched {
    border: 1px solid var(--brand-red);
  }
  @media (min-width: 768px) {
    width: 600px;
  }
}

.submission--code-edit {
  width: 100%;
  background-color: #000;
  height: 400px;
  border-radius: 3px;
  color: #fff;
  @media (min-width: 768px) {
    width: 830px;
  }
}

.c-button {
  &.disabled {
    background: #cccccc;
    cursor: not-allowed;
  }
}

.submission-form--list {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    margin-bottom: 10px;
    .c-profile--check {
      margin-left: 0;
    }
  }
}

// styles for angular2-multiselect-dropdown package

.submission-multi {
  width: 600px;
  font-size: 15px;
}

.c-btn {
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
}

.selected-list .c-list .c-token {
  background: #000000;
}
.selected-list .c-list .c-token .c-label {
  color: #fff;
}
.selected-list .c-list .c-token .c-remove svg {
  fill: #fff;
}

.selected-list .c-angle-down svg,
.selected-list .c-angle-up svg {
  fill: #333;
}

.dropdown-list ul li:hover {
  background: #f5f5f5;
}

.arrow-up,
.arrow-down {
  border-bottom: 15px solid #fff;
}

.arrow-2 {
  border-bottom: 15px solid #ccc;
}

.list-area {
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0px 1px 5px #959595;
}

.select-all {
  border-bottom: 1px solid #ccc;
}

.list-filter {
  border-bottom: 1px solid #ccc;
}
.list-filter .c-search svg {
  fill: #888;
}
.list-filter .c-clear svg {
  fill: #888;
}

.pure-checkbox input[type="checkbox"]:focus + label:before,
.pure-checkbox input[type="checkbox"]:hover + label:before {
  border-color: #0079fe;
  background-color: #f2f2f2;
}

.pure-checkbox input[type="checkbox"] + label {
  color: $colour-brand-black;
}

.pure-checkbox input[type="checkbox"] + label:before {
  color: #0079fe;
  border: 1px solid #0079fe;
}

.pure-checkbox input[type="checkbox"] + label:after {
  background-color: #0079fe;
}

.pure-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: #cccccc;
}

.pure-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background-color: #cccccc;
}

.pure-checkbox input[type="checkbox"] + label:after {
  border-color: #ffffff;
}

.pure-checkbox input[type="radio"]:checked + label:before {
  background-color: white;
}

.pure-checkbox input[type="checkbox"]:checked + label:before {
  background: #0079fe;
}

.single-select-mode .pure-checkbox input[type="checkbox"]:focus + label:before,
.single-select-mode .pure-checkbox input[type="checkbox"]:hover + label:before {
  border-color: #0079fe;
  background-color: #f2f2f2;
}

.single-select-mode .pure-checkbox input[type="checkbox"] + label {
  color: #000;
}

.single-select-mode .pure-checkbox input[type="checkbox"] + label:before {
  color: transparent !important;
  border: 0px solid #0079fe;
}

.single-select-mode .pure-checkbox input[type="checkbox"] + label:after {
  background-color: transparent !important;
}

.single-select-mode
  .pure-checkbox
  input[type="checkbox"]:disabled
  + label:before {
  border-color: #cccccc;
}

.single-select-mode
  .pure-checkbox
  input[type="checkbox"]:disabled:checked
  + label:before {
  background-color: #cccccc;
}

.single-select-mode .pure-checkbox input[type="checkbox"] + label:after {
  border-color: #0079fe;
}

.single-select-mode .pure-checkbox input[type="radio"]:checked + label:before {
  background-color: white;
}

.single-select-mode
  .pure-checkbox
  input[type="checkbox"]:checked
  + label:before {
  background: none !important;
}

.selected-item {
  background: #e9f4ff;
}

.filter-select-all {
  padding: 10px;
}

.btn-iceblue {
  background: $colour-brand-link-blue;
  border: 1px solid #ccc;
  color: #fff;
}

.success-msg,
.error-msg {
  font-weight: bold;
  display: inline-block;
  margin: 20px 0 0 20px;
}

.success-msg {
  color: #328135;
}

.error-msg {
  color: #ff0000;
}

.spinny {
  display: inline-block;
  margin: 12px 0 0 30px;
}
