.c-section-title--emphasis {
  color: $colour-blue-grey;
}
.c-section-title--align {
  @extend %l-flex;
  @extend %l-justify-content--space-between;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.c-section-title--see-all {
  @extend %l-grid-cell--bottom;
  @extend %u-font-weight--regular;
  margin-bottom: 24px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  border-radius: 3px;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}
