.c-card-container {
  height: 100%;

  @extend %l-padding-bottom--gutter;
  @extend %l-display--flex;
}

.c-card-background--alt-white {
  background-color: $colour-brand-alt-white;

  &:hover {
    background-color: $colour-brand-alt-white;
  }
}

%c-card-item,
.c-card-item {
  height: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 10, 39, 0.2);
  }
}

.c-card-item-text {
  padding-top: 32px;
  position: relative;
  margin-bottom: 10.5px;
}

.c-card-item-text {
  text-decoration: none;
}

%c-card--link,
.c-card--link {
  &:hover {
    text-decoration: underline;
  }
}

.c-card--link::before {
  background-color: transparent;
  content: "";
  position: absolute;
  display: block;
  width: 33em;
  height: 14em;
  top: -2em;
  cursor: pointer;
  left: -2em;
  z-index: 4;
}

.c-collection--link {
  @extend %c-card--link;
}

.c-collection--link::before {
  content: "";
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -13em;
  white-space: nowrap;
  z-index: 4;
  width: 20em;
  height: 21em;
  left: -2em;

  @media screen and (min-width: 498px) and (max-width: 554px) {
    right: 0;
    top: -13em;
    width: 22em;
    height: 20em;
    left: -2em;
  }
  @media screen and (min-width: 555px) and (max-width: 743px) {
    right: 0;
    top: -17em;
    width: 30em;
    height: 24em;
    left: -2em;
  }
  @media screen and (min-width: 744px) and (max-width: 767px) {
    right: 0;
    top: -19em;
    width: 34em;
    height: 26em;
    left: -2em;
  }
  @media screen and (min-width: 768px) and (max-width: 882px) {
    right: 0;
    top: -11em;
    width: 18em;
    height: 19em;
    left: -2em;
  }
  @media screen and (min-width: 883px) and (max-width: 935px) {
    right: 0;
    top: -11em;
    width: 19em;
    height: 19em;
    left: -2em;
  }
  @media screen and (min-width: 936px) and (max-width: 1022px) {
    right: 0;
    top: -13em;
    width: 22em;
    height: 21em;
    left: -2em;
  }
  @media screen and (min-width: 1023px) and (max-width: 1165px) {
    right: 0;
    top: -10em;
    width: 17em;
    height: 19em;
    left: -2em;
  }
}

.c-card-item--category-title {
  top: 0;
  position: absolute;
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 10.5px;
  color: $colour-dark-blue-grey;
  z-index: 6;
  padding-right: 31px;

  a,
  a:hover,
  a:visited,
  a:active {
    color: $colour-dark-blue-grey;
  }
  @extend %u-font-weight--regular;
}

.c-card-item--card-title {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: $gutter--half !important;
  color: var(--brand-black) !important;
  @extend %u-font-weight--bold;
  @extend %l-margin-bottom--gutter;

  &:visited,
  &:active {
    color: var(--brand-black);
    text-decoration: none;
  }
}

%c-card-item--script-text,
.c-card-item--script-text {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 14px;
  @extend %u-text-link;

  position: relative;
  z-index: 2;

  @media only screen and (max-width: 768px) {
    z-index: 0;
  }
}

.c-collection-card-item--category-title {
  font-size: 12px;
  line-height: 1;
  color: var(--brand-blue-grey);
  @extend %u-font-weight--regular;
}

.c-collection-card--title {
  font-size: 18px;
  color: var(--brand-black);
  @extend %u-font-weight--regular;
}

.c-card-collection--text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: $gutter;
  padding-right: $gutter;

  @extend %l-padding-top--gutter;
  @extend %l-padding-bottom--gutter;
}

.c-card-item--new {
  @extend %u-font-weight--bold;
  position: absolute;
  height: 26px;
  width: 46px;
  border-radius: 0 4px 0 3px;
  background-color: #ffcc03;
  z-index: 3;
  right: 0;
  letter-spacing: 1.24px;
  line-height: 14px;
  font-size: 12px;
  padding-top: 6.5px;
  padding-bottom: 5px;
  text-align: center;
  top: 0;
  color: rgba(0, 10, 39, 0.75);
}

.c-card-collection--new {
  @extend %u-font-weight--bold;
  height: 26px;
  width: 46px;
  position: absolute;
  border-radius: 0 4px 0 3px;
  z-index: 4;
  right: 0;
  letter-spacing: 1.24px;
  line-height: 14px;
  font-size: 12px;
  padding-top: 6.5px;
  padding-bottom: 5px;
  text-align: center;
  top: 0;
  background-color: rgba(0, 10, 39, 0.5);
  color: #fff;
}
