.c-modal--overlay {
  position: fixed;
  background-color: rgba(0, 10, 39, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;

  &.attachment-modal {
    background-color: transparent;
    z-index: 201;
  }
}

.c-modal--holder {
  position: fixed;
  left: 50%;
  top: 44%;
  width: 80%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  background-color: $colour-brand-white;
  border-radius: 10px;
  z-index: 201;
  opacity: 1;
  &.copy-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 125%;
  }
}

.c-modal--header {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: $gutter;
}

.c-modal--title {
  margin-bottom: 0;
}

.c-modal--body {
  position: relative;
  padding: 21px 21px 0px 21px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.c-modal--actions {
  padding: 0 $gutter;
}

.c-modal-footer {
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: $gutter;
  display: flex;
}

.c-modal--close-button {
  position: absolute;
  top: -30px;
  right: 0;
  color: $colour-brand-white;

  &.attachment-modal {
    z-index: 1;
  }

  &:hover {
    color: $colour-brand-alt-white--hover;
  }
}

.c-modal--fieldset {
  border: none;
  padding: 0;
  width: 100%;
  display: flex;
}

.c-modal--label {
  opacity: 0.6;
  color: $colour-brand-black;
  font-size: 15px;
  letter-spacing: 0.26px;
  line-height: 25px;
  margin-right: 10px;
}

.c-modal--input {
  height: 38px;
  width: 100%;
  border-radius: 3px;
  background-color: #f2f4f9;
  border: none;
  padding: 7px 12px;
}

.c-modal--pop-up {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $gutter;
  padding-top: 27px;
  background-image: url("../../../images/illustrations/yellow-path.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -5px;
  position: relative;

  @media (max-width: 320px) {
    height: 310px;
  }
  @media (min-width: 768px) {
    padding-top: $gutter--double;
  }
  &.copy {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 500px;
    background-image: none;
    overflow: hidden;
    padding: 0;
    border-radius: 10px;
  }

  &.copy-2 {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 500px;
    background-position: 0px -212px;
  }

  &.copy-3 {
    display: flex;
    background-image: none;
    padding-top: $gutter;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #000a27;
    background-color: #ffea7a;
    width: 174px;
    height: 174px;
    border-radius: 50%;
    box-shadow: 0 10px 30px 0 rgba(0, 10, 39, 0.1);
    bottom: 178px;
    left: 12px;
    position: relative;
  }
}

.c-modal--pop-up-title {
  color: #000a27;
  font-size: 39px;
  font-family: $font-family--headings;
  display: flex;
  justify-content: flex-start;

  &.copy {
    font-size: 49px;
  }
  &.copy-3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #000a27;
    background-color: #ffea7a;
    width: 184px;
    height: 184px;
    border-radius: 50%;
  }
}

.c-modal--pop-up-img {
  display: none;
  @media (min-width: 768px) {
    display: block;
    width: 50%;
    align-self: flex-start;
  }
}

.c-modal--pop-up-text-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: $gutter;
  height: 100%;
  &.copy {
    height: auto;
    display: block;
    align-self: center;
  }
}

.c-modal--pop-up-text {
  color: #000a27;
  font-size: 18px;

  &.subtitle {
    font-size: 29px;
    line-height: 33px;
    font-family: $font-family--headings;
    text-align: left;
    height: 66px;
    width: 325px;
    font-weight: bold;
  }
  &.feedback {
    font-family: Roboto;
    font-size: 17px;
    text-align: center;
  }
}

.c-modal--bottom-bar {
  width: 100%;
  padding-bottom: $gutter;
  display: flex;
  justify-content: center;
  &.profile {
    justify-content: flex-end;
    padding-bottom: $gutter--half;
  }
  &.edit-bar {
    padding-bottom: 0;
  }
}

.c-modal--pop-up-link {
  color: $colour-brand-link-blue;
  font-size: 18px;
  font-weight: 500;
  text-align: center;

  &.dismiss {
    color: $colour-grey;
    font-weight: 400;
  }
}

.c-modal--pop-up-feedback {
  width: 100%;
  flex-direction: column;
}

.copy .c-modal--pop-up-feedback {
  margin-top: 20px;
}

.c-modal--feedback-face-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.c-modal--feedback-face {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.3s;
  margin-right: $gutter--half;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
    border-radius: 50%;
    border: 2px rgb(59, 153, 252) solid;
  }
  &:last-child {
    margin-right: 0;
  }
}

.c-modal--feedback-icon {
  height: 180px;
  width: 15px;
  // Commented out until we get the illustration
  // width: 180px;
  // border-radius: 50%;
  // display: flex;
  // flex-shrink: 0;
  // background-color: cornflowerblue;
  // margin-left: -15px;
}

.c-modal--blob {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  transition: 0.3s;

  &.bad {
    background-color: #ff055d;
  }

  &.indifferent {
    background-color: #ffea7a;
  }

  &.good {
    background-color: #669d06;
  }
}

.copy-2 {
  .c-modal--pop-up-text.feedback {
    margin-top: $gutter--double;
    font-size: 29px;
    line-height: 33px;
    font-family: $font-family--headings;
    font-weight: bold;
  }
}

.c-modal--feedback-text {
  width: 540px;
  height: 280px;
  border-radius: 4px;
  position: relative;
  border: 2px solid #eaeff8;
  resize: none;
}

.c-modal--form-group {
  position: relative;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  transform: translateY(70px);
}

.c-modal--form-label {
  position: absolute;
  top: 0;
  padding: 7px 0 0 12px;
  left: 0;
  transition: all 200ms;
  opacity: 0.5;
}

.c-modal--form-label-animated {
  font-size: 75%;
  transform: translate3d(-2%, -100%, 0);
  opacity: 1;
}

.c-modal--submit-button {
  border-radius: 2px;
  background-color: $colour-brand-dust-blue;
  padding: 8px 40px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: $colour-brand-alt-white;
}

.c-modal--content-top {
  display: flex;
  background-image: url("../../../images/illustrations/yellow-path.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -5px;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.c-modal--content-bottom {
  padding: $gutter;
}

.c-modal--feedback-selected {
  .c-modal--content {
    transform: translateY(-210px);
    transition: 0.3s;
  }
  .c-modal--pop-up-feedback {
    margin-top: 6px;
    transition: 0.3s;
  }
  .c-modal--pop-up-text {
    font-size: 25px;
    transition: 0.3s;
  }
  .c-modal--form-group {
    transform: translateY(0);
    transition: 0.3s;
  }
  .c-modal--feedback-face-wrapper {
    visibility: hidden;
    display: none;
  }
}

.c-modal--feedback-submitted {
  .c-modal--content {
    margin-top: -740px;
    transition: 0.3s;
  }
  &.c-modal--holder {
    transform: translate(-50%, -50%);
    background-color: transparent;
    transition: 0.3s;
  }
  .c-modal--thanks-screen {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    z-index: 0;
    transform: scale(1);
  }
  .c-modal--close-button {
    visibility: hidden;
  }
}

.c-modal--thanks-screen {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffea7a;
  border: none;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: 0.3s;
  transition-delay: 0.5s;
  transform: scale(0.5);

  &::before {
    content: "";
    display: block;
    position: relative;
    height: 190px;
    width: 100px;
    border-bottom-left-radius: 400px;
    border-top-left-radius: 400px;
    background-color: white;
    left: 3px;
    top: 4px;
  }
}

.c-modal--join-to-vote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;

  header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 32px;
    height: 70px;
    border-radius: 12px 12px 0 0;
    align-self: stretch;
  }

  button {
    width: 336px;
    height: 52px;
  }
}

.c-modal--join-to-vote-title {
  position: static;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 125%;
  color: $colour-brand-black;
}

.c-modal--join-to-vote-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;
  align-self: stretch;
}

.c-modal--join-to-vote-text {
  position: static;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: $colour-brand-black;
  margin: 24px 0;
}
