.c-requirements-block {
  @extend %l-display--flex;
}

.c-requirements-wrapper {
  margin-left: auto;
}

.c-requirements-block--title {
  margin-right: $gutter--half;
  font-size: 0.9em;
  color: $colour-grey;
  font-weight: 400;
  @extend %u-font-weight--light;
}

.c-requirements-tag {
  margin-right: $gutter--half;
}

.c--requirement-text {
  font-size: 0.9em;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 10px;
  @extend %u-font-weight--regular;

  img {
    height: auto;
  }

  svg,
  img {
    margin-right: 4px;
    max-width: 1em;
  }
}

.c-requirements-button {
  margin: 3px 2px 0 0;
  max-width: 0.9em;
  max-height: 0.9em;
}

.c-requirements-dropdown {
  height: min-content;
  background-color: white;
  border-color: $colour-light-grey--hover;
  font-size: 0.9em;
  border-radius: 0.3em;
  color: $colour-brand-black;
  @extend %u-font-weight--regular;
}
