.c-spinner--small {
  width: 16px;
  height: 16px;
}

.c-spinner--medium {
  width: 24px;
  height: 24px;
}

.c-spinner--large {
  width: 32px;
  height: 32px;
}

.c-spinner--white path {
  fill: $colour-brand-alt-white;
}

.c-spinner--brand-orange path {
  fill: $colour-brand-orange;
}

.c-spinner--brand-learn-blue path {
  fill: $colour-brand-learn-blue;
}

.c-spinner--brand-product-purple path {
  fill: $colour-brand-product-purple;
}

.c-spinner--brand-assist-lime path {
  fill: $colour-brand-assist-lime;
}

.c-spinner--brand-services-green path {
  fill: $colour-brand-services-green;
}

.c-spinner--brand-link-blue path,
.c-spinner--blue path {
  fill: $colour-brand-link-blue;
}

.c-spinner--brand-dust-blue path {
  fill: $colour-brand-dust-blue;
}

.c-spinner--brand-rose path {
  fill: $colour-brand-rose;
}

.c-spinner--brand-red path {
  fill: $colour-brand-red;
}

.c-spinner--brand-yellow path {
  fill: $colour-brand-yellow;
}

.c-spinner--brand-aqua path {
  fill: $colour-brand-aqua;
}

.c-spinner--brand-black path {
  fill: $colour-brand-black;
}

.c-spinner--brand-alt-white path {
  fill: $colour-brand-alt-white;
}

.c-spinner--orange-yellow path {
  fill: $colour-orange-yellow;
}

.c-spinner--blue-grey path {
  fill: $colour-blue-grey;
}

.c-spinner--dark-blue-grey path {
  fill: $colour-dark-blue-grey;
}

.c-spinner--light-grey path {
  fill: $colour-light-grey;
}

.c-spinner--grey path {
  fill: $colour-grey;
}

.a-spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
