%c-button,
.c-button {
  border: none;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 3px;
  @extend %u-font-weight--regular;

  img {
    height: auto;
  }

  .c-button--icon {
    max-width: 1em;
    margin-right: $gutter--half;
  }
}

.c-button--icon-left {
  padding-left: 2.5em;

  svg,
  img {
    position: absolute;
    left: 0.5em;
  }
}

.c-button--icon-right {
  padding-right: 2.5em;

  svg,
  img {
    position: absolute;
    right: 0.5em;
  }
}

.c-button--transparent {
  background-color: transparent;
}

.c-button--watch {
  margin-top: 10px;
  padding: 20px;
  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: 10px;
  }
  background-color: transparent;
  &:hover {
    background-color: $colour-light-grey;
  }
}

.c-button--colour-default,
.c-button--colour--link-blue {
  background-color: $colour-brand-link-blue;

  &:hover {
    background-color: $colour-brand-link-blue--hover;
  }
}

.c-button--colour--brand-learn-blue {
  background-color: $colour-brand-learn-blue;

  &:hover {
    background-color: $colour-brand-learn-blue--hover;
  }
}

.c-button--colour--brand-services-green {
  background-color: $colour-brand-services-green;

  &:hover {
    background-color: $colour-brand-services-green--hover;
  }
}

.c-button--colour--brand-link-blue {
  background-color: $colour-brand-link-blue;

  &:hover {
    background-color: $colour-brand-link-blue--hover;
  }
}

.c-button--colour--brand-black {
  background-color: $colour-brand-black;

  &:hover {
    background-color: $colour-brand-black--hover;
  }
}

.c-button--colour--brand-alt-white {
  background-color: $colour-brand-alt-white;

  &:hover {
    background-color: $colour-brand-alt-white--hover;
  }
}

.c-button--colour--light-grey {
  background-color: $colour-light-grey;

  &:hover {
    background-color: $colour-light-grey--hover;
  }
}

.c-button--colour--brand-blue {
  background-color: $colour-brand-link-blue;

  &:hover {
    background-color: $colour-brand-link-blue--hover;
  }
}

.c-button--grey {
  background-color: $colour-light-grey;

  &:hover {
    background-color: $colour-light-grey--hover;
  }
}

.c-button--text--default,
.c-button--text--link-blue {
  color: $colour-brand-link-blue;
}

.c-button--text--brand-orange {
  color: $colour-brand-orange;
}

.c-button--text--brand-learn-blue {
  color: $colour-brand-learn-blue;
}

.c-button--text--brand-services-green {
  color: $colour-brand-services-green;
}

.c-button--text--brand-link-blue {
  color: $colour-brand-link-blue;
}

.c-button--text--brand-aqua {
  color: $colour-brand-aqua;
}

.c-button--text--brand-black {
  color: $colour-brand-black;
}

%c-button--text--brand-alt-white,
.c-button--text--brand-alt-white {
  color: $colour-brand-alt-white;
}

.c-button--text--light-grey {
  color: $colour-light-grey;
}

%c-button--profile,
.c-button--profile {
  font-family: $font-family--headings;
  box-sizing: border-box;
  height: 40px;
  border: 2px solid #e8edf8;
  border-radius: 3px;
  background-color: #f6f8fd;
  color: $colour-brand-link-blue;
  font-size: 15px;
  letter-spacing: 0.26px;
  line-height: 17px;
  text-align: center;

  &.disabled {
    background-color: #d8dde7;
    border: 2px solid #d8dde7;
    color: #7b8496;
  }
  @media only screen and (max-width: 768px) {
    &.mobile {
      margin-top: $gutter;
    }
  }
}

label.c-button--profile {
  display: flex;
  align-items: center;
  padding: 0px 6px;
}

label.c-button--profile:focus-within {
  outline: 2px solid;
}

.c-button--search-icon {
  border: none;
  background-color: transparent;
  padding: 2px;
  margin: 0;
}

.c-button--share {
  display: none;
  @media #{$sml-up} {
    display: block;
    min-width: 162px;
    min-height: 35px;
    padding: $gutter--half;
    font-size: 14px;
  }
}

.c-button--vote--default {
  padding: 0 8px 0 8px;
  border: none;
  color: black;
  border-radius: 3px;
  background: $colour-light-grey;
  &:hover {
    background: $colour-light-grey--hover;
  }
}

.c-button--upvote--voted {
  padding: 0 8px 0 8px;
  border: none;
  color: $colour-brand-orange;
  border-radius: 3px;
  background-color: $colour-brand-orange;
  &:hover {
    background-color: $colour-brand-orange--hover;
  }
}

.c-button--downvote--voted {
  padding: 0 8px 0 8px;
  border: none;
  color: $colour-brand-dust-blue;
  border-radius: 3px;
  background-color: $colour-brand-dust-blue;
  &:hover {
    background-color: $colour-brand-dust-blue--hover;
  }
}

.c-button--large {
  padding: 16.5px;
  min-width: 195px;
}

.c-button--medium {
  padding: 12px;
  min-width: 195px;
}

.c-button--options {
  position: relative;
  padding: 12px;
  min-width: 132px;
  display: flex;
  justify-content: center;

  &:disabled {
    background-color: #d8dde7;
    border: 2px solid #d8dde7;
    color: #7b8496;
    cursor: default;
  }
}
.c-button--share-icon {
  position: relative;
  bottom: -2px;
  margin-right: 5px !important;
}

.c-button--tick-icon {
  position: relative;
  bottom: -2px;
}

.c-button--app-icon {
  position: relative;
  top: -1px;
}

.c-button--spinner {
  position: relative;
  bottom: -1px;
}

.c-pagination-holder {
  margin-bottom: $gutter;
}

.c-button--pagination {
  padding: 6px;
  margin: 0 6px;
  background-color: transparent;
  @extend %u-font-weight--light;
}

.current {
  background-color: blue;
  color: white;
}

.c-hero--back-button {
  font-size: 14px;
}

.c-button--delete {
  height: 16px;
  color: $colour-brand-rose;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
  border: none;
  padding: 0;
  margin-bottom: $gutter--double;
}

.c-button--save {
  @extend %c-button--profile;
  position: relative;
  &.disabled {
    background-color: #d8dde7;
    border: 2px solid #d8dde7;
    color: #7b8496;
  }
  @media (min-width: 768px) {
    left: 328px;
  }
}

a.c-button--edit {
  @extend %c-button--profile;
  background-color: #4775ff;
  color: $colour-brand-alt-white;
  border: 2px solid #4775ff;
  height: 36px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
  @media (min-width: 768px) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 58px;
  }
}

.c-button--suggest {
  box-sizing: border-box;
  height: 34px;
  border: 2px solid #4775ff;
  border-radius: 4px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.16px;
  line-height: 18px;
  color: #1e4dda;
  width: 150px;
  margin-top: $gutter--half;
  font-family: $font-family--headings;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-button--add-to-library {
  margin-right: 0;
  @extend %c-button;
}
