<app-manage-account-hero-partial></app-manage-account-hero-partial>
<div class="l-page--wrapper l-margin-top--double-gutter">
  <ng-container *ngIf="!loading && cards.length === 0">
    <p>
      You aren't watching any Entities yet.
      <a routerLink="/search">Explore Adaptavist Library to find more content</a
      >.
    </p>
  </ng-container>
  <ng-container *ngIf="cards.length > 0">
    <app-card-container
      columns="l-grid-lrg--1of4 l-grid-med--1of3 l-grid-sml--1of2 l-grid--full"
    >
      <app-entity-card-partial
        *ngFor="let card of cards"
        [card]="card"
        class="l-grid-cell l-padding-bottom--gutter"
      >
      </app-entity-card-partial>
    </app-card-container>
  </ng-container>
</div>
