.ais-RefinementList-item.ng-star-inserted {
  color: hsl(232, 96%, 42%) !important;
  font-weight: bold !important;
  list-style: none;
}

input.ais-RefinementList-checkbox {
  visibility: hidden !important;
}

:host ::ng-deep li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  position: relative;
  width: 90%;
}

:host ::ng-deep ul {
  padding: 0;
  margin: 0;
}
:host ::ng-deep span.ais-RefinementList-labelText ais-highlight {
  color: #807f90;
  font-size: 14px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  font-weight: normal;
  &:visited,
  &:active {
    color: #807f90;
  }

  &.active {
    color: #0420d2;

    &:after {
      content: "";
      background: url("../../../../assets/images/icons/cross.svg") no-repeat
        center;
      width: 13px;
      height: 13px;
      display: block;
      position: absolute;
      transform: translateY(-50%);
      right: 0;
      top: 50%;
    }
  }

  &:hover,
  &.active {
    color: #0420d2;
    background-color: transparent;
  }
}

:host ::ng-deep input[type="checkbox"] {
  visibility: hidden;
}

:host ::ng-deep .ais-RefinementList-label span.ais-RefinementList-count {
  color: hsl(244, 7%, 53%);
  font-size: 14px;
  margin-left: 4px;
  &:before {
    content: "(";
  }
  &:after {
    content: ")";
  }
}

:host ::ng-deep .ais-RefinementList-label input:checked ~ span > * {
  color: #0420d2;
  position: relative;

  &:after {
    content: "";
    background: url("../../../../assets/images/icons/cross.svg") no-repeat
      center;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    right: calc(100% - 200px);
    top: 50%;
  }
}

:host
  ::ng-deep
  #c-filter-menu--status-filter
  .ais-RefinementList-labelText
  span.ais-Highlight {
  position: relative;
  font-size: 0px;
  &:after {
    font-size: 14px;
    content: "Verified";
  }
}
