<div *ngIf="page == 'home'">
  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Apps</h3>
    <label *ngFor="let item of appNames">
      <li class="u-link-list">
        <a
          class="c-filter-menu--link"
          href="
          /search?{{ config.indexName }}[refinementList][app_pretty_names][0]={{
            item.value
          }}"
        >
          {{ item.value }}</a
        >
      </li>
    </label>
  </div>
  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Products</h3>
    <label *ngFor="let item of productNames">
      <li class="u-link-list">
        <a
          class="c-filter-menu--link"
          href="
          /search?{{ config.indexName }}[refinementList][product_names][0]={{
            item.value
          }}"
        >
          {{ item.value }}</a
        >
      </li>
    </label>
  </div>
  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Platforms</h3>
    <label *ngFor="let item of platformNames">
      <li class="u-link-list">
        <a
          class="c-filter-menu--link"
          href="
          /search?{{ config.indexName }}[refinementList][platforms][0]={{
            item.value
          }}"
        >
          {{ item.value }}</a
        >
      </li>
    </label>
  </div>
  <button (click)="refinementToggle()" class="c-filter-menu--more">
    {{ buttonName }}
  </button>
  <ng-container *ngIf="show">
    <div class="c-filter-menu--list">
      <h3 class="c-filter-menu--title">Types</h3>
      <label *ngFor="let item of typeNames">
        <li class="u-link-list">
          <a
            class="c-filter-menu--link"
            href="
            /search?{{ config.indexName }}[refinementList][type][0]={{
              item.value
            }}"
          >
            {{ item.value }}</a
          >
        </li>
      </label>
    </div>
    <div class="c-filter-menu--list">
      <h3 class="c-filter-menu--title">Status</h3>
      <label *ngFor="let item of status">
        <li class="u-link-list">
          <a
            class="c-filter-menu--link"
            href="
            /search?{{ config.indexName }}[refinementList][verified][0]={{
              item.value
            }}"
          >
            Verified</a
          >
        </li>
      </label>
    </div>
    <div class="c-filter-menu--list">
      <h3 class="c-filter-menu--title">Features</h3>
      <label *ngFor="let item of featureNames">
        <li class="u-link-list">
          <a
            class="c-filter-menu--link"
            href="
            /search?{{ config.indexName }}[refinementList][feature_names][0]={{
              item.value
            }}"
          >
            {{ item.value }}</a
          >
        </li>
      </label>
    </div>
    <div class="c-filter-menu--list">
      <h3 class="c-filter-menu--title">Tags</h3>
      <label *ngFor="let item of tagNames">
        <li class="u-link-list">
          <a
            class="c-filter-menu--link"
            href="
            /search?{{ config.indexName }}[refinementList][tag_names][0]={{
              item.value
            }}"
          >
            {{ item.value }}</a
          >
        </li>
      </label>
    </div>
  </ng-container>
</div>
<div *ngIf="page == 'search'">
  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Apps</h3>
    <ais-refinement-list
      attribute="app_pretty_names"
      class="clist"
    ></ais-refinement-list>
  </div>
  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Products</h3>
    <ais-refinement-list attribute="product_names"></ais-refinement-list>
  </div>
  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Platforms</h3>
    <ais-refinement-list attribute="platforms"></ais-refinement-list>
  </div>

  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Types</h3>
    <ais-refinement-list attribute="type"></ais-refinement-list>
  </div>
  <div class="c-filter-menu--list" id="c-filter-menu--status-filter">
    <h3 class="c-filter-menu--title">Status</h3>
    <ais-refinement-list attribute="verified"></ais-refinement-list>
  </div>
  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Features</h3>
    <ais-refinement-list
      attribute="feature_names"
      class="clist"
    ></ais-refinement-list>
  </div>
  <div class="c-filter-menu--list">
    <h3 class="c-filter-menu--title">Tags</h3>
    <ais-refinement-list attribute="tag_names"></ais-refinement-list>
  </div>
</div>
